



Meeting Venue                                          J. Palet Martinez
Internet-Draft                                          The IPv6 Company
Intended status: Informational                             March 5, 2018
Expires: September 6, 2018


         IETF Meeting Network and Other Technical Requirements
            draft-palet-ietf-meeting-network-requirements-02

Abstract

   This document describe the minimum technical requirements for a
   facility to be able to host a successful IETF meeting.  Includes also
   requirements for the terminal room and other technical requirements.

   This documents should be used as the minimum criteria during an on-
   site facility survey, to ensure the fulfilment of the IETF meeting
   needs.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on September 6, 2018.

Copyright Notice

   Copyright (c) 2018 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (https://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of



Palet Martinez          Expires September 6, 2018               [Page 1]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
   2.  Facility General Technical Requirements . . . . . . . . . . .   3
   3.  Internet Upstream . . . . . . . . . . . . . . . . . . . . . .   5
   4.  Wired Network . . . . . . . . . . . . . . . . . . . . . . . .   5
   5.  Wireless Network  . . . . . . . . . . . . . . . . . . . . . .   6
   6.  Network Services  . . . . . . . . . . . . . . . . . . . . . .   7
   7.  Terminal Room . . . . . . . . . . . . . . . . . . . . . . . .   7
   8.  NOC and Network Monitoring  . . . . . . . . . . . . . . . . .   8
   9.  Other Technical Criteria  . . . . . . . . . . . . . . . . . .   8
   10. Multi-property/building meetings  . . . . . . . . . . . . . .   9
   11. Technical Risks and Contingencies . . . . . . . . . . . . . .   9
   12. Timing and Planning . . . . . . . . . . . . . . . . . . . . .   9
   13. Venue Acceptance/Rejection Report . . . . . . . . . . . . . .  10
   14. Security Considerations . . . . . . . . . . . . . . . . . . .  10
   15. IANA Considerations . . . . . . . . . . . . . . . . . . . . .  10
   16. Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .  10
   Author's Address  . . . . . . . . . . . . . . . . . . . . . . . .  10

1.  Introduction

   This document describes network, terminal room and other technical
   criteria for the IETF facility selection process, including some
   details related to the planning.  All this details are required in
   order to accommodate the IETF meeting with technical guarantees of
   successful working capabilities for the attendees, as a result of
   previous experience and considering possible new future news in the
   medium term.

   This document lists what needs to be evaluated and various
   alternative solutions, or combinations thereof, that may apply.  The
   document shall be used in several steps of the venue/facility
   selection:

   o  Pre-on-site survey: Before a facility is qualified, from the
      technical perspective, for a possible on-site visit, and when non-
      technical requirements (such as venue requirements and facility
      meeting space availability) seem to be met already, in order to
      pre-evaluate that the technical requirements could also be
      satisfied.

   o  On-site survey: Experience shows that an on-site survey of the
      facility MUST be organized, typically in conjunction with a
      general on-site survey for ensuring that both technical and non-



Palet Martinez          Expires September 6, 2018               [Page 2]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


      technical meeting requirements are met.  The participation of a
      local IETF participant together with the NOC team may be very
      relevant, in order to ensure that as much information as possible
      is collected in advance, to facilitate communication issues, and
      specially to make sure that the all the facility relevant staff is
      present during the on-site survey.

   o  Pre-meeting: If a facility has been already selected/contracted,
      around 1-2 months before the actual meeting, a new on-site visit
      is organized which allows a very detailed scrutiny to nail down
      possible issues or needs, as well as connecting already an IETF
      managed router to the Internet upstreams, allowing announcing the
      IETF networks and doing some remote testing to facilitate
      resolving any possible issues before the actual meeting.

   Only if the pre-on-site-survey seems to indicate that the facility
   match the IETF technical requirements, then the on-site-survey will
   be organized.  In some cases, where several facilities are in the
   same venue or in a convenient distance, it may make sense to organize
   also on-site technical surveys for several facilities.

   Experience shows that things could go wrong when there is too strict
   a dependence on specific people or equipment and when no alternatives
   are provisioned for.  Consequently, contingencies are a very
   important consideration across all the process.

2.  Facility General Technical Requirements

   The facility being evaluated for hosting IETF, should comply with
   several generic technical requirements, which will allow an adequate
   installation of the network, terminal room and some other relevant
   technical details.  The facility chosen can have a dramatic impact on
   the ability to deliver a quality network to attendees, so the general
   requirements of this section are of key importance:

   o  MUST have a Telecommunications rooms and/or equivalent spaces
      (cabinets, etc.).  They MUST be secured and provide a mechanism
      for 24-hours access to the NOC team, even during the network
      setup.

   o  MUST have adequate ventilation to support the equipment rooms and
      the terminal room.

   o  SHOULD have as much physical separation as possible in the meeting
      room area to improve the RF environment.

   o  SOULD avoid air-walls and similar partitions systems, between
      meeting rooms, with low RF attenuation in the 2.4MHz spectrum.



Palet Martinez          Expires September 6, 2018               [Page 3]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


   o  SOULD provide a RF environment in all the meeting rooms to be used
      by IETF, common spaces, terminal room and registration area, that
      has a reasonable noise floor in the 2.4MHz spectrum.

   o  SHOULD provide an appropriate wiring plan (power and data) in
      order to know the existing infrastructure (fiber, connectors, UTP
      category/distances) and what can be used, what not, what can be
      done with it, etc.

   o  SHOULD have installed network cabling which can be used to deploy
      the IETF network, either by spare fiber pairs (other options may
      be possible), by sharing by means of VLANs/other means, or by
      providing exclusive usage to those fibers for the IETF network.
      The number of fibers required across the facility depends on the
      physical allocation of the meeting space, distribution structure
      in different buildings/floors, etc.  Some facilities have no
      wiring and that could be an important inconvenient, especially in
      order to quickly deploy the wireless network.  Feasibility/
      facility to setup new cables (fiber/UTP) MUST be considered.

   o  Roof access, in case a WLAN link is required, MUST be provided.

   o  If there is already a WLAN in the facility, SOULD be possible to
      turn it off at the meeting space area, otherwise dependencies to
      temperature, lighting, security, access control, POS and other
      systems MUST be properly evaluated.

   o  MUST have electrical power capacity to support the IETF equipment
      and terminal room needs.

   o  MUST have electrical power capacity to support the IETF network
      and its users, including 110/220 VAC in cabinets, roof locations,
      public areas and back-of-the-house areas.

   o  24 hours' power SOULD be available by means of UPS power to
      support key network infrastructure, such as core routers and
      switches and other devices required for the external connectivity.

   o  In venues where power is expected fo fail, UPS power should cover
      beamers, audio equipment, remote participation equipment and the
      complete wired and wireless network, at least for the average
      expected failure time per day.

   o  Facilities for AV SHOULD be convenient for the IETF needs: room
      dimensions for screens (height/width).

   o  SHOULD allow the use of wireless voice communication ("Walkie
      Talkies" or hand-held radios).  In some cases the secretariat can



Palet Martinez          Expires September 6, 2018               [Page 4]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


      bring its own equipment, but in some occasions it is required to
      be rented from the hotel.

3.  Internet Upstream

   o  The facility MUST have good network connectivity, with at least
      two different providers (main one and backup).  Ideally this
      SHOULD be achieved by means of two fibers with different (physical
      and logical) paths.  A single provider may work with two diverse
      paths all the way thru different subsequent upstream providers.

   o  IETF network SHOULD be able to run their own BGP, so the different
      links can be aggregated or load-balanced.

   o  The primary link MUST provide a minimum of 1 Gbit (symmetric).
      However, higher capacity may be appropriate in the future (10
      Gbits can be expected as something common in a couple of years).

   o  The backup link(s) SHOULD provide a minimum of 100 Mbit
      (symmetric).  However, higher capacity may be appropriate in the
      future (1 Gbit).

   o  Native IPv6 unicast MUST be available.  IPv6 Multicast SHOULD be
      available.

   o  IPv4 unicast and IPv4 multicast SHOULD be available, either
      natively or by means of a tunnel.

   o  The upstream providers MUST provide access to the IPv4 and IPv6
      default free zones without any kind of filtering or ACLs.
      Consequently MUST NOT prohibit end-to-end connectivity to any
      external sites.

   o  The IETF SHOULD be able to use its own AS, IPv4 and IPv6
      addressing space.  Otherwise, the upstream provider MUST supply an
      AS, an IPv4 /19, IPv6 /32 and reverse DNS delegation for that
      addressing space.

4.  Wired Network

   o  Wired links MUST be available for the registration desk/
      secretariat with configuration to support the registration desk
      firewall requirements.

   o  Wired links MUST be available in every meeting room which require
      network for audio/video as required for remote participation and/
      or recording.  Wired connectivity for chairs SHOULD be available.




Palet Martinez          Expires September 6, 2018               [Page 5]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


   o  Separate VLANs for wired-terminal room, wired-registration desk/
      secretariat, wired-remote participation and wireless traffic, MUST
      be supported.

   o  MUST support IPv6.

   o  MUST allow end-to-end connectivity, so MUST NOT have any kind of
      filtering.

   o  SHOULD support multicast (multicast is not currently used to
      support remote participation, but it may change at any point.

   o  SHOULD support mechanisms for detecting and mitigating rogue
      protocols/servers (IPv6 RA's, DHCP, etc.).

5.  Wireless Network

   o  The network MUST provide IEEE 802.11a/b/g service in all the
      meeting rooms (as identified by the Secretariat), the registration
      area, the terminal room and common/gathering areas.

   o  The WLAN coverage SHOULD also be sufficient in additional common
      spaces including lobby, bar(s), restaurant(s), most commonly used
      hallways, etc.  This is applicable to the main conference center
      and/or the main hotel(s), depending on the specific venue.

   o  IEEE 802.11n/ac coverage SHOULD be also available in as many as
      the above named spaces as possible, focusing on the most dense
      user density (plenary meeting room) first.

   o  The WLAN design MUST anticipate 200% usage according to the
      historical figures of participants in each meeting room, assuming
      that average attendee uses two devices.

   o  MUST support separate SSIDs for different specific VLANs (2.4GHz,
      5GHz, NAT64, etc.).

   o  The main(s) hotel(s) SHOULD support the IETF-hotel SSID.  This
      SHOULD be supported by means of a specific IETF provided VLAN.

   o  The WLAN MUST provide fully open (unsecured) wireless access and
      SHOULD provide additional secured (WEP, 802.11i, WPA) services.

   o  MUST support IPv6.

   o  SHOULD support mechanisms for detecting and mitigating rogue APs.





Palet Martinez          Expires September 6, 2018               [Page 6]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


6.  Network Services

   o  The network MUST provide local redundant DNS servers (IPv4 and
      IPv6).

   o  The network MUST provide redundant DHCP (IPv4) servers.

   o  The network SHOULD provide redundant DHCPv6 servers.

   o  The network MUST provide SMTP server (IPv4 and IPv6).

   o  The network SHOULD provide a full on-site mirror of the RFC and
      I-Ds directories (FTP/WWW, bothIPv4 and IPv6).

   o  IDS and other security issues SHOULD be covered (IPv4 and IPv6).

   o  The network SHOULD provide NTP services (IPv4 and IPv6).

   o  A pool of IP addresses for static assignment, even if discouraged
      to use, SHOULD be available (IPv4 and IPv6).

   o  Printing services MUST support IPP and SHOULD support LPD/LPR and
      Windows specific protocols (IPv4 and IPv6).

7.  Terminal Room

   o  A terminal room or equivalent MUST be provided.  It MAY be a
      single room or a set of smaller ones distributed nearby the
      meeting rooms.

   o  SHOULD be accessible 24 hours, however help-desk staff MAY not be
      available all the time.

   o  SHOULD have adequate number of 10/100 Ethernet RJ-45 ports/drops.

   o  Two printers MUST be available.  They SHOULD have duplex
      capability.

   o  A color printer MAY be available.

   o  Power strips MUST be provided.

   o  A help-desk SHOULD be available.

   o  The upstream provider SHOULD provide a trouble ticket system to
      track participants network issues.  This system SHOULD be
      accessible to the help-desk and NOC staff.




Palet Martinez          Expires September 6, 2018               [Page 7]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


8.  NOC and Network Monitoring

   A support group or NOC, is responsible to manage the network and
   other technical issues, including concrete aspects such as:

   o  Setup and maintain a meeting NOC web page with all the required
      information.

   o  Document what can be wrong with the WLAN to inform users (FAQs).
      Provide a document to attendees detailing configuration
      information (wireless, services such as printing/SMTP) on-site and
      prior to the meeting if possible (IETF meeting web site and NOC
      meeting web site).

   o  Make sure to test the network under heavy load.

   o  Primary and backup contacts for all the issues/topics should be
      available.

   o  Provide stats and info on network status.

   o  WLAN expertise and debugging/monitoring is required.

   o  SHOULD provide a white board with the stats and network status, in
      visible place, possibly in the terminal room and by means of a
      participants accesible web page.

   To cover the issues indicated above and ensure network performance,
   the NOC will use common network monitoring tools:

   o  The network MUST provide sufficient monitoring to ensure the
      expected availability/performance and to detect possible faults
      before they impact users experience.

   o  The network MUST collect data for future use and adequate
      provisioning of following meetings network.

   o  The upstream providers SHOULD provide SNMP read-only access to the
      network devices for the NOC.

9.  Other Technical Criteria

   Sufficient power strips MUST be available in the meeting rooms.
   Additional power strips also should be available in common gathering
   areas.

   Attendees SHOULD be notified of power connector requirements prior to
   the meeting (via the IETF meeting web page and IETF-announce mailing



Palet Martinez          Expires September 6, 2018               [Page 8]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


   list, possibly also via the meeting NOC web page).

   The upstream provider SHOULD maintain spares of critical network
   components on-site.

   TBD.  Audio requirements needed.  There is a disparity of audio
   quality from meeting to meeting.

10.  Multi-property/building meetings

   It should be noted that in some situations, the facility may be
   composed of several buildings/properties, such as a main hotel (the
   one with the meeting rooms) and secondary ones, or a conference
   center and one or several hotels.

   This may imply that the technical requirements in this document shall
   be met by at least by the building actually hosting the meeting
   rooms, however a subset of the requirements may be also relevant for
   the main hotel or even several of them.

   For example, it is desirable that the main facility is connected with
   a direct optic fiber to other facilities (secondary hotels).  This is
   key in case the main facility is a conference center and there is a
   main hotel or several ones.  This will allow probably setting up in
   one or several hotels the IETF-hotel SSID providing adequate
   bandwidth for our needs.

   There are alternative solutions, such as ensuring that the hotels
   have sufficient bandwith even if they aren't connected to the IETF
   network, and the difficulty is to define strict requirements for each
   of the possible cases.  However, the spirit of our needs in case
   there is not a "main hotel" being the same facility as the meeting
   rooms facility, should be considered by the on-site-survey team
   report in order to ensure a close match with our needs.

11.  Technical Risks and Contingencies

   TBD.

12.  Timing and Planning

   Typically the pre-on-site survey is done by an email questionnaire
   filled by the facility or even an phone/audio interview.  This SHOULD
   take place several years (around 3) before a possible on-site survey
   is decided for that venue.

   The on-site survey MUST take place at least 2-3 years in advance of a
   possible contract.  Whenever possible, several facilities in that



Palet Martinez          Expires September 6, 2018               [Page 9]

Internet-Draft     IETF Network and Tech. Requirements        March 2018


   venue MAY be surveyed in a single trip.

   The pre-meeting survey MUST take place 1-2 months in advance of the
   actual meeting, in order to confirm some technical aspects and deploy
   a router for some remote testing and monitoring.

13.  Venue Acceptance/Rejection Report

   After the on-site survey, the team responsible for that visit will
   provide a complete report to the IAOC meetings committee.  This
   report will provide inputs regarding both, the venue and the visited
   facilities.  Only those facilities that MAY qualify will be ranked by
   the survey team.

   The report MUST include non only technical aspects but also others
   related to the venue-selection-process itself, from both the venue
   and the ranked facilities.

14.  Security Considerations

   This document does not have any protocol-related security
   considerations.

15.  IANA Considerations

   This document does not have any specific IANA considerations.

16.  Acknowledgements

   The author would like to acknowledge the inputs of Brett Thorson, Jim
   Martin, Joel Jaeggli, Laura Nugent and Karen Odonoghue (alphabetical
   order).

Author's Address

   Jordi Palet Martinez
   The IPv6 Company
   Molino de la Navata, 75
   La Navata - Galapagar, Madrid  28420
   Spain

   Email: jordi.palet@theipv6company.com
   URI:   http://www.theipv6company.com/








Palet Martinez          Expires September 6, 2018              [Page 10]
