Network Working Group                                      Adrian Farrel
IETF Internet Draft                                    Olddog Consulting
Proposed Status: Informational
Expires: April 2004                                        November 2004


               draft-farrel-rtg-morality-requirements-00.txt

         Requirements for Morality Sections in Routing Area Drafts

Status of this Memo

   By submitting this Internet-Draft, I certify that any applicable
   patent or other IPR claims of which I am aware have been disclosed,
   and any of which I become aware will be disclosed, in accordance with
   RFC 3668.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as
   Internet-Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time. It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.
   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

Copyright Notice

   Copyright (C) The Internet Society (2004). All Rights Reserved.

Abstract

   It has often been the case that morality has not been given proper
   consideration in the design and specification of protocols produced
   within the Routing Area. This has led to a deline in the moral
   values within the Internet and attempts to retrofit a suitable
   moral code to implemented and deployed protocols has been shown to
   be sub-optimal.

   This document specifies the requirement for all new Routing Area
   Internet-Drafts to include a "Morality Considerations" section, and
   gives guidance on what that section should contain.


Farrel                                                            Page 1

draft-farrel-rtg-morality-requirements-00.txt               October 2004

Conventions used in this document

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

   The key words "SHALT", "SHALT NOT", "SMITE", and "PILLAR OF SALT" in
   this document are to be interpreted as expected.

1. Introduction

   It is well accepted by popular opinion and other reliable metrics
   that moral values are in decline and that degeneracy is on the
   increase. Young people are particularly at risk from the rising
   depravity in society and much of the blame for this can be placed
   squarely at the door of the Internet.

   When new protocols or protocol extensions are developed within the
   Routing Area, it is often the case that not enough consideration is
   given to the impact on the moral fiber of the Internet that the
   protocols cause. The result is that moral consequences are only
   understood once the protocols have been implemented and sometimes not
   until after they have been deployed.

   The resultant attempts to restore the appropriate behavior and purge
   the community of improper activities are not always easy or
   architecturally pleasant. Further, it is possible that certain
   protocol designs make morality particularly hard to achieve.

   Recognising that moral issues are fundamental to the utility and
   success of protocols designed within the IETF, and that simply
   making a wishy-washy liberal-minded statement does not necessarily
   provide adequate guarantees of a correct and proper outcome for
   society, this document defines requirements for the inclusion of
   Morality Considerations sections in all Internet-Drafts produced
   within the Routing Area. Meeting these requirements will ensure that
   proper consideration is given to moral issues at all stages of the
   protocol development process from Requirements and Architecture,
   through Specification and Applicability.

   The remainder of this document describes what subsections are needed
   within a Morality Considerations section, and gives advice and
   guidance about what information should be contained in those
   subsections.






Farrel                                                            Page 2

draft-farrel-rtg-morality-requirements-00.txt               October 2004

2. Presence and Placement of Morality Considerations Sections

2.1. Null Morality Considerations Sections

   It may be the case that the authors of Internet-Drafts have no or few
   morals. This does not relieve them of the need to understand the
   consequences of their actions.

   The more likely an author is to say that a null Morality
   Considerations section is acceptable, the more pressure must be
   exerterd on him by the Area and the appropriate Working Group to
   ensure that he gives full consideration to his actions, and reflects
   long and hard on the consequences of his writing and the value of his
   life.

   On the other hand, some authors are well known to have the highest
   moral pedigree: a fact that is plainly obvious from the company they
   keep, the Working Groups they attend, and their eligibility for
   NomCom. It is clearly unnecessary for such esteemed persons to waste
   effort on Morality Consideration sections. It is inconceivable that
   anything that they write would have anything other than a beneficial
   effect on the Routing Area and the Internet in general.

2.2. Mandatory Subsections

   If the Morality Considerations section is present, it MUST contain at
   least the following subsections. The content of these subsections is
   surely self-evident to any right-thinking person. Further guidance can
   be obtained from your moral guardian, your household gods, or from any
   member of the IMM (Internet Moral Majority).

   - Likelihood of misuse by depraved or sick individuals. This
     subsection must fully address the possiblity that the proposed
     protocols or protocol extensions might be used for the distribution
     of blue, smutty or plain disgusting images.
   - Likelihood of misuse by misguided individuals. There is an obvious
     need to protect minors and people with misguided thought processes
     from utilising the protocols or protocol extensions for purposes
     that would inevitably do them harm.
   - Likelihood of misuse by large, multi-national corporations. Such a
     thought is, of course, unthinkable.
   - Availablity of oversight facilities. There are those who would
     corrupt our morals motivated as they are by a hatred of the freedom
     of Internet access with which we are graced. We place a significant
     burden of responsibility on those who guard our community from
     these evil-doers and it is only fitting that we give them as much
     support as is possible. Therefore, all encryption and obfuscation
     techniques MUST be excluded - no-one who has nothing to hide need
     fear the oversight of those whose morals are beyond doubt.

Farrel                                                            Page 3

draft-farrel-rtg-morality-requirements-00.txt               October 2004

   - Inter-SDO impact. We must allow for other moral frameworks and
   
  fully respect other people's right to subscribe to other
     belief systems. Such people are, however, wrong and doomed to
     spend eternity in a dark corner with only dial-up access. So
     it has been written.
   - Care and concern for avian carriers. A duck may be somebody's
     mother.

   In the event that one or more of these subsections is considered to
   be not relevant, it MUST still be present, and MUST contain a full
   rebuttal of this deviant thought.

2.3. Optional Subsections

   Additional subsections may be added to accommodate zealots.

2.4. Placement of Morality Considerations Sections

   The Morality Considerations section MUST be given full prominence in
   each Internet Draft.

3. Morality Considerations

   The moral pedigree of the author of this draft places him and his
   writings beyond question.

4. IANA Considerations

   IANA should think carefully about the protection of their immortal
   souls.

5. Security Considerations

   Security is of the utmost important.

   A secure Internet community will ensure the security of all of its
   members.

6. Acknowledgements

   I would like to thank my guru Alex Dipandra-Zinin.

   No avian carriers were harmed in the production of this document.







Farrel                                                            Page 4

draft-farrel-rtg-morality-requirements-00.txt               October 2004

7. Intellectual Property Considerations

   Property is theft. What is yours is mine. What is mine, you keep
   your hands off.

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights. Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

8. Normative References

   I don't need to be told how to formulate my morals.

9. Informative References

   To be frank, I don't find many other documents informative.

10. Author's Address

   Adrian Farrel
   Old Dog Consulting
   Email: adrian@olddog.co.uk
   Phone: I'm not telling you that.

11. Full Copyright Statement

   Copyright (C) The Internet Society (2004). This document is subject
   to the rights, licenses and restrictions contained in BCP 78, and
   except as set forth therein, the authors retain all their rights.

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY AND THE INTERNET
   ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,

   INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE
   INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

Farrel                                                            Page 5