DetNet                                                         H. Wang
Internet Draft                                                 P. Wang
Intended status: Standards Track                               H. Yang
Expires: November 15, 2018                     Chongqing University of
                                          Posts and Telecommunications
                                                          May 14, 2018


         Joint Deterministic Scheduling Requirements for Industrial
                          Field/Backhaul Networks
                draft-wang-detnet-backhaul-requirements-03


Abstract

   This document analyzes the requirements of joint deterministic
   scheduling in industrial field/backhaul networks. The requirements
   include six aspects: determinacy, time synchronization,
   compatibility, scalability, scheduling cost and unified management.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups. Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other documents
   at any time. It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html

   This Internet-Draft will expire on November 15, 2018.

Copyright Notice

   Copyright (c) 2018 IETF Trust and the persons identified as the
   document authors. All rights reserved.




Wang, et al.          Expires November 15, 2018               [Page 1]

Internet-Draft       DetNet Backhaul Requirements             May 2018


   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document. Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document. Code Components extracted from this
   document must include Simplified BSD License text as described in
   Section 4.e of the Trust Legal Provisions and are provided without
   warranty as described in the Simplified BSD License.

Table of Contents


   1. Introduction ................................................ 2
   2. Network Structure ........................................... 3
   3. Joint Scheduling Requirements ............................... 4
      3.1. Determinacy ............................................ 4
      3.2. Time Synchronization ................................... 4
      3.3. Compatibility .......................................... 5
      3.4. Scalability ............................................ 5
      3.5. Scheduling Cost......................................... 5
      3.6. Unified Management ..................................... 5
   4. Security Considerations ..................................... 6
   5. IANA Considerations ......................................... 6
   6. References .................................................. 6
      6.1. Normative References ................................... 6
      6.2. Informative References ................................. 6
   Authors' Addresses ............................................. 7

1. Introduction

   Industrial network includes many types of industrial field networks,
   such as the three industrial wireless network standards:
   ISA100.11a[IEC62734], WirelessHART[IEC62591] and WIA-PA[IEC62601].
   Most industrial field networks are in a middle or small size, and
   the network coverage is constant, for example, a field network
   usually covers a production area of a plant. Therefore, there is a
   need for industrial backhaul network that makes data flow from an
   industrial field network to other field networks, or transmits data
   access to Manufacturing Execution System (MES) or Enterprise
   Resource Planning (ERP). Thus, a new network architecture, the
   deterministic industrial field/backhaul network, is proposed in this
   draft. Some questions of deterministic have been described in the
   draft [I-D.finn-detnet-problem-statement], and the architecture and
   application have been illustrated in [I-D.finn-detnet-architecture]
   and [I-D.bas-usecase-detnet] separately. 



Wang, et al.          Expires November 15, 2018               [Page 2]

Internet-Draft       DetNet Backhaul Requirements             May 2018


   The proposed network architecture is mainly applied to industrial
   production environment, which has strong demands on packet loss
   ratio of network data, low jitter and determinacy and so on. The
   backhaul network is a heterogeneous network including field wireless
   networks and wired networks. Industrial backhaul network contains a
   centralized controller, thus it can schedule the network resources
   of bandwidth and cache. However, some industrial field networks such
   as ISA100.11a, WirelessHART, have their own system manager and
   management mode. At the same time, there is no system manager for
   some types of networks. Thus, it is an issue remained to study about
   how to implement a joint scheduling under a complex industrial
   networks environment.

2. Network Structure

   Figure 1 shows a typical deterministic industrial field/backhaul
   networks structure. The field network is ISA100.11a, which is a
   standard of international industrial wireless network. ISA100.11a
   employs Time Division Multiple Access (TDMA) mechanism to realize
   the network time-slot, and provide a deterministic guarantee for
   sensor data. Data derived from the field networks is access to
   industrial backhaul networks. In the last, sensor data either
   transmits to another industrial field networks, or to the internet
   applications or the enterprise information management system like
   MES/ERP.























Wang, et al.          Expires November 15, 2018               [Page 3]

Internet-Draft       DetNet Backhaul Requirements             May 2018


   +------------------------+

   |   ISA100.11a field     |

   |   wireless network     | ------------+

   +------------------------+             |

                              +---------------------+    +-----------+

                              | Industrial backhaul |    |Internet or|

                              |       network       | ---|  MES/ERP  |

                              +---------------------+    +-----------+

   +------------------------+             |

   |   ISA100.11a field     | ------------+

   |   wireless network     |

   +------------------------+

                    Figure 1. Typical network structure

   Thus, in the above network structure, field network nodes deployed
   in a plant can communicate with the field network nodes deployed in
   another plant through the industrial backhaul network. Meanwhile,
   the internet or information management system can manage the sensor
   nodes of the field network remotely through the industrial backhaul
   network.

3. Joint Scheduling Requirements

3.1. Determinacy

   The data, which generates from industrial field network, is directly
   used to monitor industrial production process, so the requirement of
   data deterministic transmission is very significant, and data needs
   to arrive at its destination in a certain time. Industrial
   field/backhaul network is a joint network consisting of multiple
   industrial field networks and backhaul networks, so it also requires
   to meet the demands of deterministic transmission of the industrial
   field network data in the joint scheduling.




Wang, et al.          Expires November 15, 2018               [Page 4]

Internet-Draft       DetNet Backhaul Requirements             May 2018


3.2. Time Synchronization

   Because the industrial field/backhaul network is a data aggregation
   network, and needs scheduling method to ensure deterministic
   transmission for data stream. Thus, industrial field/backhaul
   network requires high time synchronization accuracy among all
   network devices. The accuracy of time synchronization should be held
   from the range of 10ns to 10ms according to different network
   applications. Presently, the existing time synchronization protocols
   include IEEE 1588 and IEEE 802.1, which are raised by Time Sensitive
   Networking (TSN) Task Group.

3.3. Compatibility

   Industrial field network and backhaul network both comprise
   different types of networks. Industrial field networks such as
   ISA100.11a, WirelessHART usually contains built-in system management,
   which can allocate network communication resources to data stream.
   But to achieve unified management of the industrial field network by
   the central controller. some mechanisms and interfaces are necessary
   when conducting joint scheduling to keep compatibility with
   industrial field/backhaul network.

3.4. Scalability

   Generally, the field network data cannot be transmitted across
   network. While in the deterministic industrial field/backhaul
   network, the characteristic of cross-networks should be supported.
   Therefore, The scalability of the backhaul network should be
   supported to ensure that different types of industrial field network
   data can be transmitted in the backhaul network.

3.5. Scheduling Cost

   The joint scheduling of industrial field/backhaul networks refers to
   different networks, when the network manager calculates the
   scheduling results, it should satisfy a low scheduling cost, such as
   low computation time, and otherwise it will bring extra delay to the
   transmission of data stream. Meanwhile, lower CPU load and memory
   footprint can make joint scheduling with better cross-platform
   compatibility.

3.6. Unified Management

   Most industrial wireless networks have their own network manager.
   Network manager is able to configure the time slots and channels of
   field networks. Meanwhile, some backhaul networks also have their


Wang, et al.          Expires November 15, 2018               [Page 5]

Internet-Draft       DetNet Backhaul Requirements             May 2018


   independent management units and protocols. For hybrid industrial
   field/backhaul networks, all industrial field network data are
   transmitted through the backhaul network.Therefore, it is an
   important issue to realize the unified management of cross-network
   data stream in multiple heterogeneous networks by combining every
   separate network manager.

4. Security Considerations

5. IANA Considerations

   This memo includes no request to IANA.

6. References

6.1. Normative References

6.2. Informative References

[IEC62734]
           ISA/IEC, "ISA100.11a, Wireless Systems for Automation,
           also IEC 62734", 2011, <http://www.isa100wci.org/enUS/
           Documents/PDF/3405-ISA100-WirelessSystems-Future-brochWEB-
           ETSI.aspx>.

[IEC62591]
           www.hartcomm.org, "Industrial Communication Networks -
           Wireless Communication Network and Communication Profiles
           - WirelessHART - IEC 62591", 2010,<
           <https://webstore.iec.ch/p-
           preview/info_iec62591%7Bed1.0%7Den.pdf>

[IEC62601]
           IEC, "Industrial networks - Wireless communication network
           and communication profiles - WIA-PA - IEC 62601", 2015,
           <https://webstore.iec.ch/preview/info_iec62601%7Bed2.0%7Db
           .pdf>

[I-D.finn-detnet-problem-statement]
           Finn, N. and P. Thubert, "Deterministic Networking Problem
           Statement", draft-finn-detnet-problem-statement-05 (work in
           progress), March 2016.

[I-D.finn-detnet-architecture]
           Finn, N., Thubert, P., and M. Teener, "Deterministic
           Networking Architecture", draft-finn-detnet-architecture-08
           (work in progress), August 2016.


Wang, et al.          Expires November 15, 2018               [Page 6]

Internet-Draft       DetNet Backhaul Requirements             May 2018


[I-D.bas-usecase-detnet]
           Kaneko, Y., Toshiba and Das, S, "Building Automation Use
           Cases and Requirements for Deterministic Networking", draft-
           bas-usecase-detnet-00 (work in progress), October 2015.

[IEEE802.1AS-2011]
           IEEE, "Timing and Synchronizations (IEEE 802.1AS-2011)",
           2011, <http://standards.ieee.org/findstds/standard/802.1AS-
           2011.html>.



Authors' Addresses

   Heng Wang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6248-7845
   Email: wangheng@cqupt.edu.cn


   Ping Wang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6246-1061
   Email: wangping@cqupt.edu.cn


   Hang Yang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6246-1061
   Email: 18716322620@163.com







Wang, et al.          Expires November 15, 2018               [Page 7]

