


roll                                                              Y. Doi
Internet-Draft                                       TOSHIBA Corporation
Intended status: Informational                          December 3, 2013
Expires: June 6, 2014


             Neighborhood Area Network Requirements for MPL
                 draft-doi-roll-mpl-nan-requirements-00

Abstract

   Neighborhood area networks (NAN) is expected to use MPL to distribute
   information over wireless mesh network with 6lowpan/802.15.4.  This
   document is to describe expected use case and requirements of NAN,
   based on OpenSG requirements.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on June 6, 2014.

Copyright Notice

   Copyright (c) 2013 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.




Doi                       Expires June 6, 2014                  [Page 1]

Internet-Draft           NAN Requirement for MPL           December 2013


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   2.  SG Network Requirement  . . . . . . . . . . . . . . . . . . . . 3
   3.  Use Cases and Requirements for MPL  . . . . . . . . . . . . . . 3
     3.1.  Network Scale Assumption  . . . . . . . . . . . . . . . . . 4
     3.2.  Commanding Use Case and Requirement . . . . . . . . . . . . 4
     3.3.  Per-Hop Requirement for Commanding  . . . . . . . . . . . . 4
     3.4.  File Transfer Use Case and Requirement  . . . . . . . . . . 4
     3.5.  Per-Hop Requirement for File Transfer . . . . . . . . . . . 4
   4.  Other Topics  . . . . . . . . . . . . . . . . . . . . . . . . . 5
     4.1.  Initial state (small start) and growth of networks  . . . . 5
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 5
   6.  Security Considerations . . . . . . . . . . . . . . . . . . . . 5
   7.  Normative References  . . . . . . . . . . . . . . . . . . . . . 5
   Appendix A.  Acknowledgement  . . . . . . . . . . . . . . . . . . . 6
   Author's Address  . . . . . . . . . . . . . . . . . . . . . . . . . 6


































Doi                       Expires June 6, 2014                  [Page 2]

Internet-Draft           NAN Requirement for MPL           December 2013


1.  Introduction

   Neighborhood area networks (NAN), mainly for smart meters, is
   expected to use MPL to distribute information over wireless mesh
   network with 6lowpan/802.15.4.  This document is to describe expected
   use case and requirements of NAN, based on public requirements.

   This document describes what's included in the requirement, how the
   requirements for a network and multicast are extracted, and some
   analysis on them.


2.  SG Network Requirement

   (SG Network Requirement) [UCAIug.SGRequirements] is a public document
   from UCAIug, and summarizes network communication requirements over
   smart grid network.  There are various components and communications
   described in the document.  Among them, use cases relates to
   multicast (one-to-many) communication over neighborhood area can be
   categorized to following two classes.

   o  Commanding

   o  Firmware Update / File Transfer

   Typical commanding usecases are Pricing and DR-DLC.  Typical pricing
   usecase is distribution of price information of energy from devices
   managed by utility company (data aggregation point).  DR-DLC stands
   for demand response and direct load control, and this includes
   critical peak pricing to reduce peak energy consumption (DR) and shut
   off of unnecessary devices on customer's side (DLC).  These
   commanding use case has short message with shorter end-to-end latency
   requirement.

   Firmware update and other file transfer is also required by NAN.
   This usecase does not impose shorter deadline, but usually the amount
   of data is far larger than commanding. 100 or few thousands of frames
   are required to accomplish file transfer task.


3.  Use Cases and Requirements for MPL

   In this section, we describe multicast-related use cases defined in
   SG Network Requirements.







Doi                       Expires June 6, 2014                  [Page 3]

Internet-Draft           NAN Requirement for MPL           December 2013


3.1.  Network Scale Assumption

   A mesh network may consist of up to 10,000 nodes within 10 hops at
   most.  This is an assumption made by this document.

3.2.  Commanding Use Case and Requirement

   According to SG Network Requirements, commanding use cases requires a
   message with average of 100 bytes.  They should be delivered to 98%
   of nodes in a NAN within 5 seconds.

3.3.  Per-Hop Requirement for Commanding

   5 seconds in 10 hops means 500 milliseconds per hop is allowed.  This
   includes encoding/decoding, trickle timers wait, etc.

   In MPL, data packets are sent after update of control information
   base.  If PROACTIVE_FORWARDING is false, data message transmission
   occurs after control message transmission and detection of
   inconsistency.  If it's true, data transmission will occur without
   control message transmission.  Hence, If PROACTIVE_FORWARDING is
   false, sum of minimal intervals of control and data messages should
   be lower than 500ms.  If PROACTIVE_FORWARDING is true, minimal
   interval of data messages should be lower than 500ms.

3.4.  File Transfer Use Case and Requirement

   Following two cases are defined for file transfer.

   o  Case 1: Transmission of 2MB to 98% of nodes within 7 days
      (Firmware updates)

   o  Case 2: Transmission of 50kB to 98% of nodes within 3 days (File
      transfers)

   Assuming MTU=1500, we can estimate how many bytes we need to transfer
   to satisfy the use cases.

   o  approx 1400 packets in 7 days for firmware updates (case 1)

   o  approx 100 packets in 3 days for file transfers (case 2)

3.5.  Per-Hop Requirement for File Transfer

   Case 1: - 2MB/7 days = 3.5 bytes per second - 1500 octet payload =>
   approx 1 data packet in 7 minutes - approx 1400 packets in 7 days (1
   packet in 432 seconds)




Doi                       Expires June 6, 2014                  [Page 4]

Internet-Draft           NAN Requirement for MPL           December 2013


   Case 2: - 50KB/3 days = 0.19 bytes per second - 1500 octet payload =>
   approx 1 data packet in 2 hour 20 min. - approx 100 packets in 3 days
   (1 packet in 2592 seconds)


4.  Other Topics

   This section accommodates other topics for manageable multicast over
   mesh networks.

4.1.  Initial state (small start) and growth of networks

   Smart meter networks are likely to start from small network around a
   data aggregation point (DAP) and grows as normal meters replaced by
   smart meters.  Hence, network size shall change time to time.  In
   such use cases, some default set of parameters may not appropriate
   for lifetime of a network.

   Hence, a method (management interface) to update MPL parameters in a
   network is required.  Candidates are SNMP, netconf, DHCPv6, or CoMI
   [I-D.vanderstok-core-comi].

   Requirements for management interface are as follows:

   o  Simple and short packet

   o  Updateable

   o  Can work without per-device configuration prior to install

   o  Be able to 'broadcast' the configuration


5.  IANA Considerations

   This document does not make any request to IANA.


6.  Security Considerations

   No new security threat is identified by this requirement.


7.  Normative References

   [I-D.vanderstok-core-comi]
              Stok, P., "CoAp Management Interfaces",
              draft-vanderstok-core-comi-00 (work in progress),



Doi                       Expires June 6, 2014                  [Page 5]

Internet-Draft           NAN Requirement for MPL           December 2013


              June 2013.

   [UCAIug.SGRequirements]
              "Smart Grid Network System Requirements Specification",
              October 2010, <http://osgug.ucaiug.org/UtiliComm/Shared
              Documents/Forms/DispForm.aspx?ID=702>.


Appendix A.  Acknowledgement

   This document are based on discussions with ZigBee NAN working group
   members and detailed documents from UCAIug.


Author's Address

   Yusuke Doi
   TOSHIBA Corporation
   Komukai Toshiba Cho 1
   Saiwai-Ku
   Kawasaki, Kanagawa  2128582
   JAPAN

   Phone: +81-45-342-7230
   Email: yusuke.doi@toshiba.co.jp
   URI:

























Doi                       Expires June 6, 2014                  [Page 6]

