IETF Internet Draft                                           H. Y. Lach
Expires: August 2002                                             J. Boot
                                                            C. Janneteau
                                                            A. Olivereau
                                                             A. Petrescu
                                                                Motorola

                                                           February 2002

	   Mobile Networks Scenarios, Scope and Requirements
		 <draft-lach-monet-requirements-00.txt>

Status of this Memo 
 
   This document is an Internet-Draft and is in full conformance with
   all provisions of Section 10 of RFC2026.
    
   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.
    
   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other
   documents at any time.  It is inappropriate to use Internet-Drafts
   as reference material or to cite them other than as "work in
   progress."
    
   The list of current Internet-Drafts can be accessed at 
        http://www.ietf.org/ietf/1id-abstracts.txt 
   The list of Internet-Draft Shadow Directories can be accessed at 
        http://www.ietf.org/shadow.html. 

Abstract 
    
   This draft proposes scenarios, scope and requirements for mobile
   networks, i.e. IP networks that change their points of attachment
   to the Internet.  The text is in support of chartering an IETF
   Working Group whose purpose is to develop IP-level solutions for
   the mobility of an IP-subnet.
  
Table of Contents 
    
   Status of this Memo................................................i
   Abstract...........................................................i
   Conventions used in this document..................................1
   1. Introduction....................................................1
   2. Definitions.....................................................1
   3. Scenarios.......................................................1
   4. Scope...........................................................2
   5. Requirements....................................................3
   References.........................................................4
   Authors' Address...................................................4



Lach et al.		  Expires August 2002                   [Page i]

Internet Draft	      Mobile Networks Requirements         February 2002

    

Conventions used in this document 
    
   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in
   this document are to be interpreted as described in RFC-2119 [1].
 
1. Introduction 
   
   Node mobility has been previously addressed in various IETF WGs.
   However, the problems of IP-subnet mobility have not constituted
   the focus of any WG, it has always been noticed as a side effect of
   other protocols.  With the rise of interests in vehicular networks
   and personal area networks (PAN), which imply aggregated mobility
   of nodes and devices therein, the overall IP connectivity framework
   needs to be extended to provide support of mobile networks, in
   addition of mobile nodes.

   This draft starts with a description of mobile network scenarios,
   followed by a recommendation of the scope for the development of
   technical solutions, and ends with a recommendation of technical
   requirements for the solutions.
    
2. Definitions 

   Definitions that pertain to mobile networks protocols are mainly
   derived from Mobile IP [5] and Mobile IPv6 [4].  Mobile-network
   terminology is defined in [2].
    
3. Scenarios

   The formation of a mobile network can exist in various levels of
   complexity.  In the simplest case, a mobile network contains just a
   mobile router and a host.  In the most complicated case, a mobile
   network is itself a multi-level aggregation of mobile networks with
   collectively thousands of mobile routers and hosts.

   The idea of the mobile router is taken for granted to refer to the
   router in a mobile network that attaches the mobile network
   dynamically to various parts of an IP infrastructure.  Each mobile
   node and router can have one or more IP interfaces.

   Here are the scenarios of various instances of mobile networks:

     - A cellphone with one cellular interface and one Bluetooth
       interface together with a Bluetooth-enabled PDA constitute a
       very simple instance of a mobile network.  The cellphone is the
       mobile router while the PDA is used for web browsing or runs a
       personal web server.




Lach et al.		  Expires August 2002                   [Page 1]

Internet Draft	      Mobile Networks Requirements         February 2002



     - A train's passengers use their laptops with Wireless LAN cards
       to connect to Wireless LAN Access Points deployed in the train.
       The mobile router is used to link together the Access Points
       and to provide connectivity to the Internet.  Similar scenario
       can occur as well on a plane, on a ship, and any moving
       vehicles.

     - A car network links its electronic devices (such as brake or
       injection electronics but also the onboard computer offering
       maps on LCD's or the audio player) to the mobile router that is
       connected to the Internet via a cellular network.

     - Multi-level aggregation of mobile networks can be desirable.
       For example, a person carrying a personal area network of a
       cellphone and a PDA getting into a car, might wish to offer
       Internet access to the car's electronic devices, or it might
       want to use the car's own mobile router to connect his/her PDA
       to the Internet (instead of the cellphone).

     - More complex cases, but still real, arise when a larger number
       of larger sets of equipments interact.  One specific case is a
       typical Fire Department deployment in action.  A MESA [6]
       firefighter would carry a personal area network (with a mobile
       router and numerous IP-enabled devices).  The firefighter's
       mobile router has a wireless connection to a vehicle whose
       mobile router is attached to a private public-safety backbone
       via a wireless link (maybe satellite link).  Being part of the
       public-safety network, the firefighter can receive data such as
       building plans, and send data such as photographs, thermal
       images, lifesign information, etc.

4. Scope

   A mobile network needs to provide its nodes access to an internet;
   and logically it does so by means of its mobile router, which is
   responsible for maintaining the mobile network's connectivity to
   the IP infrastructure.  Typically, when a mobile network is on the
   move, its mobile router will need to change its point of attachment
   to the IP infrastructure while moving into and out of different
   network segments (typically radio cells) of the same or different
   access networks.

   A mobile network is assumed to be an IP-subnet, which MAY be
   composed of a subtree of IP-subnets.  Today, the size of a typical
   mobile network ranges from several nodes in a car to hundreds in a
   passenger train, a ship or a jetliner.  Moreover, if embedded
   IP-enabled devices are taken into account, this number is likely to
   increase significantly in the near future.




Lach et al.		  Expires August 2002                   [Page 2]

Internet Draft	      Mobile Networks Requirements         February 2002



   Since the nodes in a mobile network can behave as independent
   mobile nodes with existing node-mobility supporting protocols
   (i.e. Mobile IP), the scope of a mobile network necessitates that
   network-mobility supporting protocols offer more efficient and
   effective communication and mobility support for all the nodes
   inside the mobile network (than the per-node pure Mobile IP).

   The IPv6 environment is most likely to be more important than the
   IPv4 environment for the support of mobile networks.  Solutions
   SHALL be developed for at least the IPv6 environment.

5. Requirements

   When designing mobile networks solutions, the following overall
   requirements MUST be taken into account:

     - The solutions SHALL be developed at the IP level for extended
       support of IP connectivity.  They SHALL be transparent to upper
       layer protocols.

     - The overall basic addressing and routing architecture and
       principle SHALL not be altered unless absolutely necessary.
       The solutions SHOULD introduce only absolutely necessary and
       minimal change of other existing protocols.

     - The solutions SHALL be based on the minimum of existing node
       mobility support, i.e. pure Mobile IP, in order to preserve the
       maximum generality with respect to potential optimisation in
       node and network mobility.

     - The solutions SHALL have their security issues fully addressed.
       Any new signalling between any pair of entities in the
       solutions SHALL respect the need of authentication and
       authorisation, taking into account [3].

     - The solutions SHALL support a mobile network whose mobile
       router is frequently topologically mobile with respect to the
       IP infrastructure.

     - The solutions SHALL enable the departure and return of its
       local nodes and local IP-subnets.

     - The solutions SHALL enable the visit and departure of foreign
       nodes and foreign mobile networks.

     - With respect to maintaining IP connectivity for the nodes in a
       mobile network when its mobile router moves topologically in
       the IP infrastructure, the performance of the solutions SHALL
       not be worse than if the pure Mobile IP is used for individual
       node-mobility support.


Lach et al.		  Expires August 2002                   [Page 3]

Internet Draft	      Mobile Networks Requirements         February 2002



     - The solutions SHOULD allow for co-existence with the AAA and
       access control frameworks (e.g. PANA) unless it is obvious that
       extra mobile network-specific concerns need to be addresses in
       these frameworks.  Maximum transparency SHOULD be aimed.

     - The solutions solution SHOULD allow for co-existence with the
       QoS and multicast protocols unless it is obvious that extra
       mobile network-specific concerns need to be addresses in these
       frameworks..  Maximum transparency SHOULD be aimed.

References 

   [1] Bradner, S., "Key words for use in RFCs to Indicate Requirement
        Levels", BCP 14, RFC 2119, March 1997.

   [2] Ernst, T. and Lach, H. Y., "Network Mobility Support
        Terminology", draft-ernst-monet-terminology-00.txt, IETF
        Internet Draft, February 2002. (Work in Progress).

   [3] Harkins, D., Mankin, A., Narten, T., Nikander, P., Nordmark, E.,
        Patil, B. and Roberts, P., "Threat Models introduced by Mobile
        IPv6 and Requirements for Security",
        draft-ietf-mobileip-mipv6-scrty-reqts-02.txt, IETF Internet
        Draft, November 2001. (Work in Progress).

   [4] Johnson, D. B. and Perkins, C., "Mobility Support in IPv6",
        IETF Internet Draft, draft-ietf-mobileip-ipv6-15.txt, July
        2001. (Work in Progress).
    
   [5] Perkins, C., ed., "IP Mobility Support for IPv4", RFC 3220,
        January 2002.

   [6] Project MESA, "Mobile Broadband for Emergency and Safety
        Applications (MESA)", http://www.projectmesa.org, accessed
        February 2002.




Authors' Addresses 
    
   Christophe Janneteau                Alexis Olivereau        
   Motorola Labs                       Motorola Labs       
   Espace Tech de St Aubin             Espace Tech de St Aubin
   Gif-sur-Yvette 91193                Gif-sur-Yvette 91193            
   France                              France                          
                               
   Phone:  +33 1 69352548              Phone:  +33 1 69352516
   Email:  jannetea@crm.mot.com        Email:  oliverea@crm.mot.com    



Lach et al.		  Expires August 2002                   [Page 4]

Internet Draft	      Mobile Networks Requirements         February 2002



   Hong-Yon Lach                       Alexandru Petrescu         
   Motorola Labs                       Motorola Labs         
   Espace Tech de St Aubin             Espace Tech de St Aubin
   Gif-sur-Yvette 91193                Gif-sur-Yvette 91193            
   France                              France                          
                               
   Phone:  +33 1 69352536              Phone:  +33 1 69354827              
   Email:  lach@crm.mot.com            Email:  petrescu@crm.mot.com    


   John Boot
   Motorola Labs
   1303 E. Algonquin Road
   Schaumburg, IL 60196          
   U.S.A                 
   					       
   Phone:  +1 (847) 5389904
   Email:  johnboot@motorola.com


































Lach et al.		  Expires August 2002                   [Page 5]

