

ECRIT                                                     H. Schulzrinne
Internet-Draft                                       Columbia University
Intended status: Informational                                  L. Liess
Expires: February 27, 2008                              Deutsche Telekom
                                                           H. Tschofenig
                                                  Nokia Siemens Networks
                                                         August 26, 2007


          Location Hiding: Problem Statement and Requirements
      draft-schulzrinne-ecrit-location-hiding-requirements-01.txt

Status of this Memo

   By submitting this Internet-Draft, each author represents that any
   applicable patent or other IPR claims of which he or she is aware
   have been or will be disclosed, and any of which he or she becomes
   aware will be disclosed, in accordance with Section 6 of BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on February 27, 2008.

Copyright Notice

   Copyright (C) The IETF Trust (2007).

Abstract

   The emergency services architecture developed in the IETF Emergency
   Context Resolution with Internet Technology (ECRIT) working group
   describes an architecture where location information is provided by
   access networks to end points in order to determine the correct dial
   string and information to route the call to a Public Safety Answering



Schulzrinne, et al.     Expires February 27, 2008               [Page 1]

Internet-Draft        Location Hiding Requirements           August 2007


   Point (PSAP).  For determining the PSAP Uniform Resource Identifier
   (URI) the usage of the Location-to-Service Translation (LoST)
   Protocol is envisioned.

   This document explores the architectural impact for the IETF
   emergency services architecture for situations where the Internet
   Access Provider (IAP) and/or the Internet Service Provider (ISP) are
   only willing to disclose limited or no location information.

   This document provides a problem statement and lists requirements.


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
     1.1.  Emergency Services Architecture . . . . . . . . . . . . . . 3
     1.2.  Location Hiding . . . . . . . . . . . . . . . . . . . . . . 3
     1.3.  Location by Reference . . . . . . . . . . . . . . . . . . . 3
   2.  Terminology . . . . . . . . . . . . . . . . . . . . . . . . . . 4
   3.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . . . 4
     3.1.  High-Level Requirements . . . . . . . . . . . . . . . . . . 4
     3.2.  Detailed Requirements . . . . . . . . . . . . . . . . . . . 5
     3.3.  Desirable Properties  . . . . . . . . . . . . . . . . . . . 6
   4.  Security Considerations . . . . . . . . . . . . . . . . . . . . 6
   5.  Acknowledgments . . . . . . . . . . . . . . . . . . . . . . . . 6
   6.  References  . . . . . . . . . . . . . . . . . . . . . . . . . . 7
     6.1.  Normative References  . . . . . . . . . . . . . . . . . . . 7
     6.2.  Informative References  . . . . . . . . . . . . . . . . . . 7
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . . . 8
   Intellectual Property and Copyright Statements  . . . . . . . . . . 9





















Schulzrinne, et al.     Expires February 27, 2008               [Page 2]

Internet-Draft        Location Hiding Requirements           August 2007


1.  Introduction

1.1.  Emergency Services Architecture

   The emergency services architecture developed in the IETF Emergency
   Context Resolution with Internet Technology (ECRIT) working group,
   see [I-D.ietf-ecrit-framework], describes an architecture where
   location information is provided by access networks to end points in
   order to determine the correct dial string and information to route
   the call to a Public Safety Answering Point (PSAP).  The Location-to-
   Service Translation (LoST) Protocol [I-D.ietf-ecrit-lost] allows to
   determine the PSAP Uniform Resource Identifier (URI) for a specific
   geographical location together with a service URI
   [I-D.ietf-ecrit-service-urn].  The basic architecture is shown in
   Figure 1 of [I-D.ietf-ecrit-framework] and further detailed in the
   message flow in Figure 2 of [I-D.ietf-ecrit-framework].

   For emergency services, location information is needed for two
   different purposes, namely for routing an emergency call to the PSAP
   that is responsible for a specific geographical region (and also for
   requested service, such as police or ambulance) and for dispatch of
   the emergency personell to the scene of an accident, crime or other
   types of incidents.

   It is very important to note that this document only discusses
   location hiding in the context of location information that is need
   for call routing.  ISPs have no interest or even legal basis for
   hiding location information from emergency services personnel.

1.2.  Location Hiding

   In some cases, Internet Access Providers (IAPs) and/or the Internet
   Service Providers (ISPs) are afraid that allowing users to access
   location information for non-emergency purposes or prior to an
   emergency call will incur additional server load and thus costs.
   Hence, they do not to disclose precise location information (at the
   quality suitable for dispatch emergency personell by the PSAP
   operator) or not to disclose any location information.

   In some other cases IAPs and ISPs may not want to make location
   information available without the ability to charge for it.  This is
   a pure business decision.

1.3.  Location by Reference

   The work on the Location Configuration Protocol (LCP) indicated the
   need to provide the capability to obtain Location-by-References
   (LbyRs) in addition to Location-by-Value (LbyV) from a Location



Schulzrinne, et al.     Expires February 27, 2008               [Page 3]

Internet-Draft        Location Hiding Requirements           August 2007


   Information Server (LIS).

   The LCP problem statement and requirements document can be found in
   [I-D.ietf-geopriv-l7-lcp-ps].  The requirements for obtaining an LbyR
   via the LCP and the corresponding dereferencing step can be found in
   [I-D.marshall-geopriv-lbyr-requirements].

   HTTP Enabled Location Delivery (HELD), see
   [I-D.ietf-geopriv-http-location-delivery], is an instantiation of the
   LCP concept and allows LbyVs and LbyRs to be requested.

   A location reference may already satisfy the requirement for location
   hiding if the PSAP has the appropriate credentials to resolve the
   reference.  This requires a trust relationship between the PSAP and
   the ISP.

   Unfortunately, a location reference is not compatible with LoST, as
   LoST requires an information value rather than a reference.  Also,
   LoST servers may be operated by the VSP, which may not have a trust
   relationship with the ISP.

   This document explores the architectural impact for the current
   architecture and lists requirements.


2.  Terminology

   The keywords "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [RFC2119], with the
   important qualification that, unless otherwise stated, these terms
   apply to the design of an solution supporting location hiding, not
   its implementation or application.

   This document reuses terminology from [I-D.ietf-geopriv-l7-lcp-ps].


3.  Requirements

   This section presents requirements.

3.1.  High-Level Requirements

   Req-A:  There SHOULD be a way an access network can withhold detailed
      location information from any entity it wishes to, and
      specifically, the endpoint, and a VSP.





Schulzrinne, et al.     Expires February 27, 2008               [Page 4]

Internet-Draft        Location Hiding Requirements           August 2007


   Req-B:  The ISP/IAP MUST support the ability of the endpoint or the
      VSP to route emergency calls.

   Req-C:  The VSP MUST be able to validate that a call purported to be
      an emergency call is being routed to a bona fide URI, which is
      denoted by being a URI in LoST for the designated emergency
      service.

   Req-D:  Precise location information must be conveyed (either LbyR or
      LbyV) to the PSAP.

3.2.  Detailed Requirements

   Req-1:  A business or trust relationship between an ISP and a VSP
      MUST NOT be assumed.

   Req-2:  A solution MUST consider deployment scenarios where a VSP is
      outside the jurisdiction of the PSAP.

   Req-3:  The solution MUST offer automated discovery of servers and
      other behavior, i.e., no manual configuration can be assumed.

   Req-4:  The steps needed by the endpoint for emergency calling SHOULD
      be no different when location is withheld vs. when location is not
      withheld.  In particular, user agents cannot require additional
      configuration to discover which particular environment (hiding or
      no hiding) they find themselves in.

   Req-5:  The solution SHOULD work for non-SIP entities, without the
      ISP/IAP having to support these protocols.

   Req-6:  The solution MUST work if PSAP boundaries have holes.

   Req-7:  The solution MUST NOT assume the existence of Emergency
      Service Routing Proxies (ESRPs) per country, state and city.

   Req-8:  The solution MUST consider that service boundaries for
      different emergency services may differ, but they overlap at the
      location of the caller.

   Req-9:  UAs MUST NOT have to deduce the desired behavior by trial-
      and-error operations, such as LbyR resolutions, fail, as failures
      add latency during call setup.  The solution MUST NOT
      significantly increase call setup latency.







Schulzrinne, et al.     Expires February 27, 2008               [Page 5]

Internet-Draft        Location Hiding Requirements           August 2007


   Req-10:  The solution MUST allow the end host to determine PSAP/ESRP
      URLs prior to the call, for all emergency services.

   Req-11:  The solution MUST allow UAs to discover at least their dial
      string ahead of the emergency call.

   Req-12:  The solution MUST have minimal impact on UAs.

   Req-13:  The solution MUST NOT interfere with the use of LoST for
      non-emergency services.

   Req-14:  Deleted

   Req-15:  Calls may reach a PSTN gateway, rather than the PSAP
      directly.


3.3.  Desirable Properties

   o  The solution MUST NOT shift effort(externality), i.e., the
      convenience of the location-hiding ISP MUST NOT impose a burden on
      user agents or non-hiding ISPs/IAPs and SHOULD NOT impose a burden
      on VSPs.

   o  The solution SHOULD minimize the impact on LoST, SIP conveyance
      [I-D.ietf-sip-location-conveyance] and DHCP.

   o  The solution SHOULD NOT rely on DHCP for LoST configuration, as
      the information in the DHCP server provided by the ISP may not
      reach the UA, due to NATs.


4.  Security Considerations

   This document does not raise additional security consideration beyond
   those mentioned in [I-D.ietf-geopriv-l7-lcp-ps] and discussed in this
   document.


5.  Acknowledgments

   We would like to thank the following ECRIT working group members (in
   no particular order) for their contributions:

   o  Andrew Newton (andy@hxr.us)
   o  James Winterbottom (James.Winterbottom@andrew.com)





Schulzrinne, et al.     Expires February 27, 2008               [Page 6]

Internet-Draft        Location Hiding Requirements           August 2007


   o  Brian Rosen (br@brianrosen.net)
   o  Richard Barnes (rbarnes@bbn.com)
   o  Marc Linsner (mlinsner@cisco.com)
   o  Barbara Stark (Barbara.Stark@BellSouth.com)
   o  Andres Kuett (andres.kytt@skype.net)
   o  Ted Hardie (hardie@qualcomm.com)


6.  References

6.1.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", March 1997.

6.2.  Informative References

   [I-D.ietf-geopriv-l7-lcp-ps]
              Tschofenig, H. and H. Schulzrinne, "GEOPRIV Layer 7
              Location Configuration Protocol; Problem Statement and
              Requirements", draft-ietf-geopriv-l7-lcp-ps-03 (work in
              progress), July 2007.

   [I-D.ietf-sip-location-conveyance]
              Polk, J. and B. Rosen, "Location Conveyance for the
              Session Initiation Protocol",
              draft-ietf-sip-location-conveyance-08 (work in progress),
              July 2007.

   [I-D.ietf-ecrit-framework]
              Rosen, B., "Framework for Emergency Calling using Internet
              Multimedia", draft-ietf-ecrit-framework-02 (work in
              progress), July 2007.

   [I-D.ietf-ecrit-lost]
              Hardie, T., "LoST: A Location-to-Service Translation
              Protocol", draft-ietf-ecrit-lost-06 (work in progress),
              August 2007.

   [I-D.marshall-geopriv-lbyr-requirements]
              Marshall, R., "Requirements for a Location-by-Reference
              Mechanism used in Location  Configuration and Conveyance",
              draft-marshall-geopriv-lbyr-requirements-02 (work in
              progress), July 2007.

   [I-D.ietf-ecrit-service-urn]
              Schulzrinne, H., "A Uniform Resource Name (URN) for
              Emergency and Other Well-Known Services",



Schulzrinne, et al.     Expires February 27, 2008               [Page 7]

Internet-Draft        Location Hiding Requirements           August 2007


              draft-ietf-ecrit-service-urn-07 (work in progress),
              August 2007.

   [I-D.ietf-geopriv-http-location-delivery]
              Barnes, M., "HTTP Enabled Location Delivery (HELD)",
              draft-ietf-geopriv-http-location-delivery-01 (work in
              progress), July 2007.


Authors' Addresses

   Henning Schulzrinne
   Columbia University
   Department of Computer Science
   450 Computer Science Building
   New York, NY  10027
   US

   Phone: +1 212 939 7004
   Email: hgs+ecrit@cs.columbia.edu
   URI:   http://www.cs.columbia.edu


   Laura Liess
   Deutsche Telekom Networks
   Deutsche Telekom Allee 7
   Darmstadt, Hessen  64295
   Germany

   Phone:
   Email: Laura.Liess@t-systems.com
   URI:   http://www.telekom.de


   Hannes Tschofenig
   Nokia Siemens Networks
   Otto-Hahn-Ring 6
   Munich, Bavaria  81739
   Germany

   Email: Hannes.Tschofenig@nsn.com
   URI:   http://www.tschofenig.com









Schulzrinne, et al.     Expires February 27, 2008               [Page 8]

Internet-Draft        Location Hiding Requirements           August 2007


Full Copyright Statement

   Copyright (C) The IETF Trust (2007).

   This document is subject to the rights, licenses and restrictions
   contained in BCP 78, and except as set forth therein, the authors
   retain all their rights.

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY, THE IETF TRUST AND
   THE INTERNET ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS
   OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF
   THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.


Intellectual Property

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights.  Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard.  Please address the information to the IETF at
   ietf-ipr@ietf.org.


Acknowledgment

   Funding for the RFC Editor function is provided by the IETF
   Administrative Support Activity (IASA).





Schulzrinne, et al.     Expires February 27, 2008               [Page 9]


