



BIER  Working Group                                            G. Mirsky
Internet-Draft                                               Independent
Intended status: Informational                               E. Nordmark
Expires: January 19, 2018
                                                            C. Pignataro
                                                                N. Kumar
                                                     Cisco Systems, Inc.
                                                               S. Aldrin
                                                                  Google
                                                                L. Zheng
                                                                 M. Chen
                                                     Huawei Technologies
                                                                N. Akiya
                                                     Big Switch Networks
                                                           S. Pallagatti
                                                           July 18, 2017


 Operations, Administration and Maintenance (OAM) Requirements for Bit
                Index Explicit Replication (BIER) Layer
                  draft-ietf-bier-oam-requirements-04

Abstract

   This document describes a list of functional requirement toward
   Operations, Administration and Maintenance (OAM) toolset in Bit Index
   Explicit Replication (BIER) layer of a network.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on January 19, 2018.







Mirsky, et al.          Expires January 19, 2018                [Page 1]

Internet-Draft          OAM Requirements for BIER              July 2017


Copyright Notice

   Copyright (c) 2017 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
     1.1.  Conventions used in this document . . . . . . . . . . . .   2
       1.1.1.  Terminology . . . . . . . . . . . . . . . . . . . . .   3
       1.1.2.  Requirements Language . . . . . . . . . . . . . . . .   3
   2.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . .   3
   3.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   4
   4.  Security Considerations . . . . . . . . . . . . . . . . . . .   4
   5.  Acknowledgement . . . . . . . . . . . . . . . . . . . . . . .   4
   6.  References  . . . . . . . . . . . . . . . . . . . . . . . . .   4
     6.1.  Normative References  . . . . . . . . . . . . . . . . . .   5
     6.2.  Informative References  . . . . . . . . . . . . . . . . .   5
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   5

1.  Introduction

   [I-D.ietf-bier-architecture] introduces and explains Bit Index
   Explicit Replication (BIER) architecture and how it supports
   forwarding of multicast data packets.

   This document lists the OAM requirements for BIER layer of multicast
   domain.  The list can further be used to for gap analysis of
   available OAM tools to identify possible enhancements of existing or
   whether new OAM tools are required to support proactive and on-demand
   path monitoring and service validation.

1.1.  Conventions used in this document








Mirsky, et al.          Expires January 19, 2018                [Page 2]

Internet-Draft          OAM Requirements for BIER              July 2017


1.1.1.  Terminology

   Term "BIER OAM" used in this document interchangeably with longer
   version "set of OAM protocols, methods and tools for BIER layer".

   BFR: Bit-Forwarding Router

   BFER: Bit-Forwarding Egress Router

   BIER: Bit Index Explicit Replication

   OAM: Operations, Administration and Maintenance

1.1.2.  Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in BCP
   14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.

2.  Requirements

   This section lists requirements for OAM of BIER layer:

   1.   The listed requirements MUST be supported with any type of
        transport layer over which BIER layer can be realized.

   2.   It MUST be possible to initialize BIER OAM session from any Bit-
        Forwarding Router (BFR) of the given BIER domain.

   3.   It SHOULD be possible to initialize BIER OAM session from a
        centralized controller.

   4.   BIER OAM MUST support proactive and on-demand OAM monitoring and
        measurement methods.

   5.   BIER OAM MUST support unidirectional OAM methods, both
        continuity check and performance measurement.

   6.   BIER OAM packets MUST be in-band, i.e. follow exactly the same
        path as data plane traffic, in forward direction, i.e. from
        ingress toward egress end point(s) of the OAM test session.

   7.   BIER OAM MUST support bi-directional OAM methods.  Such OAM
        methods MAY combine in-band monitoring or measurement in forward
        direction and out-of-band notification in the reverse direction,
        i.e. from egress to ingress end point of the OAM test session.



Mirsky, et al.          Expires January 19, 2018                [Page 3]

Internet-Draft          OAM Requirements for BIER              July 2017


   8.   BIER OAM MUST support proactive monitoring of BFER availability
        by a BFR in the given BIER domain, e.g. p2mp BFD active tail
        support.

   9.   BIER OAM MUST support Path Maximum Transmission Unit discovery.

   10.  BIER OAM MUST support Reverse Defect Indication (RDI)
        notification of the source of continuity checking BFR by Bit-
        Forwarding Egress Routers (BFERs), e.g. by using Diag in p2mp
        BFD with active tail support.

   11.  BIER OAM MUST support active and passive performance measurement
        methods.

   12.  BIER OAM MUST support unidirectional performance measurement
        methods to calculate throughput, loss, delay and delay variation
        metrics.  [RFC6374] provides great details into performance
        measurement and performance metrics.

   13.  BIER OAM MUST support defect notification mechanism, like Alarm
        Indication Signal.  Any BFR in the given BIER domain MAY
        originate a defect notification addressed to any subset of BFRs
        within the domain.

   14.  BIER OAM MUST support methods to enable survivability of a BIER
        layer.  These recovery methods MAY use protection switching and
        restoration.

3.  IANA Considerations

   This document does not propose any IANA consideration.  This section
   may be removed.

4.  Security Considerations

   This document list the OAM requirement for BIER-enabled domain and
   does not raise any security concerns or issues in addition to ones
   common to networking.

5.  Acknowledgement

   TBD

6.  References







Mirsky, et al.          Expires January 19, 2018                [Page 4]

Internet-Draft          OAM Requirements for BIER              July 2017


6.1.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <http://www.rfc-editor.org/info/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <http://www.rfc-editor.org/info/rfc8174>.

6.2.  Informative References

   [I-D.ietf-bier-architecture]
              Wijnands, I., Rosen, E., Dolganow, A., Przygienda, T., and
              S. Aldrin, "Multicast using Bit Index Explicit
              Replication", draft-ietf-bier-architecture-07 (work in
              progress), June 2017.

   [RFC6374]  Frost, D. and S. Bryant, "Packet Loss and Delay
              Measurement for MPLS Networks", RFC 6374,
              DOI 10.17487/RFC6374, September 2011,
              <http://www.rfc-editor.org/info/rfc6374>.

Authors' Addresses

   Greg Mirsky
   Independent

   Email: gregimirsky@gmail.com


   Erik Nordmark

   Email: nordmark@acm.org


   Carlos Pignataro
   Cisco Systems, Inc.

   Email: cpignata@cisco.com


   Nagendra Kumar
   Cisco Systems, Inc.

   Email: naikumar@cisco.com




Mirsky, et al.          Expires January 19, 2018                [Page 5]

Internet-Draft          OAM Requirements for BIER              July 2017


   Sam Aldrin
   Google

   Email: aldrin.ietf@gmail.com


   Lianshu Zheng
   Huawei Technologies

   Email: vero.zheng@huawei.com


   Mach Chen
   Huawei Technologies

   Email: mach.chen@huawei.com


   Nobo Akiya
   Big Switch Networks

   Email: nobo.akiya.dev@gmail.com


   Santosh Pallagatti

   Email: santosh.palagatti@gmail.com
























Mirsky, et al.          Expires January 19, 2018                [Page 6]
