





INTERNET DRAFT                                      Behcet Sarikaya
Category: Informational                                     Alcatel
Title: draft-sarikaya-seamoby-paging-requirements-00.txt
Date: February 2001

             Requirements for a Layer 3 Paging Protocol

Status of this Memo

   This document is an individual contribution for the Seamoby Working
   Group.

   Distribution of this memo is unlimited.

   This document is an Internet-Draft and is in full conformance with
   all provisions of Section 10 of RFC2026.  Internet-Drafts are working
   documents of the Internet Engineering Task Force (IETF), its areas,
   and its working groups.  Note that other groups may also distribute
   working documents as Internet-Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at:

      http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at:

      http://www.ietf.org/shadow.html.

   Copyright   (C) The Internet Society 2000.  All Rights Reserved.

                                Abstract

   This document develops a set of requirements needed to support the mobile
   nodes that are in the dormant mode by way of a Layer 3 (L3) paging
   protocol for seamless IP mobility. This draft describes paging, and 
   presents a list of requirements regarding work on developing a L3 paging
   protocol.

Table of Contents

      1.0  Introduction............................................2
      2.0  Definitions.............................................2
      3.0  Advantages of Dormant Mode..............................3



Behcet Sarikaya       expires August 2001                   [Page 1]

INTERNET DRAFT                                             February 2001


      4.0  Requirements............................................4
      5.0  Security Considerations.................................4
      6.0  IANA  Considerations....................................4
      7.0  References..............................................4
      8.0  Author's Address........................................5
      9.0  Full Copyright Statement................................5

   1.0 Introduction

   Many existing radio link protocols and mobile systems support 
   location of and radio link establishment with mobile nodes that are
   not actively listening for delivery of IP packets. This functionality
   allows mobile nodes to reduce power consumption and decreases
   signalling load on the network for tracking mobiles that are not
   actively participating in IP packet generation or reception.

   When a mobile is in low power consumption mode, special steps need to
   be taken to locate the mobile.  These steps differ depending on the
   radio link, but the generic name for this process is paging.

   In this document, after some initial definitions,  the requirements 
   related to establishing the paging protocol as an extension to the 
   base Mobile IPv4 [1] and Mobile IPv6 [2] protocols and their respective 
   extensions for regional registrations [3] and [4] are stated.

2.0 Definitions

   The following definitions are relevant with respect to the paging:


      Dormant Mode -  A state in which a mobile node (MN) does not send or
      receive IP packets. MN enters the dormant mode if it has not had any
      communication with external IP nodes for a time period that is
      determined by MN. The behaviour of MN in the dormant mode is 
      specified by the paging protocol.

      Paging - As a consequence of a MN-bound packet destined for a
      MN currently in dormant mode, messaging directed to locating the 
      mobile and establishing a last hop connection. This messaging is in 
      addition to simply delivering the packet to the mobile, i.e. last hop 
      routing of packets is NOT considered to be paging.

      Paging Area - Collection of last hop routers that are searched to 
      locate a MN that is in the dormant mode. A paging
      area does not necessarily correspond to an IPv4/v6 subnet.

3.0 Advantages of Dormant Mode

   Dormant mode is advantageous to a MN for the following reasons:



Behcet Sarikaya               expires August 2001                   [Page 2]

INTERNET DRAFT                                             February 2001




      - Power savings. By reducing the amount of time the mobile is
      required to listen to L2, the drain on the mobile node's battery
      is reduced.

      - Reduced signalling for location tracking. By requiring the
      mobile to only signal when it crosses a paging area boundary
      rather than when it switches between L2 access points, the amount
      of signalling for tracking the mobile is reduced.

      - Reduced router state. The routers defined in [3] and [4] need not
      keep the MN in dormant mode in their binding caches. The paging 
      protocol may identify a router that may keep the state in its binding
      cache on the dormant node MNs.


4.0 Requirements
   The following basic requirements are imposed upon any L3 paging protocol.
   The requirements of a MN that performs a handover when in dormant mode
   are stated in the next section.

   - The operation of MN in the dormant mode is the domain of any L3
     paging protocol.

   - L3 paging protocol is not a stand-alone protocol, it MUST be defined
     as an extension of the base Mobile IPv4 [1] or the base Mobile IPv6
     [2] protocol.

   - L3 paging protocol for a future micro mobility protocol to be developed
     is for further study.

   - L3 paging protocol SHOULD also extend any regional registration
     extensions of the base Mobile IPv4/v6 protocol, i.e. [3] or [4].

   - L3 paging protocol MUST use L2 paging if available.

   - The dormant mode MN MUST receive and respond to periodic L3 messages
     called L3 pages designed to locate MN. The establishment of L2 
     connectivity in order to receive/ respond to L3 pages MUST enable
     significant power savings to warrant going to the dormant mode.

   - MN MUST inform the system before going into the dormant mode
 
   - If the paging state is to be kept in a single router, the paging
     protocol MUST clearly identify the steps to be taken in order to ensure
     a fail-safe mode of operation.

Behcet Sarikaya               expires August 2001                   [Page 3]

INTERNET DRAFT                                             February 2001



4.1 Paging Areas

   The following are recognized as the requirements related to the paging
   areas:

   - The routers defined by the regional registration protocol may be
     organized into L3 paging areas.

   - An informational RFC may be issued  defining the organization of the
     paging areas vis-a-vis IPv4/v6 subnets.

   - A dormant mode MN MUST receive the identification of the paging area
     in which it entered into the dormant mode.

   - A dormant mode MN SHOULD register when it changes the paging area. Such
     registrations may help establish fast handovers in IPv4 [5,7] and
     IPv6 [6].

5.0 Security Considerations

   This type of non-protocol document does not directly affect the
   security of the Internet.

6.0 IANA Considerations

   This document does not directly affect IANA.

7.0 References

[1]  C. Perkins, editor. "IP Mobility Support", RFC 2002, October, 1996.


[2]  Johnson, D., and C. Perkins, "Mobility Support in IPv6", draft-
     ietf-mobileip-ipv6-13.txt, work in progress.


[3]  H. Soliman, C. Castelluccia, K. El-Malki, L. Bellier. "Hierarchical
      MIPv6 Mobility Management", draft-ietf-mobileip-hmipv6-02.txt,
      December 2000.

[4]  Gustafsson, E., et al., "Mobile IP Regional Registration",
     draft-ietf-mobileip-regtun-03.txt, July, 2000.

[5]  Calhoun, P., et. al., "Foreign Agent Assisted Hand-off", draft-
     calhoun-mobileip-proactive-fa-03.txt, work in progress.

[6]  Tsirtsis, G., Editor, "Fast Handovers for Mobile IPv6", draft-
     designteam-fast-mipv6-01.txt, work in progress.

[7]  Al Malki, K., Soliman, H., "Fast Handooffs in Mobile IPv4",
     draft-elmalki-mobileip-fast-handoffs-03.txt, work in progress.


Behcet Sarikaya               expires August 2001                   [Page 4]

INTERNET DRAFT                                             February 2001






8.0  Author's Address

   Questions about this memo can be directed to:

     Behcet Sarikaya
     Alcatel USA M/S CTO2
     1201 E. Campbell Rd.
     Richardson, TX 75081-1936 USA
     Tel: 1-972-996-5075
     Fax: 1-972-996-5174
     Email: Behcet.Sarikaya@usa.alcatel.com

9.0  Full Copyright Statement

   Copyright (C) The Internet Society (2000).  All Rights Reserved.

   This document and translations of it may be copied and furnished to
   others, and derivative works that comment on or otherwise explain it
   or assist in its implementation may be prepared, copied, published
   and distributed, in whole or in part, without restriction of any
   kind, provided that the above copyright notice and this paragraph are
   included on all such copies and derivative works. However, this docu-
   ment itself may not be modified in any way, such as by removing the
   copyright notice or references to the Internet Society or other
   Internet organizations, except as needed for the purpose of develop-
   ing Internet standards in which case the procedures for copyrights
   defined in the Internet Standards process must be followed, or as
   required to translate it into languages other than  English. The lim-
   ited permissions granted above are perpetual and will not be revoked
   by the Internet Society or its successors or assigns. This document
   and the information contained herein is provided on an "AS IS" basis
   and THE INTERNET SOCIETY AND THE INTERNET ENGINEERING TASK FORCE DIS-
   CLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
   TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
   INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR
   FITNESS FOR A PARTICULAR PURPOSE."
















Behcet Sarikaya               expires August 2001               [Page 5]