TEAS Working Group                                   Young Lee (Editor)
                                                            Dhruv Dhody
Internet Draft                                                   Huawei

Intended status: Informational                           Sergio Belotti
                                                                   Nokia
Expires: November 2017
                                                       Khuzema Pithewan
                                                               Infinera

                                                     Daniele Ceccarelli
                                                               Ericsson

                                                        Takuya Miyasaka
                                                                   KDDI

                                                         Jong Yoon Shin
                                                                    SKT


                                                           May 12, 2017



        Requirements for Abstraction and Control of TE Networks

                 draft-ietf-teas-actn-requirements-05.txt


Abstract

   This document provides a set of requirements for abstraction and
   control of Traffic Engineering networks to facilitate virtual
   network operation via the creation of a single virtualized network
   or a seamless service. This supports operators in viewing and
   controlling different domains (at any dimension: applied technology,
   administrative zones, or vendor-specific technology islands) as a
   single virtualized network.



Status of this Memo

   This Internet-Draft is submitted to IETF in full conformance with
   the provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that




Lee, et. al.          Expires November 12, 2017                [Page 1]

Internet-Draft            ACTN Requirements                    May 2017


   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other documents
   at any time.  It is inappropriate to use Internet-Drafts as
   reference material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on November 12, 2017.

Copyright Notice

   Copyright (c) 2017 IETF Trust and the persons identified as the
   document authors. All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document.  Code Components extracted from this
   document must include Simplified BSD License text as described in
   Section 4.e of the Trust Legal Provisions and are provided without
   warranty as described in the Simplified BSD License.


Table of Contents


   1. Introduction...................................................3
   2. High-level ACTN requirements...................................4
      2.1. Service-Specific Requirements.............................4
      2.2. Network-Related Requirements..............................7
   3. References.....................................................9
      3.1. Normative References......................................9
      3.2. Informative References....................................9
   4. Contributors..................................................10
   Authors' Addresses...............................................10





Lee, et, al.          Expires November 12, 2017                [Page 2]

Internet-Draft            ACTN Requirements                    May 2017


1. Introduction

   This document provides a set of requirements for Abstraction and
   Control of Traffic Engineering (TE) Networks (ACTN) identified in
   various use-cases specified by the operators. [ACTN-frame] defines
   the base reference architecture and terminology.

   ACTN refers to the set of virtual network service operations needed
   to orchestrate, control and manage large-scale multi-domain TE
   networks so as to facilitate network programmability, automation,
   efficient resource sharing, and end-to-end virtual service aware
   connectivity.

   These operations are summarized as follows:

     - Abstraction and coordination of underlying network resources
        independent of how these resources are managed or controlled,
        so that higher-layer entities can dynamically control virtual
        networks based on those resources. Control includes creating,
        modifying, monitoring, and deleting virtual networks.

     - Collation of the resources from multiple TE networks (multiple
        technologies, equipment from multiple vendors, under the
        control of multiple administrations) through a process of
        hierarchical abstraction to present a customer with a single
        virtual network. This is achieved by presenting the network
        domain as an abstracted topology to the customer via open and
        programmable interfaces. Hierarchical abstraction allows for
        the recursion of controllers in a customer-provider
        relationship.

     - Orchestration of end-to-end virtual network services and
        applications via allocation of network resources to meet
        specific service, application and customer requirements.

     - Adaptation of customer requests (to control virtual resources)
        to the physical network resources performing the necessary
        mapping, translation, isolation and, policy that allows
        conveying, managing and enforcing customer policies with
        respect to the services and the network of the customer.

     - Provision via a data model of a computation scheme and virtual
        control capability to customers who request virtual network



Lee, et, al.          Expires November 12, 2017                [Page 3]

Internet-Draft            ACTN Requirements                    May 2017


        services. Note that these customers could, themselves, be
        service providers.

   ACTN solutions will build on, and extend, existing TE constructs and
   TE mechanisms wherever possible and appropriate.  Support for
   controller-based approaches is specifically included in the possible
   solution set.

2. High-level ACTN requirements


   This section provides a summary of use-cases in terms of two
   categories: (i) service-specific requirements; (ii) network-related
   requirements. All these requirements are specified by operators that
   are interested in implementing ACTN.

   Service-specific requirements listed below are uniquely applied to
   the work scope of ACTN. Service-specific requirements are related to
   the virtual service coordination function. These requirements are
   related to customer's VNs in terms of service policy associated with
   VNs such as service performance objectives, VN endpoint location
   information for certain required service specific functions (e.g.,
   security and others), VN survivability requirement, or dynamic
   service control policy, etc.

   Network-related requirements are related to and necessary for
   coherent/seamless for the virtual network operation function. These
   requirements are related to multi-domain and multi-layer signaling,
   routing, protection/restoration and synergy, re-optimization/re-
   grooming, etc.

2.1. Service-Specific Requirements



     1. Requirement 1: Virtual Network Service (VNS) creation

   Customer MUST be able to request/instantiate the VNS to the network
   within the confines of mutual agreement between customer and network
   operator and network operator's capability. There are different
   types of VNS in terms of the VN types the customer is allowed to
   operate (e.g., a VN type can be simply a set of end-to-end tunnels,
   or it can comprise of virtual nodes and links in mesh fashion,
   etc.). The customer MUST be able to express VNS policy that captures
   Service Level Agreements (SLA) associated with virtual network



Lee, et, al.          Expires November 12, 2017                [Page 4]

Internet-Draft            ACTN Requirements                    May 2017


   service (e.g., Endpoint selection policy, routing policy, time-
   related policy, etc.)

      Reference: [KLEE], [LOPEZ], [SHIN], [DHODY], [FANG].



     2. Requirement 2: Virtual Network Service Query

   Customer SHOULD be able to request VNS Query ("Can you give me these
   VN(s)?") that include the following parameters:

        - VN type: various VN types defined by the customer (e.g.,
          path, graph, etc.)
        - VN end-points (Customer Edge interface information)
        - VN Topology Service-specific Objective Functions (e.g.,
          maximum bandwidth, minimum latency, minimum hops, etc. and
          any combination of them).
        - VN constraints requirement (e.g., Maximum Latency threshold,
          Minimum Bandwidth, etc.)

   Reference: [KUMAKI], [FANG], [CHENG].



     3. Requirement 3: VNS Instantiation ("Please create a VNS for me")

   Customer MUST be able to instantiate VNS that includes various VNS
   related parameters:

        - VN type: various VN types defined by the customer (e.g.,
           path, graph, etc.)
        - VN end-points (Customer Edge interface information)
        - VN Topology Service-specific Objective Functions (e.g.,
           maximum bandwidth, minimum latency, minimum hops, etc. and
           any combination of them).
        - VN constraints requirement (e.g., Maximum Latency threshold,
           Minimum Bandwidth, etc.)
        - VN Topology diversity when there are multiple instances of
           VNS (e.g., VN1 and VN2 must be disjoint; Node/link disjoint
           from other VNs)

   Reference: [KUMAKI], [FANG], [CHENG].



     4. Requirement 4: VNS Lifecycle Management & Operation (M&O)


Lee, et, al.          Expires November 12, 2017                [Page 5]

Internet-Draft            ACTN Requirements                    May 2017


   Customer MUST be able to perform the following VNS operations:

        - VNS Delete: Customer MUST be able to delete VNS.
        - VNS Modify: Customer MUST be able to modify VNS related
           parameters during the lifecycle of the instantiated VNS.

   Reference: [FANG], [KUMAKI], [LOPEZ], [DHODY], [FANG], [KLEE].



     5. Requirement 5: VNS Isolation

   Customer's VN should be able to use arbitrary network topology,
   routing, or forwarding functions as well as customized control
   mechanisms independent of the underlying physical network and of
   other coexisting virtual networks. Other customers' VNS operation
   MUST not impact a particular customer's VNS network operation.



   Reference: [KUMAKI], [FANG], [LOPEZ]



     6. Requirement 6: Multi-Destination Coordination

   Customer MUST be able to define and convey service/preference
   requirements for multi-destination applications (e.g., set of
   candidate sources/destinations, thresholds for load balancing,
   disaster recovery policy, etc.)

   Reference: [FANG], [LOPEZ], [SHIN].



     7. Requirement 7: VNS Performance Monitoring

   The customer MUST be able to define performance monitoring
   parameters and its associated policy such as frequency of report,
   abstraction/aggregation level of performance data (e.g., VN level,
   tunnel level, virtual link/node level, etc.) with dynamic feedback
   loop from the network.

   Reference: [XU], [XU2], [DHODY], [CHENG]




Lee, et, al.          Expires November 12, 2017                [Page 6]

Internet-Draft            ACTN Requirements                    May 2017




     8. Requirement 8: VNS Confidentiality and Security Requirements

   The following confidentiality/security requirements MUST be
   supported in all interfaces:

        - Securing the request and control of resources, confidentially
          of the information, and availability of function.
        - Trust domain verification (external entity versus internal
          entity)
        - Encrypting data that flow between components, especially when
          they are implemented at remote nodes, regardless if these are
          external or internal network interfaces.


2.2. Network-Related Requirements

     1. Requirement 1: Virtual Network Service Coordination

   Network MUST be able to support the following VNS operations:

        - VNS Delete: Upon customer's VNS deletion request, network
           MUST be able to delete VNS.
        - VNS Modify: Upon customer's VNS modification request,
           network MUST be able to modify VNS related parameters during
           the lifecycle of the instantiated VNS.
        - VNS Update: Upon customer's VNS performance monitoring
           setup, the network MUST be able to support VNS level
           Operations, Administration and Management (OAM) Monitoring
           under policy agreement.

   Reference: [FANG], [KUMAKI], [LOPEZ], [DHODY], [FANG], [KLEE].




     2. Requirement 2: Topology Abstraction Capability

   The network MUST be capable of managing its networks based on the
   principle of topology abstraction to be able to scale multi-layer,
   multi-domain networks.

   Reference: [KLEE], [LOPEZ], [DHODY], [CHENG].





Lee, et, al.          Expires November 12, 2017                [Page 7]

Internet-Draft            ACTN Requirements                    May 2017


     3. Requirement 3: Multi-Domain & Multi-layer Coordination

   Network coordination for multi-domain and multi-layer path
   computation and path setup operation MUST be provided:

        - End-to-end path computation across multi-domain networks
           (based on abstract topology from each domain)
        - Domain sequence determination
        - Request for path signaling to each domain controller
        - Alternative path computation if any of the domain
           controllers cannot find its domain path

   Reference: [CHENG], [DHODY], [KLEE], [LOPEZ], [SHIN], [SUZUKI].



     4. Requirement 4: End-to-End Path Restoration

   End-to-end Path Restoration Operations MUST be provided with
   seamless coordination between domain-level recovery schemes and
   cross-domain recovery schemes.

   Reference: [CHENG], [KLEE], [DHODY], [LOPEZ], [SHIN].



     5. Requirement 5: Dynamicity of virtual network control operations

   Dynamic virtual network control operations MUST be supported. This
   includes, but is not limited to, the following:

        - Real-time VNS control (e.g., fast recovery/reroute upon
           network failure).
        - Fast convergence of abstracted topologies upon changes due
           to failure or reconfiguration across the network domain
           view, the multi-domain network view and the customer view.
        - Large-scale VNS operation (e.g., the ability to query tens
           of thousands of nodes, and to examine tens of thousands of
           connectivity requests) for time-sensitive applications.

   Reference: [SHIN], [XU], [XU2], [KLEE], [KUMAKI], [SUZUKI].








Lee, et, al.          Expires November 12, 2017                [Page 8]

Internet-Draft            ACTN Requirements                    May 2017





3. References

3.1. Normative References

   [ACTN-Frame]   D. Ceccarelli, et al., "Framework for Abstraction and
             Control of Transport Networks", draft-ietf-teas-actn-
             framework, work in progress.



3.2. Informative References



   [CHENG] W. Cheng, et. al., "ACTN Use-cases for Packet Transport
             Networks in Mobile Backhaul Networks", draft-cheng-actn-
             ptn-requirements, work in progress.

   [DHODY] D. Dhody, et. al., "Packet Optical Integration (POI) Use
             Cases for Abstraction and Control of Transport Networks
             (ACTN)", draft-dhody-actn-poi-use-case, work in progress.

   [FANG] L. Fang, "ACTN Use Case for Multi-domain Data Center
             Interconnect", draft-fang-actn-multidomain-dci, work in
             progress.

   [KLEE] K. Lee, H. Lee, R. Vilata, V. Lopez, "ACTN Use-case for E2E
             Network Services in Multiple Vendor Domain Transport
             Networks", draft-klee-teas-actn-connectivity-multi-domain,
             work-in-progress.

   [KUMAKI] K. Kumaki, T. Miyasaka, "ACTN : Use case for Multi Tenant
             VNO", draft-kumaki-teas-actn-multitenant-vno, work in
             progress.

   [LOPEZ] D. Lopez (Ed), "ACTN Use-case for Virtual Network Operation
             for Multiple Domains in a Single Operator Network", draft-
             lopez-actn-vno-multidomains, work in progress.

   [SHIN] J. Shin, R. Hwang, J. Lee, "ACTN Use-case for Mobile Virtual
             Network Operation for Multiple Domains in a Single
             Operator Network", draft-shin-actn-mvno-multi-domain, work
             in progress.



Lee, et, al.          Expires November 12, 2017                [Page 9]

Internet-Draft            ACTN Requirements                    May 2017


   [XU] Y. Xu, et. al., "Use Cases and Requirements of Dynamic Service
             Control based on Performance Monitoring in ACTN
             Architecture", draft-xu-actn-perf-dynamic-service-control,
             work in progress.

   [XU2] Y. Xu, et. al., "Requirements of Abstract Alarm Report in ACTN
             architecture", draft-xu-teas-actn-abstract-alarm-report,
             work-in-progress.

   [SUZUKI] T. Suzuki, et. al., "Use-case and Requirements for Multi-
             domain Operation Plane Change", draft-suzuki-teas-actn-
             multidomain-opc, work-in-progress.





4. Contributors

   Kwangkook Lee
   KT
   Email: kwangkooglee@gmail.com

   Yunbin Xu
   CATR
   Email: xuyunbin@mail.ritt.com.cn

   Toshiaki Suzuki
   Hitachi
   Email: toshiaki.suzuki.cs@hitachi.com

   Haomian Zheng
   Huawei
   Email: zhenghaomian@huawei.com

Authors' Addresses

   Young Lee (Editor)
   Huawei Technologies
   5340 Legacy Drive
   Plano, TX 75023, USA
   Phone: (469)277-5838
   Email: leeyoung@huawei.com

   Dhruv Dhody
   Huawei Technologies


Lee, et, al.          Expires November 12, 2017               [Page 10]

Internet-Draft            ACTN Requirements                    May 2017


   Email: dhruv.ietf@gmail.com

   Sergio Belotti
   Nokia
   Via Trento, 30
   Vimercate, Italy
   Email: sergio.belotti@nokia.com

   Khuzema Pithewan
   Infinera
   Email: kpithewan@infinera.com

   Daniele Ceccarelli
   Ericsson
   Torshamnsgatan,48
   Stockholm, Sweden
   Email: daniele.ceccarelli@ericsson.com

   Takuya Miyasaka
   KDDI
   Email: ta-miyasaka@kddi.com

   Jong Yoon Shin
   SKT
   Email: jongyoon.shin@sk.com























Lee, et, al.          Expires November 12, 2017               [Page 11]

