



Internet-Draft                                               Seok J. Koh
Intended status: Informational                              Cheol M. Kim
Expires: 7 May 2020                        Kyungpook National University
                                                         4 November 2019


  Requirements for IoT Services based on Visible Light Communications
                  draft-sjkoh-requirements-iot-vlc-00

Abstract

   This document describes the requirements for IoT Services based on
   Visible Light Communication (VLC) to effectively provide IoT services
   in the VLC-based networks.  This document includes the overview of
   VLC technology and the concepts of VLC-based IoT services, and the
   requirements for IoT services in the VLC-based networks.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on 7 May 2020.

Copyright Notice

   Copyright (c) 2019 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents (https://trustee.ietf.org/
   license-info) in effect on the date of publication of this document.
   Please review these documents carefully, as they describe your rights
   and restrictions with respect to this document.







Koh & Kim                  Expires 7 May 2020                   [Page 1]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
     1.1.  Terminology and Requirements Language . . . . . . . . . .   2
   2.  Overview  . . . . . . . . . . . . . . . . . . . . . . . . . .   3
     2.1.  Visible Light Communication . . . . . . . . . . . . . . .   3
     2.2.  IoT services based on VLC . . . . . . . . . . . . . . . .   4
     2.3.  Network nodes . . . . . . . . . . . . . . . . . . . . . .   6
       2.3.1.  IoT Server (IS) . . . . . . . . . . . . . . . . . . .   6
       2.3.2.  VLC Agent (VA)  . . . . . . . . . . . . . . . . . . .   6
       2.3.3.  VLC Light (VL)  . . . . . . . . . . . . . . . . . . .   6
       2.3.4.  User Terminal (UT)  . . . . . . . . . . . . . . . . .   6
   3.  Requirements for IoT services based on VLC  . . . . . . . . .   7
     3.1.  Device initialization . . . . . . . . . . . . . . . . . .   7
     3.2.  Device monitoring . . . . . . . . . . . . . . . . . . . .   7
     3.3.  Uplink channel for UT in the uni-directional VLC  . . . .   7
     3.4.  Data transport  . . . . . . . . . . . . . . . . . . . . .   8
     3.5.  Light control . . . . . . . . . . . . . . . . . . . . . .   8
     3.6.  Device roaming  . . . . . . . . . . . . . . . . . . . . .   8
   4.  Security consideration  . . . . . . . . . . . . . . . . . . .   9
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   9
   6.  Normative References  . . . . . . . . . . . . . . . . . . . .   9
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   9

1.  Introduction

   The VLC has been developed as a wireless communication technology
   which uses visible lights, infrared (IR), and ultra-violet (UV)
   spectrum instead of conventional RF band.  In particular, the VLC
   provides the following distinctive features: 1) non-interference to
   existing RF bands, 2) free license to use the spectrum of visible
   light, IR, and UV, and 3) VLC can be easily deployed with the
   existing LED lights.  Since the VLC is non-RF based wireless
   communication technology, it can be complementary wireless
   communication technology among the RF-based wireless communication
   technologies (mobile network, WPAN, WLAN).  These distinctive
   features of VLC will be helpful to overcome the shortcomings of the
   existing RF technologies.

1.1.  Terminology and Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in BCP
   14.  [RFC2119], [RFC8174] when, and only when, they appear in all
   capitals, as shown here.





Koh & Kim                  Expires 7 May 2020                   [Page 2]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


2.  Overview

2.1.  Visible Light Communication

   The Visible Light Communication (VLC) technology has been developed
   to transmit data through the license-free spectrum of visible light,
   IR, and UV.  [ITU-T_G.9991] [IEEE_802.15.7-2018] Data is encapsulated
   into VLC frames, and it is coded using digital-based modulation
   technology, such as Pulse Width Modulation (PWM), Orthogonal
   Frequency Division Multiplexing (OFDM), and so on.  Those coded VLC
   frames are transmitted by LED or Laser Diode (LD).  A Photo Diode
   (PD) or an image sensor can receive the VLC frames.

   The [ITU-T_G.9991] specifies the system architecture, PHY and data
   link layer of high-speed indoor VLC transceiver, especially for home
   network.  The [ITU-T_G.9991] network comprises on or more domains.
   Each domain has one domain master and one or more nodes which are
   registered to the domain master.  Global Master (GM) is responsible
   to coordinate the resources among domains.

   For each domain, the [ITU-T_G.9991] specifies the five topologies for
   indoor VLC: peer to peer (or point to point) topology (P2P), point to
   multipoint topology (P2MP), multipoint to multipoint (MP2MP), relayed
   mode, and centralized topology.  In addition to network topology, the
   .[ITU-T_G.9991] specifies the modes of operation in a domain, which
   includes centralized mode (CM) and unified mode (UM).  In centralized
   mode, the direct communication between domain master (DM) and end-
   point node (EP) is allowed, while direct communication among end-
   point nodes are note allowed.  The CM supports 3 types of operation
   mode: a) bi-directional communication, b) broadcast only, and c)
   hybrid communication.  In the unified mode, the direct or indirect
   communication among nodes is allowed.

   The [IEEE_802.15.7-2018] specifies PHY and MAC sublayer for VLC.  In
   [IEEE_802.15.7-2018], it uses the term Optical Wireless
   Communications (OWC) rather than VLC because the standard explicitly
   considers the wavelength from 10,000nm to 190nm, which includes
   visible light, IR, and UV.  Also, the standard introduces the term
   Optical Wireless Personal Area Network (OWPAN) with specifying
   network topology, addressing, collision avoidance, acknowledgement,
   performance quality indication, dimming support, visibility support,
   colored status indication, and color stabilization.

   In [IEEE_802.15.7-2018], it classifies three types of devices in OWC:
   infrastructure, mobile, and vehicle.  Table 1 shows the
   classification of devices.





Koh & Kim                  Expires 7 May 2020                   [Page 3]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


   +-------------------+----------------+-------------+---------------+
   | Features          | Infrastructure | Mobile      | Vehicle       |
   +===================+================+=============+===============+
   | Fixed coordinator | Yes            | No          | No            |
   +-------------------+----------------+-------------+---------------+
   | Power supply      | Ample          | Limited     | Moderate      |
   +-------------------+----------------+-------------+---------------+
   | Form factor       | Unconstrained  | Constrained | Unconstrained |
   +-------------------+----------------+-------------+---------------+
   | Light Source      | Intense        | Weak        | Intense       |
   +-------------------+----------------+-------------+---------------+
   | Physical mobility | No             | Yes         | Yes           |
   +-------------------+----------------+-------------+---------------+
   | Range             | Short/long     | Short       | Long          |
   +-------------------+----------------+-------------+---------------+
   | Data rates        | High/low       | High        | Low           |
   +-------------------+----------------+-------------+---------------+

          Table 1: Device classification in [IEEE_802.15.7-2018]

   The [IEEE_802.15.7-2018] specifies three network topologies: peer-to-
   peer, star, and broadcast.  A one device gets a role of coordinator,
   which is determined by applications.  The standard specifies the
   visibility support across all topologies with flicker mitigation.

2.2.  IoT services based on VLC

   This document describes the concept of IoT services based on VLC.
   The goal of VLC-based IoT services is the functionality as follows:

   *  Device initialization, including device discovery and device
      registration.

   *  Data transport using VLC for downlink channel from lighting device
      to user terminal.

   *  Data transport using VLC for uplink from user terminal to lighting
      devices or using other RFs for uplink channel from user terminal
      to the VLC agent device.

   *  Light control, such as the configuration of dimming, color,
      modulation of visible lights.

   *  Device monitoring.

   *  Roaming support for mobile user terminal.





Koh & Kim                  Expires 7 May 2020                   [Page 4]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


   Figure 2 and 3 shows the network model for VLC-based IoT services,
   which uses bi-directional VLC environment and uni-directional VLC
   environment.  Also, those figures describe the network nodes in the
   VLC-based IoT network: IoT server (IS), VLC Agent (VA), VLC Light
   (VL), and User Terminal (UT).

       +----+ Ethernet +----+ Ethernet/WLAN/WPAN +-----------+
       | IS |<========>| VA |<==================>|    VTs    |
       +----+          +----+                    |(LED Light)|
                                                 +-----------+
                                                *             *
                                               *      Data      *
                                              *    through VLC   *
                                             *   (Visible light,  *
                                            *        IR, UV)       *
                                           *                        *
                                                        ^
                     +------------+  bi-directional VLC *
                     |     UT     |      (VT <-> UT)    *
                     |(IoT Device)|<*********************
                     +------------+

     Figure 1: VLC-based IoT services in bi-directional VLC environment

       +----+ Ethernet +----+ Ethernet/WLAN/WPAN +-----------+
       | IS |<========>| VA |<==================>|    VTs    |
       +----+          +----+                    |(LED Light)|
                         ##                      +-----------+
                        ##                      *             *
                       ##  Uplink channel      *     Data      *
                      ##       for UT         *   through VLC   *
                     ##     (WLAN/WPAN)      *  (Visible light,  *
                    ##                      *       IR, UV)       *
                   ##                      *                       *
                  ##                                     *
             +------------+     uni-directional VLC      *
             |     UT     | (downlink channel, VT -> UT) *
             |(IoT Device)|<******************************
             +------------+

    Figure 2: VLC-based IoT services in uni-directional VLC environment

   As shown in Figure 2 and 3, it is noted that there two kinds of VLC
   between UT and VL/VA: uni-directional VLC and bi-directional VLC.  In
   the bi-directional VLC case, VLC is performed between UL and VL.
   That is, both the downlink from VL to UT and the uplink from UT to VL
   use the VLC.  However, in the uni-directional VLC case, only the
   downlink uses the VLC, whereas the uplink may use the other OF



Koh & Kim                  Expires 7 May 2020                   [Page 5]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


   technologies, such as WLAN or WPAN.  In the viewpoint of VLC
   deployment in real-world networks, the bi-directional VLC is
   suggested, but the uni-directional VLC may ne used in a certain
   network.

   For VLC-based IoT networks, we consider the following four types of
   network nodes: Platform Server (PS), Aggregation Agent (AA), VLC
   Transmitter (VT), and VLC Receiver (VR).  Figure 1 shows uni-
   directional VLC from VT to VR, in which only downlink VLC
   transmission is allowed from VT to VR, and the uplink or backward
   transmission will be made between VR and AA by using another network
   link, such as WLAN or WPAN.

2.3.  Network nodes

2.3.1.  IoT Server (IS)

   IS is responsible for overall management for all devices in VLC-based
   IoT network.  IS performs IP-based protocol operations including the
   device initialization, device registration, device monitoring, light
   control, and device roaming.  In addition, IS transmits data to VL
   and UT in the data transport operation.  IS is connected to the
   Internet.

2.3.2.  VLC Agent (VA)

   For effective management of VLC-based IoT services, one or more VAs
   can be deployed in the network.  VA is purposed to perform IP-based
   protocol operations and to locally manage its associated VLs and UTs.
   It keeps an association information between VL and UT, and such
   information may be updated in the device monitoring and device
   roaming operations.  VA has a responsibility to relay data between IS
   and VL/UT.

2.3.3.  VLC Light (VL)

   VL can be installed or embedded on an LED light.  In the
   initialization, VL is registered to IS.  After that, VL advertises
   itself to user terminals in the VLC network by using VLC.  VL has a
   responsibility to translate IP-based data to VLC frames and vice
   versa.

2.3.4.  User Terminal (UT)

   UT represents a user device with the VLC functionality.  All UTs can
   be registered to and managed by IS via its associated VL and/or VA in
   the device initialization and monitoring operations.  VLC data are
   also exchanged between UT and IS by way of VL and/or VA.



Koh & Kim                  Expires 7 May 2020                   [Page 6]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


3.  Requirements for IoT services based on VLC

3.1.  Device initialization

   To enable IoT services based on VLC, all devices need to find uplink
   device, join the network, and make them discoverable in the network.
   The followings are the requirements for device initialization:

   *  All devices MUST have capabilities of device advertisement and
      device discovery in VLC-based IoT network.

   *  Each device MUST generate its unique ID (Identifier) and make
      association to its uplink device.

3.2.  Device monitoring

   IS manages all VA, VL, and UT in the network via monitoring
   operations.  The followings are the requirements for device
   monitoring:

   *  Each device MUST generate its status information.

   *  Each device MUST send its status information to its uplink device
      periodically.

   *  Each device MUST receive the request of status information from
      its uplink device and MUST send its up-to-date status information
      to the uplink device.

3.3.  Uplink channel for UT in the uni-directional VLC

   In uni-directional VLC environment, the UT, which only has capability
   of downlink VLC, needs an uplink channel for enabling IoT services.
   The followings are the requirements for uplink channel management:

   *  VA MUST create RF based uplink channel for uplink channel in the
      uni-directional VLC case.

   *  VA MUST configure RF based uplink channel with the parameters
      received from its uplink device.

   *  VA MUST send the information of RF based uplink channel to
      downlink device.

   *  VA MUST forward data packets to uplink and downlink channel.

   *  VL MUST generate a VLC frame which includes the information of RF




Koh & Kim                  Expires 7 May 2020                   [Page 7]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


      based uplink channel and to send the VLC frame to downlink device
      periodically.

   *  UT MUST receive a VLC frame from uplink device and to extract the
      information of RF based uplink channel.

   *  UT MUST establish the uplink channel with VA when UT has the uni-
      directional VLC.

3.4.  Data transport

   In VLC-based IoT services, IP-based and VLC frame-based data need to
   interoperate in all devices.  The followings are the requirements for
   data transport:

   *  All devices MUST handle IP-based data packets in VLC-based IoT
      network.

   *  VL and UT MUST translate IP-based data packet to VLC frames, and
      vice versa.

3.5.  Light control

   IS controls all VL by configuring the parameters associated with LED
   lights.  The followings are the requirements for light control:

   *  VL MUST handle the request of IS for configuration of LED light.

   *  VL MUST change the physical characteristics of LED light, as per
      the request of IS.

3.6.  Device roaming

   When UT is mobile device, the IoT services need to be continued, even
   though UT changes its attached VL.  The followings are the
   requirements for device roaming:

   *  UT MUST discover the neighboring VLs in the roaming case.

   *  UT MUST generate and exchange the roaming data with its
      neighboring VL.

   *  VL MUST detect the roaming event from the association request with
      the roaming data.

   *  VL MUST notify the roaming event to uplink VA device.

   *  IS and VL MUST handle the roaming request appropriately.



Koh & Kim                  Expires 7 May 2020                   [Page 8]

Internet-Draft Requirements for IoT Services based on VLC  November 2019


4.  Security consideration

   TBD

5.  IANA Considerations

   TBD

6.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/info/rfc8174>.

   [ITU-T_G.9991]
              International Telecommunications Union, "High-speed indoor
              visible light communication transceiver - System
              architecture, physical layer and data link layer
              specification", March 2019.

   [IEEE_802.15.7-2018]
              IEEE, "802.15.7-2018 - IEEE Standard for Local and
              metropolitan area networks--Part 15.7: Short-Range Optical
              Wireless Communications", 23 April 2019,
              <https://ieeexplore.ieee.org/servlet/
              opac?punumber=8697196>.

Authors' Addresses

   Seok-Joo Koh
   Kyungpook National University
   Daehakro 80, Bukgu, Daegu, South Korea 41566

   Phone: +82 53 950 7356
   Email: sjkoh@knu.ac.kr


   Cheol-Min Kim
   Kyungpook National University
   Daehakro 80, Bukgu, Daegu, South Korea 41566

   Email: cheolminkim@vanilet.pe.kr




Koh & Kim                  Expires 7 May 2020                   [Page 9]
