
Network Working Group                                      Adrian Farrel
IETF Internet Draft                                    Olddog Consulting
Proposed Status: Informational
Expires: April 2004                                        Loa Andersson
                                                                Acreo AB

                                                              Avri Doria
                                                                    ETRI

                                                            October 2004


           draft-farrel-rtg-manageability-requirements-00.txt

      Requirements for Manageability Sections in Routing Area Drafts

Status of this Memo

   By submitting this Internet-Draft, I certify that any applicable
   patent or other IPR claims of which I am aware have been disclosed,
   and any of which I become aware will be disclosed, in accordance with
   RFC 3668.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as
   Internet-Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time. It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.
   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

Copyright Notice

   Copyright (C) The Internet Society (2004). All Rights Reserved.

Abstract

   It has often been the case that manageability considerations have
   been retrofitted to protocols. This is sub-optimal.

   Similarly, new protocols or protocol extensions are frequently
   designed without due consideration of manageability requirements.

   This document specifies the requirement for all new Routing Area
   Internet-Drafts to include an "Manageability Considerations" section,
   and gives guidance on what that section should contain.

Farrel, Andersson and Doria                                       Page 1

draft-farrel-rtg-manageability-requirements-00.txt          October 2004

Conventions used in this document

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

1. Introduction

   When new protocols or protocol extensions are developed within the
   Routing Area, it is often the case that not enough consideration is
   given to the manageability of the protocols or to the way in which
   they will be operated in the network. The result is that manageablity
   considerations are only understood once the protocols have been
   implemented and sometimes not until after they have been deployed.

   The resultant attempts to retrofit manageablity mechanisms are not
   always easy or architecturally pleasant. Further, it is possible that
   certain protocol designs make manageablity particularly hard to
   achieve.

   Recognising that manageablity is fundamental to the utility and
   success of protocols designed within the IETF, and that simply
   defining a MIB module does not necessarily provide adequate
   manageablity, this document defines requirements for the inclusion of
   Manageablity Considerations sections in all Internet-Drafts produced
   within the Routing Area. Meeting these requirements will ensure that
   proper consideration is given to the support of manageability at all
   stages of the protocol development process from Requirements and
   Architecture, through Specification and Applicability.

   The remainder of this document describes what subsections are needed
   within a Manageablity Considerations section, and gives advice and
   guidance about what information should be contained in those
   subsections.

2. Presence and Placement of Manageablity Considerations Sections

2.1. Null Manageablity Considerations Sections

   In the event that there are no manageablity requirements for the
   protocol specified in an Internet-Draft, the draft MUST still contain
   a Manageablity Considerations section. The presences of this section
   indicates to the reader and to the reviewer that due consideration
   has been given to manageablity, and that there are no (or no new)
   requirements.

   In this case, the section MUST contain a simple statement such as
   "There are no new manageablity requirements introduced by this
   document," and MUST briefly explain why that is the case with a
   summary of manageablity mechanisms that already exist.


Farrel, Andersson and Doria                                       Page 2

draft-farrel-rtg-manageability-requirements-00.txt          October 2004

2.2. Mandatory Subsections

   If the Manageablity Considerations section is not null, it MUST
   contain at least the following subsections. Guidance on the content
   of these subsections can be found in section 3 of this document.

   - Information and data models, e.g. MIB module
   - Management Information Base Modules and Objects
   - Liveness Detection and Monitoring
   - Verifying Correct Operation
   - Requirements on Other Protocols and Functional Components
   - Impact on Network Operation

   In the event that one or more of these subsections is not relevant,
   it MUST still be present, and SHOULD contain a simple statement
   explaining why the subsection is not relevant.

2.3. Optional Subsections

   The list of subsections above is not intended to be prescriptively
   limiting. Other subsections can and should be added according to
   the requirements of each individual Internet-Draft.

2.4. Placement of Manageability Considerations Sections

   The Manageability Considerations Section SHOULD be placed immediately
   before the IANA Consiederations section at the end of the body of the
   draft.

3. Guidance on the Content of Subsections

THIS SECTION IS UNDER DEVELOPMENT.
SUBSTANTIAL TEXT REMAINS TO BE WRITTEN.
THE SUBSECTIONS COULD USEFULLY GIVE EXAMPLES

3.x Information and Data Models

   Reference and brief description of information and data models,
   including, but not necesarily limited to MIB modules or other modules
   developed specificially for the functions specified in the document.

3.y Requirements on Other Protocols and Functional Components

   Here the requirements that the new protocol puts on other protocols
   and functional components, as well as requirements from other
   protocols that has been considered in desinging the new protocol

3.z Other considerations

   Anything that is not covered above, but is needed to understand the
   manageability situation.

Farrel, Andersson and Doria                                       Page 3

draft-farrel-rtg-manageability-requirements-00.txt          October 2004

4. Manageability Considerations

   This document defines the Manageability Considerations sections for
   inclusion in all Routing Area Internet-Drafts. As such, the whole
   document is relevant to manageability.

5. IANA Considerations

   This document does not introduce any new codepoints or name spaces
   for registration with IANA.

   Routing Area Internet-Drafts SHOULD NOT introduce new codepoints or
   name spaces for IANA registration within the Manageability
   Considerations section.

6. Security Considerations

   This document is informational and describes the format and content
   of future Internet-Drafts. As such it introduces no new security
   concerns.

   However, there is a clear overlap between security, operations and
   management. The manageability aspects of security SHOULD be covered
   within the mandatory Security Considerations of each Routing Area
   Internet-Draft. New security consideration introduced by the
   Manageability Considerations section should be covered in that
   section.

7. Acknowledgements

   The authors would like to extend their warmest thanks to Alex Zinin
   for inviting them to write this document.

8. Intellectual Property Considerations

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights. Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.


Farrel, Andersson and Doria                                       Page 4

draft-farrel-rtg-manageability-requirements-00.txt          October 2004

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard. Please address the information to the IETF at
   ietf-ipr@ietf.org.

9. Normative References

   [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate
             Requirement Levels", BCP 14, RFC 2119, March 1997.

   [RFC3667] Bradner, S., "IETF Rights in Contributions", BCP 78,
             RFC 3667, February 2004.

   [RFC3668] Bradner, S., Ed., "Intellectual Property Rights in IETF
             Technology", BCP 79, RFC 3668, February 2004.

10. Informational References

   [RFC2434] Narten, T. and H. Alvestrand, "Guidelines for Writing an
             IANA Considerations Section in RFCs", BCP: 26, RFC 2434,
             October 1998.

   [RFC3552] Rescorla E. and B. Korver, "Guidelines for Writing RFC
             Text on Security Considerations", BCP: 72, RFC 3552,
             July 2003.

11. Authors' Addresses

   Adrian Farrel
   Old Dog Consulting
   EMail:  adrian@olddog.co.uk

   Loa Andersson
   Acreo AB
   Email: Loa.Andersson@acreo.se

   Avri Doria
   ETRI
   Email: avri@acm.org

12. Full Copyright Statement

   Copyright (C) The Internet Society (2004). This document is subject
   to the rights, licenses and restrictions contained in BCP 78, and
   except as set forth therein, the authors retain all their rights.

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY AND THE INTERNET
   ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,

Farrel, Andersson and Doria                                       Page 5

draft-farrel-rtg-manageability-requirements-00.txt          October 2004

   INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE
   INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

















































Farrel, Andersson and Doria                                       Page 6


