



Internet Engineering Task Force                                 J. Palet
Internet-Draft                                               Consulintel
Expires: August 31, 2006                               February 27, 2006


         IETF Meeting Network and Other Technical Requirements
          draft-palet-ietf-meeting-network-requirements-00.txt

Status of this Memo

   By submitting this Internet-Draft, each author represents that any
   applicable patent or other IPR claims of which he or she is aware
   have been or will be disclosed, and any of which he or she becomes
   aware will be disclosed, in accordance with Section 6 of BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on August 31, 2006.

Copyright Notice

   Copyright (C) The Internet Society (2006).

Abstract

   This document should be used together with [1] and provides the IAD
   with network, terminal room and other technical requirements for
   selecting venues for IETF meetings.









Palet                    Expires August 31, 2006                [Page 1]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


Table of Contents

   1.  Introduction . . . . . . . . . . . . . . . . . . . . . . . . .  3
   2.  Venue Technical Requirements . . . . . . . . . . . . . . . . .  3
   3.  Network Criteria for the Venue Selection . . . . . . . . . . .  4
     3.1.  Internet Upstream  . . . . . . . . . . . . . . . . . . . .  4
     3.2.  Wired Network  . . . . . . . . . . . . . . . . . . . . . .  5
     3.3.  Wireless Network . . . . . . . . . . . . . . . . . . . . .  5
     3.4.  Network Services . . . . . . . . . . . . . . . . . . . . .  5
   4.  Terminal Room Criteria for the Venue Selection . . . . . . . .  6
   5.  NOC  . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  6
   6.  Other Technical Criteria for the Venue Selection . . . . . . .  7
   7.  Technical Risks and Contingencies  . . . . . . . . . . . . . .  7
   8.  Timing and Planning  . . . . . . . . . . . . . . . . . . . . .  7
   9.  Venue Acceptance/Rejection Report  . . . . . . . . . . . . . .  7
   10. Security Considerations  . . . . . . . . . . . . . . . . . . .  8
   11. IANA Considerations  . . . . . . . . . . . . . . . . . . . . .  8
   12. Acknowledgements . . . . . . . . . . . . . . . . . . . . . . .  8
   13. References . . . . . . . . . . . . . . . . . . . . . . . . . .  8
     13.1. Normative References . . . . . . . . . . . . . . . . . . .  8
     13.2. Informative References . . . . . . . . . . . . . . . . . .  8
   Author's Address . . . . . . . . . . . . . . . . . . . . . . . . .  9
   Intellectual Property and Copyright Statements . . . . . . . . . . 10




























Palet                    Expires August 31, 2006                [Page 2]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


1.  Introduction

   This document describes network, terminal room and other technical
   criteria for venue selection, including some details related to the
   planning.  All this details are required in order to accommodate the
   IETF meeting with technical guarantees of successful working
   capabilities for the attendees.

   As in the case of [1], generally, this document does not present a
   strict list of "MUST" items.  Instead, it lists what needs to be
   evaluated, various alternative solutions, or combinations thereof,
   that may apply.  In the end, the IAD will make the final decision and
   will be accountable for it, and therefore he is responsible for
   applying the criteria defined in this document.

   Experience shows that things could go wrong when there is too strict
   a dependence on specific people or equipment and when no alternatives
   are provisioned for.  Consequently, contingencies are a very
   important consideration.


2.  Venue Technical Requirements

   The venue being evaluated for hosting IETF, should comply with
   several generic technical requirements, which will allow an adequate
   installation of the network, terminal room and some other relevant
   technical details.  The facility chosen can have a dramatic impact on
   the ability to deliver a quality network to attendees, so this
   generic requirements are of key importance:

   o  Telecommunications room availability.

   o  Adequate ventilation to support the equipment rooms and the
      terminal room.

   o  As much physical separation as possible in the meeting room area
      (avoid air-walls where possible).

   o  A mechanism providing access 24 hours a day to the network
      installation team, ahead of the meeting for the minimum required
      deployment work.

   o  Availability of an appropriate wiring plan (power and data).  Need
      to know the existing infrastructure (fiber, UTP/distances) and
      what can be done with it.

   o  Access to the wiring, what can be used, what not.  Some facilities
      have no wiring and that could be an important inconvenient,



Palet                    Expires August 31, 2006                [Page 3]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


      especially in order to quickly deploy the wireless network.
      Feasibility/facility to setup new cables (fiber/UTP).

   o  Roof access, in case a WLAN link is required.

   o  If there is already a WLAN in the building, can it be turned off?.

   o  Pipe.  Putting the access points on something to raise them above
      the people's heads is useful.  Acquiring the pipes, bases, and, in
      some cases, sand bags, should be considered, as many are needed
      for each access point.

   o  Electrical power capacity.

   o  24 hours' power.  Capacity and special distribution issues.
      Evaluation of the cost of extra power.

   o  Facilities for AV: room dimensions for screens (height/width).

   o  Evaluation of wireless voice communication ("Walkie Talkies" or
      hand-held radios).  In some cases the secretariat can bring its
      own equipment, but in some occasions it is required to be rented
      from the hotel.


3.  Network Criteria for the Venue Selection

   The following sections depict different key elements required for the
   adequate provision of the network required for the IETF meetings.

3.1.  Internet Upstream

   Some facilities have great network access, others have none (no fiber
   links up to the venue).  How much can be provisioned and in what
   time.

   Highly reliable Internet link and BW are required.

   20-25 Mbits (symmetric) is a minimum requirement today, however,
   higher capacity may be appropriate.  Backup is needed.

   Multihoming.  This seems to be to strong requirement and will depend
   on the host's capabilities; however, multiple physical paths could be
   a replacement.

   IPv4 unicast and IPv4 multicast.  Is not clear IPv4 multicast will be
   used anymore, but it should be available if required.




Palet                    Expires August 31, 2006                [Page 4]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


   IPv6 unicast and multicast.

   No content filtering or ACLs and consequently must not must not be
   prohibit end-to-end connectivity to any external sites.

3.2.  Wired Network

   A wired link is required for the registration desk/secretariat with
   configuration to support the registration desk firewall requirements.

   Wires to all essential services (e.g., audiocast, chairs, presenter,
   jabber scribe), especially in each meeting room for audio recordings.

   Separate VLANs for wired-terminal room, wired-registration desk/
   secretariat, wired-audiocast (and other essential services) and
   wireless traffic.

   Must support IPv6.

   Support multicast (multicast is not currently used to support remote
   participation, but it may change and specific multicast requirements
   should become available.

   It could be convenient to consider managed devices across the entire
   network.

3.3.  Wireless Network

   IEEE 802.11b/g service must be available in all the meeting rooms (as
   identified by the Secretariat), the registration area, and the
   terminal room.

   The WLAN coverage must also be sufficient in additional common spaces
   including hotel lobby, hotel bar, hotel restaurant, most commonly
   used hallways, etc.

   IEEE 802.11a coverage must be also available in as many as the above
   named spaces as possible, focusing on the most dense user
   requirements (plenary meeting room) first.

   The WLAN must provide fully open (unsecured) wireless access and may
   provide additional secured (WEP, 802.11i) services.

   Must support IPv6.

3.4.  Network Services

   DNS (IPv4 and IPv6).



Palet                    Expires August 31, 2006                [Page 5]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


   DHCP (IPv4), noting that there are a wide variety of DHCP clients.

   SMTP server (IPv4 and IPv6).

   FTP (IPv4 and IPv6), including a full on-site mirror of the RFCs and
   I-Ds.

   WWW (IPv4 and IPv6).

   A caching proxy may be useful (IPv4 and IPv6).

   SAMBA (local on-site mirror of IDs).

   IDS and other security issues should be covered (IPv4 and IPv6).

   NTP services may be helpful (IPv4 and IPv6).

   A pool of IP addresses for static assignment, even if discouraged to
   use, should be available.

   Printing services including BSD lpd/lpr and postscript level-2
   support.  Printer spooling services should also be available.

   All the network services must be of a production quality.  IETF
   network can not be used for any experimental purposes, unless is
   proven and clear that they will not disrupt the minimum requirements
   indicated in this section.


4.  Terminal Room Criteria for the Venue Selection

   Should be accessible at least from 08:00 AM to 12:00 PM.

   Should have adequate number of 10/100 Ethernet RJ-45 ports/drops.

   Two enterprise-class printers should be available.  A third spare one
   is good to have.  Transparency printing may be also available.

   A help-desk should be available for a sufficient number of hours.

   Security (guards) service are also required.


5.  NOC

   Is required to establish a support group or NOC, which will be
   responsible to manage the network and other technical issues,
   including concrete aspects such as:



Palet                    Expires August 31, 2006                [Page 6]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


   o  Setup and maintain a meeting NOC web page with all the required
      information.

   o  Document what can be wrong with the WLAN in advance to inform
      users (FAQ to users).  Provide a document to attendees detailing
      configuration information (wireless, services (e.g. printing,
      SMTP)) on-site and prior to the meeting if possible (IETF meeting
      web site and NOC meeting web site).

   o  Make sure to test the network under heavy load.

   o  Primary and backup contacts for all the issues/topics should be
      available.

   o  Provide stats and info on network status.

   o  WLAN expertise and debugging/monitoring is required.

   o  White board for the NOC, in visible place, possibly in the
      terminal room.


6.  Other Technical Criteria for the Venue Selection

   Sufficient power strips must be available in the terminal room and
   the meeting rooms.  Additional power strips also should be available
   in common gathering areas.

   Notify attendees of power connector requirements prior to the meeting
   (via the IETF meeting web page and IETF-announce mailing list,
   possibly also via the meeting NOC web page).

   Maintain spares of critical spares on-site.


7.  Technical Risks and Contingencies

   TBD.


8.  Timing and Planning

   TBD.


9.  Venue Acceptance/Rejection Report

   TBD.



Palet                    Expires August 31, 2006                [Page 7]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


10.  Security Considerations

   This document does not have any protocol-related security
   considerations.


11.  IANA Considerations

   This document does not have any specific IANA considerations.


12.  Acknowledgements

   The author would like to acknowledge the inputs of Brett Thorson, Jim
   Martin, Joel Jaeggli and Karen Odonoghue.


13.  References

13.1.  Normative References

13.2.  Informative References

   [1]  Palet, J., "IETF Meeting Venue Selection Criteria",
        draft-palet-ietf-meeting-venue-selection-criteria-04 (work in
        progress), January 2006.

























Palet                    Expires August 31, 2006                [Page 8]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


Author's Address

   Jordi Palet Martinez
   Consulintel
   Molino de la Navata, 75
   La Navata - Galapagar - Madrid
   E-28420 - Spain

   Phone: +34 91 151 81 99
   Fax:   +34 91 151 81 98
   Email: jordi.palet@consulintel.es








































Palet                    Expires August 31, 2006                [Page 9]

Internet-Draft  IETF Meeting Network & Tech. Requirements  February 2006


Intellectual Property Statement

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights.  Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard.  Please address the information to the IETF at
   ietf-ipr@ietf.org.


Disclaimer of Validity

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY AND THE INTERNET
   ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,
   INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE
   INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.


Copyright Statement

   Copyright (C) The Internet Society (2006).  This document is subject
   to the rights, licenses and restrictions contained in BCP 78, and
   except as set forth therein, the authors retain all their rights.


Acknowledgment

   Funding for the RFC Editor function is currently provided by the
   Internet Society.




Palet                    Expires August 31, 2006               [Page 10]


