
                                                S. Reddy
INTERNET-DRAFT                                  Microsoft Corporation
draft-reddy-dasl-requirements-00.txt            November 19, 1997

Expires May 24, 1998


                Requirements for DAV Searching and Locating


     Status of this Memo

     This document is an Internet draft. Internet drafts are working
     documents of the Internet Engineering Task Force (IETF), its areas
     and its working groups. Note that other groups may also distribute
     working information as Internet drafts.

     Internet Drafts are draft documents valid for a maximum of six
     months and can be updated, replaced or obsoleted by other
     documents at any time. It is inappropriate to use Internet drafts
     as reference material or to cite them as other than as "work in
     progress".

     To learn the current status of any Internet draft please check the
     "lid-abstracts.txt" listing contained in the Internet drafts
     shadow directories on ftp.is.co.za (Africa), nic.nordu.net
     (Europe), munnari.oz.au (Pacific Rim), ds.internic.net (US East
     coast) or ftp.isi.edu (US West coast). Further information about
     the IETF can be found at URL: http://www.ietf.org/

     Distribution of this document is unlimited. Editorial comments
     should be sent to the author (saveenr@microsoft.com).

     Abstract

     The Distributed Authoring and Versioning protocol [WEBDAV] defines
     simple mechanisms to assign and retrieve values for properties.
     This document presents a list of features in the form of
     requirements for a DAV Searching and Locating (DASL) protocol, an
     extension that improves the efficiency and utility of searching
     operations for resources whose properties or content meet client-
     defined criteria.













INTERNET DRAFT    Requirements for DAV Searching and Locating        1

     Requirements for DAV Searching and Locating         November 1997



     1 Introduction


     The DAV methods INDEX, PROPFIND, and the HTTP 1.1 method GET are
     sufficient to allow a client to locate those resources that meet a
     set of conditions on their properties or content. However, these
     methods are inefficient for some simple, common search scenarios.

     For example, in a typical publishing environment a client may wish
     to find "all the text documents modified within the last week."
     DAV clients must repeatedly invoke the INDEX and PROPFIND methods
     to traverse the server namespace, retrieve property values, and
     then determine which resources meet the criteria. This procedure
     is a functional solution. However, it has several limitations.

     First, this procedure makes inefficient use of network resources.
     The client must repeatedly invoke the INDEX method to recurse the
     server namespace. Likewise, repeated calls to PROPFIND are
     required for all of the resources that are being examined,
     resulting in the transmission of data even for resources that will
     fail to meet the criteria.

     Second, it makes inefficient use of server intelligence. Servers
     capable of supporting a criteria-based search for resources can
     use well-defined mechanisms to expedite the generation of the
     results. These techniques include caching of intermediate search
     results and the use of indices. If the logic is left solely to the
     client, neither client nor server can take advantage of these
     features.

     Third, this simple DAV search procedure cannot efficiently search
     the content of resources. To search content would require a DAV
     client to retrieve the entire content of each resource that is to
     be examined.

     These limitations are severe enough for even simple search
     scenarios that DAV needs extensions to specifically address them.


















INTERNET DRAFT    Requirements for DAV Searching and Locating        2

