

Network Working Group                                   M. Nakhjiri, Ed.
Internet-Draft                                                Huawei USA
Intended status: Informational                              K. Chowdhury
Expires: December 8, 2007                               Starent Networks
                                                                 A. Lior
                                                     Bridgewater Systems
                                                                K. Leung
                                                           Cisco Systems
                                                            June 6, 2007


                    Mobile IPv4 RADIUS requirements
               draft-ietf-mip4-radius-requirements-03.txt

Status of this Memo

   By submitting this Internet-Draft, each author represents that any
   applicable patent or other IPR claims of which he or she is aware
   have been or will be disclosed, and any of which he or she becomes
   aware will be disclosed, in accordance with Section 6 of BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on December 8, 2007.

Copyright Notice

   Copyright (C) The IETF Trust (2007).

Abstract

   This document provides an applicability statement as well as a scope
   definition for specifying RADIUS extensions to support Mobile IPv4.
   The goal is to allow specification of RADIUS attributes to assist the



Nakhjiri, et al.        Expires December 8, 2007                [Page 1]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


   Mobile IPv4 signaling procedures.


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   2.  Terminology . . . . . . . . . . . . . . . . . . . . . . . . . . 3
   3.  Goals and Non-Goals . . . . . . . . . . . . . . . . . . . . . . 3
     3.1.  Goals . . . . . . . . . . . . . . . . . . . . . . . . . . . 3
     3.2.  Non-Goals . . . . . . . . . . . . . . . . . . . . . . . . . 4
   4.  Attributes  . . . . . . . . . . . . . . . . . . . . . . . . . . 5
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 5
   6.  Security considerations . . . . . . . . . . . . . . . . . . . . 5
   7.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . . . 5
   8.  References  . . . . . . . . . . . . . . . . . . . . . . . . . . 6
     8.1.  Normative References  . . . . . . . . . . . . . . . . . . . 6
     8.2.  Informative References  . . . . . . . . . . . . . . . . . . 6
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . . . 6
   Intellectual Property and Copyright Statements  . . . . . . . . . . 8
































Nakhjiri, et al.        Expires December 8, 2007                [Page 2]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


1.  Introduction

   The Mobile IPv4 working group has developed extensions for the
   registration process [RFC3344] to allow the MN and mobility agents to
   request assistance from the AAA server in authentication [RFC4721]
   and creation of security associations [RFC3957] all based on the pre-
   established trust relationship between the MN and its home AAA
   server.  However, on the AAA side, currently only Diameter provides
   specification for interaction with Mobile IP agents [RFC4004]

   In the absence of IETF standardized RADIUS attributes for support of
   MIPv4, different wireless SDOs have taken the path of developing VSAs
   for dynamic bootstrapping of Mobile IPv4 registration procedure.  The
   use of different VSAs and different RADIUS procedures for the same
   purpose of Mobile IPv4 bootstrapping at different SDOs will cause a
   lack interoperability between these wireless standards, potentially
   hindering mobility across these wireless networks.

   To respond to the described issue, it is desired to standardize a set
   of RADIUS attributes within IETF to allow a consistent and
   interoperable interaction with RADIUS based AAA infrastructure during
   the Mobile IPv4 Registration procedure.  The bootstrapping attributes
   can include configuration parameters as well as material used for
   provisioning security of Mobile IPv4 messaging (authentication) as
   defined by [RFC3957].


2.  Terminology

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].


3.  Goals and Non-Goals

   Since this document serves as requirement specification for RADIUS
   extensions supporting Mobile IPv4 interaction with RADIUS
   infrastructure, the goals and non-goals refer to only those RADIUS
   extensions that are reqiuired for support of Mobile IPv4.

3.1.  Goals

   The scope of the work is to standardize RADIUS attributes and to
   define the procedure by which the Mobile IPv4 agents, e.g.  Home
   agent (HA) and Foreign Agent (FA) map the Mobile IP registration
   message fields into the proposed RADIUS attributes and vice versa.




Nakhjiri, et al.        Expires December 8, 2007                [Page 3]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


   o  It is required of the RADIUS servers to be able to understand and
      process the attributes described in this specification to perform
      verification of authentication extensions specified in [RFC4721].
      RADIUS proxies are expected to be able to process these
      attributes.
   o  All RADIUS work MUST be backward compatible with existing RADIUS
      RFCs, including RFCs 2865-2869, 3162, 3575, 3576, 3579, 3580 and
      4668-4671.
   o  It is also required of the Mobile IP agents (FA and HA) to operate
      as RADIUS clients (NASes in context of RFC 2865) when translating
      RADIUS signaling into Mobile IP signaling and vice versa.  Details
      on the behavior of Mobile IP agents as RADIUS clients are to be
      provided by the solution draft desribing the RADIUS extensions for
      Mobile IP support.

3.2.  Non-Goals

   The scope of this work is to only standardize RADIUS attributes and
   to define the procedure by which the Mobile IPv4 agents, e.g.  Home
   agent (HA) and Foreign Agent (FA) map the Mobile IP registration
   message fields into the proposed RADIUS attributes and vice versa.
   It is not the intention to extend the functionality of existing
   RADIUS servers or protocol.  More specifically, the following are
   NON-GOALS:
   o  Enhancing RADIUS Security: Creating new security properties for
      RADIUS, such as creating key transport capabilities is not the
      goal.  No new security mechanisms are to be defined for the
      transport of RADIUS Access Requests in relation to support of
      Mobile IPv4 bootstrapping.  Existing RADIUS authentication
      procedures, e.g.  Message-Authenticator (80) described in RFC2869,
      are used.  The security considerations for use of RADIUS in
      bootstrapping Mobile IPv4 are described in a later section of this
      document.
   o  Enhancing RADIUS transport reliability: Transport properties of
      RADIUS remain intact.  No new reliability mechanisms are defined
      in the transport of such Access Requests.
   o  Extending RADIUS message set: RADIUS extesions for boostrapping
      Mobile IPv4 are not to define new RADIUS messages.  Diameter
      Mobile IP application [RFC4004] has defined new command codes for
      support of Mobile IP signaling, depending on whether Diameter
      server is dealing with a Mobile IP HA or an FA.  RADIUS currently
      does not have any messages that correspond to these Diameter
      commands.  Instead, RADIUS extensions for Mobile IPv4
      bootstrapping need to provide proposals for new RADIUS attributes
      that facilitates Diameter-RADIUS messaging translation without
      defining any new RADIUS messaging.  At the same time, the RADIUS
      extensions for Mobile IPv4 need to re-use Diameter AVPs to the
      fullest extent possible.



Nakhjiri, et al.        Expires December 8, 2007                [Page 4]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


   o  RFC2977 compatibilty: Extending RADIUS in a way that fulfills the
      full list of requirements in [RFC2977] will not be attempted.


4.  Attributes

   A specification of the RADIUS extensions for Mobile IPv4 needs to
   describe the full set of attributes required for RADIUS-Mobile IP
   interaction.  While some of the attributes may already be
   standardized, others will require standardization and IANA type
   assignments.


5.  IANA Considerations

   This requirement document does not allocate any numbers, so there are
   no IANA considerations.  On the other hand, solution documentations
   for RADIUS support of Mobile IPv4 will likely introduce new RADIUS
   attributes.  Thus those documents will need new attribute type
   numbers assigned by IANA.


6.  Security considerations

   This document defines no new requirements or security mechanisms for
   RADIUS.  As such, the existing RADIUS security considerations
   described previously apply, and no additional security considerations
   are added here.  For instance, the concern of using AAA protocols
   that use hop-by-hop security (Diameter/RADIUS) to distribute keys is
   nothing new.  In both Diameter and RADIUS the assumption is that
   intermediary nodes are trusted.

   When it comes to protecting attributes in Access Request, RFC 2868
   section 3.5 provides a mechanism for encrypting RADIUS attributes
   (RFC 2868 section 3.5).  There is also work in progress to define key
   wrap mechanisms for RADIUS [zorn-radius-keywrap].  The key wrap
   process can be used to transmit sensitive material, such as keys,
   that require specific privacy protection.  It is also possible to
   protect RADIUS transactions using IPsec (e.g. as in RFC3579).


7.  Acknowledgements

   The authors would like to thank Alan DeKok for review and feedback.


8.  References




Nakhjiri, et al.        Expires December 8, 2007                [Page 5]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


8.1.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", March 1997.

   [RFC2977]  Glass, S. and Perkins, "Mobile IP Authentication,
              Authorization, and Accounting Requirements", October 2000.

   [RFC3344]  Perkins, C., "IP Mobility Support", August 2002.

   [RFC3957]  Perkins, C. and P. Calhoun, "AAA Registration Keys for
              Mobile IP", March 2005.

   [RFC4004]  Calhoun, P. and C. Perkins, "Diameter Mobile IP
              application", May  2004.

   [RFC4721]  Perkins, C. and P. Calhoun, "Mobile IP Challenge/Response
              Extensions (Revised)", January 2007.

   [zorn-radius-keywrap]
              Zorn, G., "RADIUS Attributes for the Delivery of Keying
              Material", draft-zorn-radius-keywrap-12 (work in
              progress).

8.2.  Informative References

   [I-D.nakhjiri-radius-mip4]
              Nakhjiri, M. and Et. Al., "RADIUS Mobile IPv4 extensions,
              draft-nakhjiri-radius-mip4-02.txt", Internet
              Draft draft-nakhjiri-radius-mip4-02, October 2005.

   [RFC2868]  Zorn, G., "RADIUS Attributes for Tunnel Protocol Support",
              June  2000.

   [RFC3579]  Aboba, B. and P. Calhoun, "RADIUS (Remote Authentication
              Dial In User Service) Support For Extensible
              Authentication Protocol (EAP)", September 2003.


Authors' Addresses

   Madjid Nakhjiri (editor)
   Huawei USA

   Email: mnakhjiri@huawei.com






Nakhjiri, et al.        Expires December 8, 2007                [Page 6]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


   Kuntal Chowdhury
   Starent Networks

   Email: kchowdhury@starentnetworks.com


   Avi Lior
   Bridgewater Systems

   Email: avi@bridgewatersystems.com


   Kent Leung
   Cisco Systems
   170 West Tasman Drive
   San Jose, CA  95134
   US

   Email: kleung@cisco.com
































Nakhjiri, et al.        Expires December 8, 2007                [Page 7]

Internet-Draft       Mobile IP4 RADIUS Requirements            June 2007


Full Copyright Statement

   Copyright (C) The IETF Trust (2007).

   This document is subject to the rights, licenses and restrictions
   contained in BCP 78, and except as set forth therein, the authors
   retain all their rights.

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY, THE IETF TRUST AND
   THE INTERNET ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS
   OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF
   THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.


Intellectual Property

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights.  Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard.  Please address the information to the IETF at
   ietf-ipr@ietf.org.


Acknowledgment

   Funding for the RFC Editor function is provided by the IETF
   Administrative Support Activity (IASA).





Nakhjiri, et al.        Expires December 8, 2007                [Page 8]


