

ecrit                                                         R. Stastny
Internet-Draft                                                     OeFEG
Expires: August 16, 2005                                        B. Rosen
                                                               Emergicom
                                                       February 12, 2005


     The basic requirements for emergency services via the Internet
                draft-stastny-ecrit-requirements-00.txt

Status of this Memo

   This document is an Internet-Draft and is subject to all provisions
   of Section 3 of RFC 3667.  By submitting this Internet-Draft, each
   author represents that any applicable patent or other IPR claims of
   which he or she is aware have been or will be disclosed, and any of
   which he or she become aware will be disclosed, in accordance with
   RFC 3668.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as
   Internet-Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on August 16, 2005.

Copyright Notice

   Copyright (C) The Internet Society (2005).

Abstract

   We present a short list of the basic requirements for emergency
   services via the Internet.






Stastny & Rosen          Expires August 16, 2005                [Page 1]

Internet-Draft             ECRIT Requirements              February 2005


Table of Contents

   1.   Requirements notation  . . . . . . . . . . . . . . . . . . . . 3
   2.   MUST Requirements  . . . . . . . . . . . . . . . . . . . . . . 4
   3.   SHOULD Requirements  . . . . . . . . . . . . . . . . . . . . . 5
   4.   Security Considerations  . . . . . . . . . . . . . . . . . . . 6
   5.   References . . . . . . . . . . . . . . . . . . . . . . . . . . 6
        Authors' Addresses . . . . . . . . . . . . . . . . . . . . . . 6
        Intellectual Property and Copyright Statements . . . . . . . . 7










































Stastny & Rosen          Expires August 16, 2005                [Page 2]

Internet-Draft             ECRIT Requirements              February 2005


1.  Requirements notation

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [RFC2119].














































Stastny & Rosen          Expires August 16, 2005                [Page 3]

Internet-Draft             ECRIT Requirements              February 2005


2.  MUST Requirements

   M1.  From any with the Internet connected device it MUST be possible
        at any time to contact the ECC responsible for the current
        location with the most appropriate method for communication for
        the user and the device.
   M2.  The possibility to make contact to the proper ECC has to be
        verified and indicated to the user and/or the User Agent.
   M3.  The communication may be established on user request or by
        external events.
   M4.  To achieve this, the device MUST be able to retrieve its current
        location from the access provider, from the infrastructure, via
        GPS, ...  or as last resort, from the user itself.
   M5.  The capability to locate the responsible ECC must be available
        in the public Infrastructure without the additional need for a
        service provider.
   M6.  For a transient time the device and the UA may use the help of
        servers (e.g.  ESRP) to provide the connectivity to ECC,
        especially for ECC not yet connected to the Internet.
































Stastny & Rosen          Expires August 16, 2005                [Page 4]

Internet-Draft             ECRIT Requirements              February 2005


3.  SHOULD Requirements

   S1.  Transmission of the current location of the contacting device to
        the ECC
   S2.  Capability to re-contact the contacting device from the ECC in
        case of disruption or later query for a tbd period of time.
        This should also be possible from conventional ECC via temporary
        (virtual) E.164 numbers
   S3.  Identification of the contacting person or device
   S4.  Safeguards to protect the emergency infrastructure and ECC
        facilities against malicious attacks, especially to prevent DoS
        attacks.
   S5.  Provide all possible means of communication, not only speech,
        but also text (IM), Video, etc., (for disabled persons and
        better display of the situation)
   S6.  Capabilities to contact ECC by automatic means and for the
        transfer of additional information (alarm equipment, cars,
        buses, trucks with dangerous loads, ...)

































Stastny & Rosen          Expires August 16, 2005                [Page 5]

Internet-Draft             ECRIT Requirements              February 2005


4.  Security Considerations

   None.

5.  References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119, March 1997.


Authors' Addresses

   Richard Stastny
   OeFEG
   Postbox 147
   Vienna  1103
   AU

   Phone: +43-664-420-4100
   Email: Richard.Stastny@oefeg.at


   Brian Rosen
   Emergicom
   470 Conrad Dr
   Mars, PA  16046
   US

   Phone: +1 724 382 1051
   Email: br@brianrosen.net





















Stastny & Rosen          Expires August 16, 2005                [Page 6]

Internet-Draft             ECRIT Requirements              February 2005


Intellectual Property Statement

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights.  Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard.  Please address the information to the IETF at
   ietf-ipr@ietf.org.


Disclaimer of Validity

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY AND THE INTERNET
   ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,
   INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE
   INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.


Copyright Statement

   Copyright (C) The Internet Society (2005).  This document is subject
   to the rights, licenses and restrictions contained in BCP 78, and
   except as set forth therein, the authors retain all their rights.


Acknowledgment

   Funding for the RFC Editor function is currently provided by the
   Internet Society.




Stastny & Rosen          Expires August 16, 2005                [Page 7]


