



Internet Draft  QoS Signalling Requirements for Wireless   November 2001


Internet Engineering Task Force                           G  Karagiannis
INTERNET-DRAFT                                                D. Partain
Expires October 2001                                          V. Rexhepi
                                                             L. Westberg
                                                                Ericsson
                                                           November 2001

           QoS Signalling Requirements for Wireless Networks
          draft-karagiannis-nsis-wireless-requirements-00.txt





Status of this Memo

   This document is an Internet-Draft and is in full conformance with
   all provisions of Section 10 of RFC2026.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.  Internet-Drafts are draft documents valid for a maximum of
   six months and may be updated, replaced, or obsoleted by other
   documents at any time. It is inappropriate to use Internet- Drafts as
   reference material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   Distribution of this memo is unlimited.



Copyright Notice

   Copyright (C) The Internet Society (2001). All Rights Reserved.

Abstract

   Real-time applications impose very strict quality of service (QoS)
   requirements on the underlying transmission network. This level of





Karagiannis, et al.         Expires May 2002                    [Page 1]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






   QoS can only be achieved by means of QoS management on an end-to-end
   basis (i.e., end user to end user), from application to application,
   as well as potentially across many domains since the Internet is a
   concatenation of many domains, usually managed by different QoS
   administrators (operators).

   The requirement for end-to-end QoS management does not necessarily
   mean that a single resource reservation signalling protocol must be
   applied end-to-end. In fact, it is most likely that the end-to-end
   QoS management architecture will consist of many interoperable and
   concatenated QoS management architectures rather than one global end-
   to-end QoS infrastructure.  This is also true in wireless networks,
   which usually consist of three network parts: a wireless interface
   part, and a wired part of the wireless network, and the backbone of
   the wireless network.  Each of these parts in the wireless network
   imposes different requirements on the QoS signalling solution.

   This memo outlines a set of requirements for signalling QoS needs in
   the wired part of IP-based wireless networks.  These requirements are
   applicable to any IP-based wireless network that supports a large
   volume of real-time traffic (mixed with best effort traffic).





























Karagiannis, et al.         Expires May 2002                    [Page 2]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






1.  Introduction

   A wireless network, seen from a QoS domain perspective, usually
   consists of three parts: a wireless interface part (the "radio
   interface"), a wired part of the wireless network and the backbone of
   the wireless network, as shown in the figure below.  Note that this
   figure should not be seen as an architectural overview of wireless
   networks but rather as showing the conceptual QoS domains in a
   wireless network.

                          |--|
                          |GW|
   |--|                   |--|
   |MH|---                  .
   |--|  / |-------|        .
        /--|base   | |--|   .
           |station|-|ER|....
           |-------| |--|   .  |--| back- |--|  |---|              |----|
                            ...|ER|.......|ER|..|BGW|.."Internet"..|host|
        -- |-------| |--|   .  |--| bone  |--|  |---|              |----|
   |--| \  |base   |-|ER|...     .
   |MH|  \ |station| |--|        .
   |--|--- |-------|             .          MH  = mobile host
                              |--|          ER  = edge router
      <---->                  |GW|          GW  = gateway
     Wireless link            |--|          BGW = border gateway
                                            ... = interior nodes
            <------------------->
      Wired part of wireless network

   <---------------------------------------->
                Wireless Network

   Each of these parts impose different requirements on the QoS
   signalling solution being used:


    * Wireless interface: The solution for the air interface link
      has to ensure flexibility and spectrum efficient transmission
      of IP packets.  However, this link layer QoS is solved in
      the same way as any other last hop problem by allowing a
      host to request the proper QoS profile.

    * Wired part of the wireless network:  This is the part of
      the network that is closest to the base stations.  It is an





Karagiannis, et al.         Expires May 2002                    [Page 3]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






      IP network although some parts logically perform tunneling
      of the end user data. In cellular networks, the wired part
      of the wireless network is denoted as a radio access network.

      This part of the wireless network has different
      characteristics when compared to traditional IP networks:

        1. The network supports a high proportion of real-time
           traffic.  The majority of the traffic transported in the
           wired part of the wireless network is speech, which is
           very sensitive to delays and delay variation (jitter).

        2. The network must support mobility.  Many wireless
           networks are able to provide a combination of soft
           and hard handover procedures.  When handover occurs,
           reservations need to be established on new paths.
           The establishment time has to be as short as possible
           since long establishment times for reservations degrade
           the performance of the wireless network.  Moreover,
           for maximal utilization of the radio spectrum, frequent
           handover operations are required.

        3. These links are typically rather bandwidth-limited.

        4. The wired transmission in such a network contains a
           relatively high volume of expensive leased lines.
           Overprovisioning might therefore be prohibitively
           expensive.

        5. The radio base stations are spread over a wide
           geographical area and are in general situated a large
           distance from the backbone.

    * Backbone of the wireless network: the requirements imposed
      by this network are similar to the requirements imposed by
      other types of backbone networks.

   Due to these very different characteristics and requirements, often
   contradictory, different QoS signalling solutions might be needed in
   each of the three network parts.  This memo outlines a set of
   requirements for QoS signalling specifically in the wired part of IP-
   based wireless networks.








Karagiannis, et al.         Expires May 2002                    [Page 4]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






2.  Requirements for the Wired Part of Wireless Networks

   Based upon the wireless network characteristics as described in the
   previous section, there are a number of requirements on any QoS
   signalling mechanism that will be used in the wired part of the
   network.  These requirements are:

    1. Modular, Simple, with Minimal Impact on Performance
    2. Ability to deal with mobility (handover)
    3. On-demand, dynamic signalling for efficient network
       utilization
    4. Ability to deal with severe congestion
    5. Unicast transport
    6. Scalably Manageable

   Without adequately addressing all of these requirements, it will not
   be possible to provide appropriate QoS in this network.

   In addition, the following are specifically non-requirements:

    1. Handling multicast flows
    2. Signalling across multiple administrative domains

   If a QoS signalling protocol can provide these at little cost, that
   would obviously be useful.  However, these requirements are far
   outweighed by the requirement for simplicity and scalability.

   In the sections that follow, each of the requirements is explained in
   more detail.


2.1.  Modular, Simple, with Minimal Impact on Performance

   Although obvious, it bears saying that any QoS signalling mechanism
   must be as modular, simple, and scalable as possible and that it
   should have a minimal effect on the overall performance of the
   network.


2.1.1.  Modular

   While it is clear that a set of mechanisms will not be standardized
   that is only applicable to the wired part of the wireless network, it
   must be possible to use only a part of the QoS signalling mechanism
   that is applicable to that network.  That is, a standardized QoS





Karagiannis, et al.         Expires May 2002                    [Page 5]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






   signalling mechanism should be a toolkit from which one can choose
   the applicable tools in order to manage QoS in a particular
   networking environment.


2.1.2.  Simple

   It is critical that the reservation mechanism be as simple as
   possible to implement in hardware in the interior nodes since in most
   cases there will be more interior routers (<= 10 depending on network
   structure) in the path between the edges than there are edge nodes
   (there are typically two edge nodes located in a communication path).
   As such, the scheme must be optimized for the interior nodes and not
   for the edge nodes, thus reducing the requirements placed on the
   functionality of the interior routers.


2.1.3.  Minimal Impact on Performance

   In wireless networks, the interior nodes will have to support a
   higher number of micro-flows (user connections) compared to the edge
   nodes.  Therefore a resource reservation scheme should be very simple
   at the interior nodes while it might use more complex mechanisms at
   the edge nodes.  In particular, this means is that the interior nodes
   must not be required to have per flow responsibilities.

   The performance of each network node that is used in an end-to-end
   communication path has an impact on the end-to-end performance. As
   such, the end-to-end performance of the communication path can be
   improved by optimizing the performance of interior nodes. One of the
   factors that can contribute to this optimization is the minimization
   of the resource reservation signaling protocol processing load on
   each device. When the dynamic reservation of the resources is on a
   per micro-flow basis, the resource reservation signaling protocol
   could easily overload a router, causing severe performance
   degradation.  The QoS signalling mechanism must be designed to
   minimize the cycles spent on processing the signalling messages.

   One outcome of this requirement is that it uses a simplified
   lightweight model in the interior nodes and places complex per-flow
   handling at the edges.  This requires mapping of per-flow traffic
   parameters at the edges into a necessary set of parameters needed for
   setting up reservations in interior nodes.  The edge routers
   typically already have to perform per-session management/control, and
   hence complex per flow-handling is not a significant burden.





Karagiannis, et al.         Expires May 2002                    [Page 6]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






2.2.  Ability to deal with mobility (handover)

   In order to support mobile users, the QoS signalling mechanism must
   be highly performant for at least the following reasons:

    * Handover rates

      In mobile networks, the admission control process has to cope
      with far more admission requests than call setups alone would
      generate. For example, in the GSM (Global System for Mobile
      communications) case, mobility usually generates an average
      of one to two handovers per call. For third generation
      networks (such as UMTS), where it is necessary to keep radio
      links to several cells simultaneously (macro-diversity),
      the handover rate is significantly higher (see for example
      [KeMc01]).

    * Fast reservations

      Handover can also cause packet losses. This happens when the
      processing of an admission request causes a delayed handover
      to the new base station. In this situation, some packets
      might be discarded, and the overall speech quality might
      be degraded significantly. Moreover, a delay in handover
      may cause degradation for other users. In the worst case
      scenario, a delay in handover may cause the connection to be
      dropped if the handover occurred due to bad air link quality.

   Therefore, it is critical that QoS signalling in connection with
   handover be carried out very quickly.

   Furthermore, when the network is overloaded, it is preferable to keep
   reservations for previously established flows while blocking new
   requests. Therefore, the resource reservation requests in connection
   with handover should be given higher priority than new requests for
   resource reservation.


2.3.  On-demand, dynamic signalling for efficient network utilization

   The resource reservation scheme must facilitate the network
   utilization to the highest degrees possible.  Wireless networks
   typically use a large number of expensive leased lines, which means
   that efficient network utilization has a direct economic impact on
   network operators.





Karagiannis, et al.         Expires May 2002                    [Page 7]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






   Real-time services require that a portion of network resources is
   available to them.  These resources can be reserved on a static or
   dynamic basis, or potentially based on some kind of measurement of
   network load.

   Both measurement-based and static reservations may result in a poorly
   utilized network, primarily due to the fact that the network
   resources are typically reserved for peak real-time traffic values.
   Mobility in the network makes static configuration even less
   desirable as the resources will be used even less effectively.

   By using dynamic reservation, this problem will be avoided since the
   resources are reserved on demand.  There is, of course, a tradeoff.
   Dynamic reservations will mean that the load from resource
   reservation will be much higher than if static reservation of
   resources is used. If the dynamic reservation of the resources is
   done on a micro-flow basis, the resulting network load from resource
   reservation might be quite high.

   In networks where resources are very expensive (as is the case for
   many wireless networks), efficient network utilization is of critical
   financial importance.  As such, static configuration is simply not an
   option and an appropriately engineered solution allowing dynamic
   resource reservation is needed.


2.4.  Ability to deal with severe congestion

   In case of a route change or link failure a severe congestion
   situation may occur in the network. Typically, routing algorithms are
   able to adapt and change their routing decisions to reflect changes
   in the topology and traffic volume. In such situations the re-routed
   traffic will have to follow a new path.  Interior nodes located on
   this new path may become overloaded, since they suddenly might need
   to support more traffic than they have capacity for.  These severe
   congestion situations will severely affect the overall performance of
   the traffic passing through such nodes. Therefore, the QoS signalling
   solution should be able to efficiently solve this situation.


2.5.  Unicast transport

   The vast majority of the traffic in the wireless network is point-to-
   point unicast transport.  As such, the QoS signalling mechanism must
   deal with unicast effectively.





Karagiannis, et al.         Expires May 2002                    [Page 8]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






2.6.  Scalably Manageable

   Any strategy for resource management must be done in such a way that
   it is manageable in a very large network. In networks made up of many
   thousands of routers, changing of even a single parameter in all
   routers may be prohibitively difficult.  Minimizing the involvement
   of the operator (or the operator's management tools) is therefore an
   important requirement.


3.  Non-goals for QoS Signalling in Wireless Networks

   The characteristics of wireless networks mean that a number of issues
   do not need to be considered in designing a QoS signalling mechanism.
   Of course, a QoS signalling mechanism that addresses these issues
   without compromising on the more critical requirements would
   certainly be acceptable.


3.1.  Handling multicast flows

   Given that the traffic in wireless access networks is unicast, these
   networks do not require a QoS signalling mechanism which deals with
   multicast.


3.2.  Signalling across multiple administrative domains

   Real-time applications require a high level of QoS from the
   underlying transmission network, which can only be achieved by
   managing the QoS on an end-to-end basis, potentially across many
   domains. However, this does not mean that the QoS signalling must be
   applied end-to-end. The end-to-end QoS management architecture might
   consist of many interoperable edge-to-edge QoS management
   architectures. Each of these edge-to-edge QoS management
   architectures might use a different edge-to-edge resource reservation
   protocol. This will increase the flexibility and the openness of the
   transmission network since various access networks that are using the
   same transmission network and different edge-to-edge QoS management
   architectures will be able to interoperate.

   It is realistic to assume that end-to-end communication in IP
   networks as well as the end-to-end QoS management architectures will
   be managed by more than one operator. Furthermore, it also realistic
   to assume that an edge-to-edge resource reservation protocol can be





Karagiannis, et al.         Expires May 2002                    [Page 9]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






   managed by one single operator. As such, it is reasonable to allow a
   QoS signalling scheme to a single operator domain by using applicable
   parts of a modular architecture. This will ensure that each operator
   can optimize the QoS management architecture for their needs.
   Moreover, this limitation (a single operator domain) means that the
   reservation scheme does not need to handle the issues inherent in a
   multi-operator domain, thus further simplifying the scheme.



4.  Conclusion

   The need for a QoS signalling mechanism in wireless networks is
   great.  The requirements outlined in this memo must be fulfilled in
   order to be able to use IP effectively in wireless networks.  Without
   QoS signalling and appropriate resource reservation mechanisms, it
   will be significantly more difficult to take advantage of using IP as
   transport in wireless networks.

   These wireless networks support a high proportion of real-time
   traffic, must support mobility, the transport links are typically
   rather bandwidth-limited on relatively expensive leased lines, and
   the network is spread over a wide geographical area.  The QoS
   signalling mechanism must be designed so that these networks can
   support users' needs for QoS and be used efficiently.



5.  References

   [RFC2475] Blake, S., Black, D., Carlson, M., Davies, E., Wang,
             Z., Weiss, W., "An Architecture for Differentiated
             Services", IETF RFC 2475, December 1998.

   [KeMc01]  Kempf, J., McCann, P., Roberts, P., "IP Mobility
             and the CDMA Radio Access Network", IETF Draft,
             draft-kempf-cdma-appl-02.txt, Work in progress,
             September 2001.



6.  Acknowledgments

   The editors wish to thank colleagues at Ericsson for value feedback.






Karagiannis, et al.         Expires May 2002                   [Page 10]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






7.  Editors' Addresses

   Georgios Karagiannis
   Ericsson EuroLab Netherlands B.V.
   Institutenweg 25
   P.O.Box 645
   7500 AP Enschede
   The Netherlands
   EMail: Georgios.Karagiannis@eln.ericsson.se

   David Partain
   Ericsson Radio Systems AB
   P.O. Box 1248
   SE-581 12  Linkoping
   Sweden
   EMail: David.Partain@ericsson.com

   Vlora Rexhepi
   Ericsson EuroLab Netherlands B.V.
   Institutenweg 25
   P.O.Box 645
   7500 AP Enschede
   The Netherlands
   EMail: Vlora.Rexhepi@eln.ericsson.se

   Lars Westberg
   Ericsson Research
   Torshamnsgatan 23
   SE-164 80 Stockholm
   Sweden
   EMail: Lars.Westberg@era.ericsson.se


Table of Contents



1 Introduction ....................................................    3
2 Requirements for the Wired Part of Wireless Networks ............    5
2.1 Modular, Simple, with Minimal Impact on Performance ...........    5
2.1.1 Modular .....................................................    5
2.1.2 Simple ......................................................    6
2.1.3 Minimal Impact on Performance ...............................    6
2.2 Ability to deal with mobility (handover) ......................    7
2.3 On-demand, dynamic signalling for efficient network utiliza­





Karagiannis, et al.         Expires May 2002                   [Page 11]

Internet Draft  QoS Signalling Requirements for Wireless   November 2001






     tion .........................................................    7
2.4 Ability to deal with severe congestion ........................    8
2.5 Unicast transport .............................................    8
2.6 Scalably Manageable ...........................................    9
3 Non-goals for QoS Signalling in Wireless Networks ...............    9
3.1 Handling multicast flows ......................................    9
3.2 Signalling across multiple administrative domains .............    9
4 Conclusion ......................................................   10
5 References ......................................................   10
6 Acknowledgments .................................................   10
7 Editors' Addresses ..............................................   11







































Karagiannis, et al.         Expires May 2002                   [Page 12]

