IETF Internet Draft                                     C. Janneteau, ed.
Expires: April 2003                                           H. Y. Lach
                                                            A. Olivereau
                                                             A. Petrescu
                                                              
                                                                Motorola

                                                            October 2002

	        Requirements for NEtwork MObility Support
		 <draft-janneteau-nemo-requirements-00.txt>

Status of this Memo 
 
   This document is an Internet-Draft and is in full conformance with
   all provisions of Section 10 of RFC2026.
    
   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.
    
   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other
   documents at any time.  It is inappropriate to use Internet-Drafts
   as reference material or to cite them other than as "work in
   progress."
    
   The list of current Internet-Drafts can be accessed at 
        http://www.ietf.org/ietf/1id-abstracts.txt 
   The list of Internet-Draft Shadow Directories can be accessed at 
        http://www.ietf.org/shadow.html. 

Abstract 
    
   This draft introduces some scenarios for mobile networks, i.e. IP
   networks that change their points of attachment to the Internet,
   and proposes requirements for network mobility support in the
   context of the NEMO working group.
     
Table of Contents 
    
   Status of this Memo................................................i
   Abstract...........................................................i
   Conventions used in this document..................................1
   1. Introduction....................................................1
   2. Definitions.....................................................1
   3. Scenarios.......................................................1
   4. General Requirements for Network Mobility Support...............2
   5. Additional Requirements for the Base Network Mobility Support...3
   Acknowledgments....................................................4
   References.........................................................4
   Authors' Address...................................................5
    




Janneteau et al.          Expires April 2003                   [Page i]

INTERNET-DRAFT      Network Mobility Requirements          October 2002

Conventions used in this document 
    
   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in
   this document are to be interpreted as described in RFC-2119 [1].
 
1. Introduction 
   
   Node mobility has been previously addressed in various IETF WGs.
   However, with the rise of interests in vehicular networks and
   personal area networks (PAN), which imply aggregated mobility of
   nodes and devices therein, the overall IP connectivity framework
   needs to be extended to provide support of mobile networks, in
   addition of mobile nodes. This is the aim of the NEMO WG.

   This draft starts with a description of mobile network scenarios,
   followed by a recommendation of technical requirements for the
   solution. Requirements are divided into two categories: general
   requirements defining the scope of a network mobility solution,
   and additional requirements specific to the base network mobility
   support developped by the NEMO WG.
    
2. Definitions 

   Definitions that pertain to mobile networks protocols are mainly
   derived from Mobile IP [4] and Mobile IPv6 [3].  Mobile-network
   terminology is defined in [2].

3. Scenarios

   The formation of a mobile network can exist in various levels of
   complexity.  In the simplest case, a mobile network contains just a
   mobile router and a host.  In the most complicated case, a mobile
   network is itself a multi-level aggregation of mobile networks with
   collectively thousands of mobile routers and hosts.

   The idea of the mobile router is taken for granted to refer to the
   router in a mobile network that attaches the mobile network
   dynamically to various parts of an IP infrastructure.  Each mobile
   node and router can have one or more IP interfaces.

   Here are the scenarios of various instances of mobile networks:

     - A cellphone with one cellular interface and one Bluetooth
       interface together with a Bluetooth-enabled PDA constitute a
       very simple instance of a mobile network.  The cellphone is the
       mobile router while the PDA is used for web browsing or runs a
       personal web server.

     - A train's passengers use their laptops with Wireless LAN cards
       to connect to Wireless LAN Access Points deployed in the train.
       The mobile router is used to link together the Access Points
       and to provide connectivity to the Internet.  Similar scenario
       can occur as well on a plane, on a ship, and any moving
       vehicles.

Janneteau et al.          Expires April 2003                   [Page 1]

INTERNET-DRAFT      Network Mobility Requirements          October 2002

     - A car network links its electronic devices (such as brake or
       injection electronics but also the onboard computer offering
       maps on LCD's or the audio player) to the mobile router that
       is connected to the Internet via a cellular network.

     - Multi-level aggregation of mobile networks can be desirable.
       For example, a person carrying a personal area network of a
       cellphone and a PDA getting into a car, might wish to offer
       Internet access to the car's electronic devices, or it might
       want to use the car's own mobile router to connect his/her PDA
       to the Internet (instead of the cellphone).

     - More complex cases, but still real, arise when a larger number
       of larger sets of equipments interact.  One specific case is a
       typical Fire Department deployment in action.  A MESA [5]
       firefighter would carry a personal area network (with a mobile
       router and numerous IP-enabled devices).  The firefighter's
       mobile router has a wireless connection to a vehicle whose
       mobile router is attached to a private public-safety backbone
       via a wireless link (maybe satellite link).  Being part of the
       public-safety network, the firefighter can receive data such as
       building plans, and send data such as photographs, thermal
       images, lifesign information, etc.

4. General Requirements for Network Mobility Support

   The following requirements define the scope of a network mobility
   solution in NEMO:

     - Permanent connectivity and unicast session continuity: The
       solution MUST allow all nodes in the mobile network to be
       reachable via their permanent IP addresses, as well as
       maintain ongoing sessions as the mobile router changes its
       point of attachement within the topology.

     - Implementation in the IP layer: The solution MUST be
       implemented at the IP layer level. It MUST be transparent to
       any upper layer so that any upper layer protocol can run
       unchanged on top of an IP layer extended with network mobility
       support.

     - Mobile networks of any size: The solution MUST support mobile
       networks of any size. The solution MUST be applicable to small
       networks (e.g. a PAN comprising a few devices attached to a
       single mobile router) and large networks (e.g. several
       subnetworks with a very large numbers of MNNs). It is worth
       mention that NEMO WG will consider only leaf networks, i.e.
       mobile networks (irrespective of their size) that will not
       carry transit traffic.

     - No change to the Internet addressing and routing architecture:
       The solution MUST NOT require changes to the Internet
       addressing nor routing architecture. It MUST be independent of
       any routing protocols and MUST preserve route aggregation in
       the Internet.

Janneteau et al.          Expires April 2003                   [Page 2]

INTERNET-DRAFT      Network Mobility Requirements          October 2002
       
     - Home equivalent operations: The solution MUST ensure
       transparent continuition of routing and management operations
       for a mobile router away from home. Especially, a mobile router
       running a routing protocol MUST be able to pursue advertising
       of its routes on its home network. Similarly, management
       operations such as Router Renumbering MUST be possible for a
       roaming mobile router.

     - Nested mobility: The solution MUST support nested mobility. It
       MUST support mobiles nodes visiting and leaving mobile
       networks, as well as mobile networks attaching to other mobile
       networks (nested mobile networks). The solution MUST no
       restrict in any way the number of levels in the hierarchy of
       nested mobile networks.

     - Multihoming: The solution MUST function for multihomed mobile
       networks. Cases of multihomed mobile networks include ones
       with a single mobile router that has multiple attachements to
       the Internet, as well as ones with multiples mobile routers to
       attach to the Internet.

     - Security: The solution MUST have its specific security issues
       fully addressed.

     - Co-existence with others protocols:
       - The solution MUST allow for co-existence with the AAA and
         access control frameworks (e.g. PANA). If extra mobile
         network-specific concerns need to be addressed in these
         frameworks, the NEMO WG will interact with related WGs.
       - The solution MUST allow for co-existence with QoS protocols,
         as well as Mobile IPv4 and Mobile IPv6 protocols.

     - Multicast session continuity: The solution SHOULD maintain
       ongoing multicast sessions of MNNs as the mobile router
       changes its point of attachement within the topology. 

5. Additional Requirements for the Base Network Mobility Support

   The following requirements are placed on the base network mobility
   solution to be specified by the NEMO WG:

     - Base network mobility support for both IPv4 and IPv6: A
       solution MUST be provided for both IPv4 and IPv6
       environments. Each one MUST base on Mobile IPv4 and Mobile
       IPv6 respectivelly. As such two different solutions MAY be
       defined.

     - Based on bi-directional Tunneling between MR and MR's Home
       Agent (MRHA tunnel):
       - The base network mobility solution for IPv6 MUST rely on the
         Mobile IPv6 bi-directional tunnel between the mobile router
         and its Home Agent.
       - The base network mobility solution for IPv4 MUST rely on the
         Mobile IPv4 bi-directional tunnel between the mobile router
         and its Home Agent.

Janneteau et al.          Expires April 2003                   [Page 3]

INTERNET-DRAFT      Network Mobility Requirements          October 2002

     - No changes to Correspondent Nodes: The base solution for
       network mobility MUST NOT require any modification to MNN's
       Correspondent Nodes.

     - Network Mobility transparency to MNNs: The base solution for
       network mobility MUST NOT require any modification to any
       node in the mobile network (MNNs) but the mobile router.
       Especially, the base solution MUST provide network mobility
       management without the need for nodes behind the mobile
       router to be aware of the network's mobility and take part
       in NEMO Mobility Management. Upon a move, the mobile router
       MUST ensure continuity of the sessions of MNNs transparently
       to them.
    
Acknowledgements

   The authors would like to thank all the people on the NEMO (former
   MONET) mailing list who have discussed requirements for network
   mobility support, and have helped in shaping this draft. Special
   thanks to John Boot for his contribution on MESA related scenarios.

References 

   [1] Bradner, S., "Key words for use in RFCs to Indicate Requirement
        Levels", BCP 14, RFC 2119, March 1997.

   [2] Ernst, T. and Lach, H. Y., "Network Mobility Support
        Terminology", draft-ernst-nemo-terminology-00.txt, IETF
        Internet Draft, October 2002. (Work in Progress).

   [3] Johnson, D. B. and Perkins, C., "Mobility Support in IPv6",
        IETF Internet Draft, draft-ietf-mobileip-ipv6-18.txt, June
        2002. (Work in Progress).
    
   [4] Perkins, C., ed., "IP Mobility Support for IPv4", RFC 3344,
        August 2002.

   [5] Project MESA, "Mobile Broadband for Emergency and Safety
        Applications (MESA)", http://www.projectmesa.org, accessed
        February 2002.
















Janneteau et al.          Expires April 2003                   [Page 4]

INTERNET-DRAFT      Network Mobility Requirements          October 2002

Authors' Addresses 
    
  Christophe Janneteau                Alexis Olivereau        
  Motorola Labs                       Motorola Labs       
  Espace Tech de St Aubin             Espace Tech de St Aubin
  Gif-sur-Yvette 91193                Gif-sur-Yvette 91193            
  France                              France
  Phone:  +33 1 69352548              Phone:  +33 1 69352516
  Christophe.Janneteau@motorola.com   Alexis@motorola.com    


  Hong-Yon Lach                       Alexandru Petrescu         
  Motorola Labs                       Motorola Labs         
  Espace Tech de St Aubin             Espace Tech de St Aubin
  Gif-sur-Yvette 91193                Gif-sur-Yvette 91193            
  France                              France                   
  Phone:  +33 1 69352536              Phone:  +33 1 69354827              
  Hong-Yon.Lach@motorola.com          Alexandru.Petrescu@motorola.com    






































Janneteau et al.          Expires April 2003                   [Page 5]

INTERNET-DRAFT      Network Mobility Requirements          October 2002

Copyright (C) The Internet Society (2002).  All Rights Reserved.

This document and translations of it may be copied and furnished to
others, and derivative works that comment on or otherwise explain it
or assist in its implementation may be prepared, copied, published and
distributed, in whole or in part, without restriction of any kind,
provided that the above copyright notice and this paragraph are
included on all such copies and derivative works.  However, this
document itself may not be modified in any way, such as by removing
the copyright notice or references to the Internet Society or other
Internet organizations, except as needed for the purpose of developing
Internet standards in which case the procedures for copyrights defined
in the Internet Standards process must be followed, or as required to
translate it into languages other than English.

The limited permissions granted above are perpetual and will not be
revoked by the Internet Society or its successors or assigns.

This document and the information contained herein is provided on an
"AS IS" basis and THE INTERNET SOCIETY AND THE INTERNET ENGINEERING
TASK FORCE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT
NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN
WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF
MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

Funding for the RFC editor function is currently provided by the
Internet Society.




























Janneteau et al.          Expires April 2003                   [Page 6]

