DetNet                                                         H. Wang
Internet Draft                                                 P. Wang
Intended status: Standards Track                               H. Yang
Expires: November 12, 2017                     Chongqing University of
                                          Posts and Telecommunications
                                                          May 11, 2017


         Joint Deterministic Scheduling Requirements for Industrial
                          Field/Backhaul Networks
                draft-wang-detnet-backhaul-requirements-01


Abstract

   This document analyzes the joint deterministic scheduling
   requirements for industrial field/backhaul networks, mainly
   including the determinacy, time synchronization, compatibility,
   scalability and scheduling cost demands.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups. Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other documents
   at any time. It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html

   This Internet-Draft will expire on November 12, 2017.

Copyright Notice

   Copyright (c) 2017 IETF Trust and the persons identified as the
   document authors. All rights reserved.




Wang, et al.          Expires November 12, 2017               [Page 1]

Internet-Draft       DetNet Backhaul Requirements             May 2017


   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document. Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document. Code Components extracted from this
   document must include Simplified BSD License text as described in
   Section 4.e of the Trust Legal Provisions and are provided without
   warranty as described in the Simplified BSD License.

Table of Contents


   1. Introduction ................................................ 2
   2. Network Structure ........................................... 3
   3. Joint Scheduling Requirements ............................... 4
      3.1. Determinacy ............................................ 4
      3.2. Time Synchronization ................................... 4
      3.3. Compatibility .......................................... 4
      3.4. Scalability ............................................ 4
      3.5. Scheduling cost ........................................ 5
   4. Security Considerations ..................................... 5
   5. IANA Considerations ......................................... 5
   6. References .................................................. 5
      6.1. Normative References ................................... 5
      6.2. Informative References ................................. 5
   Authors' Addresses ............................................. 6

1. Introduction

   Using three industrial wireless networking standards:
   ISA100.11a[IEC62734], WirelessHART[IEC62591] and WIA-PA[IEC62601], a
   deterministic network can be constructed by industrial field network.
   However, these industrial field networks belong to small and medium-
   sized networks whose network coverage is constant, for example, a
   range of plant. Therefore, industrial backhaul network can be
   introduced to make the industrial field network access higher-level
   network, or transit to other industrial field network. Thus, a new
   network architecture, the deterministic industrial field network -
   backhaul network is proposed in this draft. Some questions of
   deterministic network have been described in the draft [draft-finn-
   detnet-problem-statement-04], and the architecture and application
   have been illustrated in [draft-finn-detnet-architecture-04] and
   [draft-bas-usecase-detnet-02] separately.

   This network architecture is mainly used in industrial production,
   and it has a very high demand on the network data packet loss ratio,


Wang, et al.          Expires November 12, 2017               [Page 2]

Internet-Draft       DetNet Backhaul Requirements             May 2017


   low jitter and determinacy and so on. Besides, due to the backhaul
   network is heterogeneous with field network. The backhaul industry
   network, has a centralized controller, and can schedule network
   resources such as bandwidth and cache. However, for some industrial
   field networks such as ISA100.11a, WirelessHART, these networks have
   their own system manager. At the same time, there are some networks
   which have no system manager. Therefore, it is an issue to be
   studied about how to carry out joint scheduling.

2. Network Structure

   As shown in the figure 1, it is a typical deterministic industrial
   field networks - backhaul networks structure. The field network is
   composed of ISA100.11a, which is the standard of the international
   industrial wireless network. This network standard uses TDMA (time
   division multiple access) mechanism to implement the network time
   slot, and provide the deterministic guarantee for the data. Then the
   field networks can be access to industrial backhaul networks. In the
   other end of industrial backhaul networks, can be another industrial
   field networks, and can also be access to the internet application
   or the enterprise information management system like MES/ERP.

   +------------------------+

   |   ISA100.11a field     |

   |   wireless network     | ------------+

   +------------------------+             |

                              +---------------------+    +-----------+

                              | Industrial backhaul |    |Internet or|

                              |       network       | ---|  MES/ERP  |

                              +---------------------+    +-----------+

   +------------------------+             |

   |   ISA100.11a field     | ------------+

   |   wireless network     |

   +------------------------+

                    Figure 1. Typical network structure


Wang, et al.          Expires November 12, 2017               [Page 3]

Internet-Draft       DetNet Backhaul Requirements             May 2017


   Thus, in such a network structure, the former field network nodes
   deployed in a plant can communicate with the field network nodes
   deployed in another plant through the industrial backhaul network.
   At the same time, the internet or information management system can
   manage the sensor nodes of the field network remotely through the
   industrial backhaul network.

3. Joint Scheduling Requirements

3.1. Determinacy

   The data of industrial field network directly related to the
   monitoring and control of industrial production process, so the
   requirement of data determinism is very high, and need data to
   arrive at a certain time. Industrial field network-backhaul network
   is also a kind of network which is mainly used in the process of
   industrial production, so also need to meet the needs of the data
   determinism in the joint scheduling.

3.2. Time Synchronization

   Since the industrial field/backhaul network is a converged network
   and need some scheduling methods to ensure deterministic data stream.
   So it requires high time synchronization accuracy between devices in
   the network. The time synchronization accuracy should be in a range
   of 10ns to 10ms according to different network applications. At
   present, the existing time synchronization protocol include IEEE1588
   and IEEE802.1 As, which is developed by following Time Sensitive
   Networking (TSN) Task Group

3.3. Compatibility

   Industrial field network and backhaul network are both heterogeneous
   networks. Industrial field networks such as ISA100.11a, WirelessHART
   usually have built-in systems management, which can allocate network
   communication resources to conduct deterministic scheduling. Some
   field networks have no system manager. While industrial backhaul
   network is able to control the network with central controller, so
   some mechanisms, interfaces will be necessary when conducting joint
   scheduling to be compatibility with industrial field/backhaul
   network.

3.4. Scalability

   Generally, the field network data cannot be transmitted across
   domain or across network, while in the deterministic industrial
   field/backhaul network, the characteristic of cross-networks should


Wang, et al.          Expires November 12, 2017               [Page 4]

Internet-Draft       DetNet Backhaul Requirements             May 2017


   be supported. So data scalability should be ensured during joint
   scheduling process.

3.5. Scheduling cost

   The joint scheduling in industrial field/backhaul networks refers to
   different networks, so when the network manager calculates the
   scheduling results, it should satisfy a low scheduling cost, namely
   low computation time, or it will bring too much extra delay to the
   data stream.

4. Security Considerations

5. IANA Considerations

   This memo includes no request to IANA.

6. References

6.1. Normative References

6.2. Informative References

[IEC62734]
           ISA/IEC, "ISA100.11a, Wireless Systems for Automation,
           also IEC 62734", 2011, <http://www.isa100wci.org/enUS/
           Documents/PDF/3405-ISA100-WirelessSystems-Future-brochWEB-
           ETSI.aspx>.

[IEC62591]
           www.hartcomm.org, "Industrial Communication Networks -
           Wireless Communication Network and Communication Profiles
           - WirelessHART - IEC 62591", 2010,<
           <https://webstore.iec.ch/p-
           preview/info_iec62591%7Bed1.0%7Den.pdf>

[IEC62601]
           IEC, "Industrial networks - Wireless communication network
           and communication profiles - WIA-PA - IEC 62601", 2015, <
           https://webstore.iec.ch/preview/info_iec62601%7Bed2.0%7Db.pdf>

[I-D.finn-detnet-problem-statement]
           Finn, N. and P. Thubert, "Deterministic Networking Problem
           Statement", draft-finn-detnet-problem-statement-04 (work in
           progress), October 2015.




Wang, et al.          Expires November 12, 2017               [Page 5]

Internet-Draft       DetNet Backhaul Requirements             May 2017


[I-D.finn-detnet-architecture]
           Finn, N., Thubert, P., and M. Teener, "Deterministic
           Networking Architecture", draft-finn-detnetarchitecture-03
           (work in progress), March 2016.

[I-D.bas-usecase-detnet]
           Kaneko, Y., Toshiba and Das, S, "Building Automation Use
           Cases and Requirements for Deterministic Networking", draft-
           bas-usecase-detnet-00 (work in progress), April 2016.

[IEEE802.1AS-2011]
           IEEE, "Timing and Synchronizations (IEEE 802.1AS-2011)", 2011,
           <http://standards.ieee.org/getIEEE802/download/802.1AS-
           2011.pdf>.



Authors' Addresses

   Heng Wang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6248-7845
   Email: wangheng@cqupt.edu.cn


   Ping Wang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6246-1061
   Email: wangping@cqupt.edu.cn


   Hang Yang
   Chongqing University of Posts and Telecommunications
   2 Chongwen Road
   Chongqing, 400065
   China

   Phone: (86)-23-6246-1061
   Email: 18716322620@163.com


Wang, et al.          Expires November 12, 2017               [Page 6]

