



Network Working Group                                         W. Ivancic
Internet-Draft                                                  NASA GRC
Intended status: Informational                                   W. Eddy
Expires: June 16, 2014                                       MTI Systems
                                                               A. Hylton
                                                             D. Iannicca
                                                                J. Ishac
                                                                NASA GRC
                                                       December 13, 2013


             Store, Carry and Forward Testing Requirements
               draft-ivancic-scf-testing-requirements-01

Abstract

   This document provides guidelines and requirements for testing Store,
   Carry and Forward (SCF) systems and protocols.

   The Testing Requirements document is one of three that fully describe
   the SCF system.  The other two are the SCF Problem Statement and the
   SCF Requirements and Expectations document.

   This initial document is currently just a skeletal outline, published
   so the other two SCF documents can reference it.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on June 16, 2014.









Ivancic, et al.           Expires June 16, 2014                 [Page 1]

Internet-Draft          SCF Testing Requirements           December 2013


Copyright Notice

   Copyright (c) 2013 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

   This document may not be modified, and derivative works of it may not
   be created, except to format it for publication as an RFC or to
   translate it into languages other than English.

Table of Contents

   1.  Terminology . . . . . . . . . . . . . . . . . . . . . . . . .   2
   2.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
   3.  Test System . . . . . . . . . . . . . . . . . . . . . . . . .   3
   4.  Test Requirements . . . . . . . . . . . . . . . . . . . . . .   4
   5.  Security Considerations . . . . . . . . . . . . . . . . . . .   4
   6.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   4
   7.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .   4
   8.  Informative References  . . . . . . . . . . . . . . . . . . .   4
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   5

1.  Terminology

   Detailed terminology is given in the SCF Requirements and
   Expectations document [I-D.ivancic-scf-requirements-expectations] and
   will not be repeated here.

2.  Introduction

   As background, the SCF Problem Statement and SCF Requirements and
   Expectations documents are suggested reading.  The SCF Problem
   Statement describes the core SCF problem and gives an assessment of
   the ability to use existing technologies as solutions.  In addition,
   it provides a number of SCF deployment scenarios.

   In RFC760, one can find what has become know as Postel's Law or the
   Robustness Principle, "In general, an implementation should be
   conservative in its sending behavior, and liberal in its receiving



Ivancic, et al.           Expires June 16, 2014                 [Page 2]

Internet-Draft          SCF Testing Requirements           December 2013


   behavior."  This rule was originally targeting protocol
   implementation.  A corresponding rule for testing may be, "If you
   claim the protocol can do it, you have to prove it - test it."

   Conversely, being able to simply ping an end system does not indicate
   the network is fully functional.  It just means that there is
   connectivity and the potential for the network to be fully
   functional.

   The primary motivation for developing this document is to establish
   thorough, repeatable, tests that will fully exercise a SCF system.
   Past experience has shown that testing of SCF systems is too often
   inadequate.  For example, tests have been performed on SCF systems in
   fully-connected, high-bandwidth networks where only forwarding would
   be exercised, or the traffic would be so minimal as to never tax the
   storage or queueing.  Such tests are valid as a starting point, but
   insufficient to determine that a protocol or implementation will
   working properly in a reasonably-scaled deployment.

   A secondary motivation is to improve implementations by providing a
   known test environment.  Knowing some possible ways that the protocol
   and system will be evaluated may help establish how the code is
   developed, as well as identifying hooks for monitoring particular
   processes.

3.  Test System

   Figure 1 illustrates a generic testbed for testing may aspects of the
   SCF protocol.  The systems consists of 12 SCF agents and 16 links.
   Any or all of the links may be disconnected at any given time.  Even
   though the system is simple, some complexity is necessary because the
   system must accommodate testing of aggregation, deaggregation, and
   fragmentation with multiple container flows of various sizes and
   priorities.

















Ivancic, et al.           Expires June 16, 2014                 [Page 3]

Internet-Draft          SCF Testing Requirements           December 2013


    +------+                     +------+                      +------+
    |SCF-1 |                    /|SCF-5 |`.                  ./|SCF-10|
    +------+\                  / +------+  \              .-' /+------+
             \                /             `.  +------+.'   /
              `.            .'                `.|SCF-8 |`.  /
                \          /                  .'+------+\ `+.
    +------+     \+------+/      +------+  .-'           \/  `.+------+
    |SCF-2 |......|SCF-4 |.......|SCF-6 |::              |\    |SCF-11|
    +------+     /+------+\      +------+  \             / | .'+------+
                /          \                `.  +------+/ .+'
               /            \                 ::|SCF-9 |.'  \
             .'              `.              /  +------+`.   \
    +------+/                  \ +------+  .'             `-. \+------+
    |SCF-3 |                    \|SCF-7 |.'                  `.|SCF-12|
    +------+                     +------+                      +------+


                        SCF Test Network/postamble

                                 Figure 1

4.  Test Requirements

   List requirements and test for each of the protocol requirements in
   the "SCF Requirements and Expectations" document .

5.  Security Considerations

   This document is informative and provides guidelines and Requirements
   for testing SCF systems and protocols.  There are no security
   considerations.

6.  IANA Considerations

   This document neither creates nor updates any registries or
   codepoints, so there are no IANA Considerations.

7.  Acknowledgements

   Work on this document at NASA's Glenn Research Center was funded by
   the NASA Glenn Research Center Innovation Funds.

8.  Informative References

   [I-D.ivancic-scf-problem-statement]
              Ivancic, W., Eddy, W., Iannicca, D., and J. Ishac, "Store,
              Carry and Forward Problem Statement", draft-ivancic-scf-
              problem-statement-00 (work in progress), July 2012.



Ivancic, et al.           Expires June 16, 2014                 [Page 4]

Internet-Draft          SCF Testing Requirements           December 2013


   [I-D.ivancic-scf-requirements-expectations]
              Ivancic, W., Eddy, W., Iannicca, D., and J. Ishac, "Store,
              Carry and Forward Requirements and Expectations", draft-
              ivancic-scf-requirements-expectations-00 (work in
              progress), July 2012.

   [RFC4838]  Cerf, V., Burleigh, S., Hooke, A., Torgerson, L., Durst,
              R., Scott, K., Fall, K., and H. Weiss, "Delay-Tolerant
              Networking Architecture", RFC 4838, April 2007.

   [RFC5050]  Scott, K. and S. Burleigh, "Bundle Protocol
              Specification", RFC 5050, November 2007.

Authors' Addresses

   William Ivancic
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-3494
   Email: william.d.ivancic@nasa.gov


   Wesley M. Eddy
   MTI Systems

   Email: wes@mti-systems.com


   Alan G. Hylton
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6045
   Email: alan.g.hylton@nasa.gov












Ivancic, et al.           Expires June 16, 2014                 [Page 5]

Internet-Draft          SCF Testing Requirements           December 2013


   Dennis C. Iannicca
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6493
   Email: dennis.c.iannicca@nasa.gov


   Joseph A. Ishac
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6587
   Email: jishac@nasa.gov

































Ivancic, et al.           Expires June 16, 2014                 [Page 6]
