Network Working Group                                Young Lee (Editor)
                                                            Dhruv Dhody
Internet Draft                                                   Huawei

Intended status: Informational                           Sergio Belotti
                                                          Alcatel-Lucent
Expires: July 2017
                                                       Khuzema Pithewan
                                                               Infinera

                                                     Daniele Ceccarelli
                                                               Ericsson



                                                        January 3, 2017



        Requirements for Abstraction and Control of TE Networks

                 draft-ietf-teas-actn-requirements-04.txt


Abstract

   This document provides a set of requirements for abstraction and
   control of Traffic Engineering networks to facilitate virtual
   network operation via the creation of a single virtualized network
   or a seamless service. This supports operators in viewing and
   controlling different domains (at any dimension: applied technology,
   administrative zones, or vendor-specific technology islands) as a
   single virtualized network.



Status of this Memo

   This Internet-Draft is submitted to IETF in full conformance with
   the provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other documents




Lee, et. al.             Expires July 3, 2017                  [Page 1]

Internet-Draft            ACTN Requirements                January 2017


   at any time.  It is inappropriate to use Internet-Drafts as
   reference material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on July 3, 2017.

Copyright Notice

   Copyright (c) 2016 IETF Trust and the persons identified as the
   document authors. All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document.  Code Components extracted from this
   document must include Simplified BSD License text as described in
   Section 4.e of the Trust Legal Provisions and are provided without
   warranty as described in the Simplified BSD License.


Table of Contents


   1. Introduction...................................................3
   2. High-level ACTN requirements...................................4
      2.1. Service-Specific Requirements.............................4
      2.2. Network-Related Requirements..............................7
   3. ACTN Interfaces Requirements...................................8
      3.1. CMI Requirements..........................................9
      3.2. MPI Requirements.........................................11
   4. References....................................................13
      4.1. Normative References.....................................13
      4.2. Informative References...................................14
   5. Contributors..................................................15
   Authors' Addresses...............................................15







Lee, et, al.             Expires July 3, 2017                  [Page 2]

Internet-Draft            ACTN Requirements                January 2017


1. Introduction

   This document provides a set of requirements for Abstraction and
   Control of Traffic Engineering (TE) Networks (ACTN) identified in
   various use-cases. [ACTN-frame] defines the base reference
   architecture and terminology.

   ACTN refers to the set of virtual network operations needed to
   orchestrate, control and manage large-scale multi-domain TE networks
   so as to facilitate network programmability, automation, efficient
   resource sharing, and end-to-end virtual service aware connectivity
   and network function virtualization services.

   These operations are summarized as follows:

     - Abstraction and coordination of underlying network resources
        independent of how these resources are managed or controlled,
        so that higher-layer entities can dynamically control virtual
        networks based on those resources. Control includes creating,
        modifying, monitoring, and deleting virtual networks.

     - Collation of the resources from multiple TE networks (multiple
        technologies, equipment from multiple vendors, under the
        control of multiple administrations) through a process of
        hierarchical abstraction to present a customer with a single
        virtual network. This is chieved by presenting the network
        domain as an abstracted topology to the customer via open and
        programmable interfaces. Hierarchical abstraction allows for
        the recursion of controllers in a customer-provider
        relationship.

     - Orchestration of end-to-end virtual network services and
        applications via allocation of network resources to meet
        specific service, application and customer requirements.

     - Adaptation of customer requests (to control virtual resources)
        to the physical network resources performing the necessary
        mapping, translation, isolation and, policy that allows
        conveying, managing and enforcing customer policies with
        respect to the services and the network of the customer.

     - Provision via a data model of a computation scheme and virtual
        control capability to customers who request virtual network



Lee, et, al.             Expires July 3, 2017                  [Page 3]

Internet-Draft            ACTN Requirements                January 2017


        services. Note that these customers could, themselves, be
        service providers.

   ACTN solutions will build on, and extend, existing TE constructs and
   TE mechanisms wherever possible and appropriate.  Support for
   controller-based approaches is specifically included in the possible
   solution set.

   Section 2 provides high-level ACTN requirements. Section 3 provides
   ACTN interface requirements.

2. High-level ACTN requirements


   This section provides a summary of use-cases in terms of two
   categories: (i) service-specific requirements; (ii) network-related
   requirements.

   Service-specific requirements listed below are uniquely applied to
   the work scope of ACTN. Service-specific requirements are related to
   the virtual service coordination function. These requirements are
   related to customer's VNs in terms of service policy associated with
   VNs such as service performance objectives, VN endpoint location
   information for certain required service specific functions (e.g.,
   security and others), VN survivability requirement, or dynamic
   service control policy, etc.

   Network-related requirements are related to the virtual network
   operation function. These requirements are related to multi-domain
   and multi-layer signaling, routing, protection/restoration and
   synergy, re-optimization/re-grooming, etc. These requirements are
   not inherently unique for the scope of ACTN but some of these
   requirements are in scope of ACTN, especially for coherent/seamless
   operation aspect of multiple controller hierarchy.

2.1. Service-Specific Requirements



     1. Requirement 1: Policy Enforcement

      Ability to provide service requirement/policy (between Customer
      and Network) and mechanism to enforce Service Level Agreements
      (SLA).




Lee, et, al.             Expires July 3, 2017                  [Page 4]

Internet-Draft            ACTN Requirements                January 2017


        - Endpoint selection policy, routing policy, time-related
          policy, etc.

      Reference: [KLEE], [LOPEZ], [SHIN], [DHODY], [FANG].



     2. Requirement 2: Virtual Network (VN) Query

      Ability to request/respond VN Query ("Can you give me these
      VN(s)?")

      Request Input:

        - VN end-points (Customer Edge equipment)
        - VN Topology Service-specific Multi-Cost Objective Function
        - VN constraints requirement
             o Latency only, bandwidth guarantee, joint latency and
                bandwidth guarantee
        - VN Topology diversity (e.g., VN1 and VN2 must be disjoint;
          Node/link disjoint from other VNs)
        - VN Topology type: path, graph

      Response includes VN topology:

        - Exact
        - Potential

      Reference: [KUMAKI], [FANG], [CHENG].



     3. Requirement 3: VN Instantiation ("Please create a VN for me")

      Ability to request/confirm VN Instantiation

      Request Input:

        - VN instance ID
        - VN end-points (Customer Edge equipment)
        - VN Topology Service-specific Multi-Cost Objective Function
        - VN constraints requirement
             o Latency only, bandwidth guarantee, joint latency and
                bandwidth guarantee
        - VN Topology diversity (e.g., VN1 and VN2 must be disjoint;
           Node/link disjoint from other VNs)
        - VN Topology type: path, graph


Lee, et, al.             Expires July 3, 2017                  [Page 5]

Internet-Draft            ACTN Requirements                January 2017


      Response includes VN topology:

        - Exact
        - Potential

      Reference: [KUMAKI], [FANG], [CHENG].



     4. Requirement 4: VN Lifecycle Management & Operation (M&O)

      Ability to do the following VN operations:

        - Delete
        - Modify
        - Update (VN level Operations, Administration and Management
           (OAM) Monitoring) under policy agreement

      Reference: [FANG], [KUMAKI], [LOPEZ].



     5. Requirement 5: VN Service Operation

      Ability to set up and manage end-to-end services on the VN
      involving multi-domain and multi-layer operations of the
      underlying network while meeting constraints based on SLAs.

      Reference: [LOPEZ], [KUMAKI], [CHENG], [DHODY], [FANG], [KLEE].



     6. Requirement 6: VN Confidentiality/Security

        - A VN customer must not be able to control another customer's
           virtual network
        - A VN customer must not see any routing information (e.g. IGP
           database, TE database) relating to another customer's
           virtual network


      Reference: [KUMAKI], [FANG], [LOPEZ]



     7. Requirement 7: Multi-Destination Coordination


Lee, et, al.             Expires July 3, 2017                  [Page 6]

Internet-Draft            ACTN Requirements                January 2017


      Coordination of multi-destination service requirement/policy to
      support dynamic applications such as VM migration, disaster
      recovery, load balancing, etc.

        - Service-policy primitives and their parameters

      Reference: [FANG], [LOPEZ], [SHIN].



2.2. Network-Related Requirements

     1. Requirement 1: Single Virtualized Network Topology

      Ability to build virtual network operation infrastructure based
      on multi-layer, multi-domain topology abstracted from multiple
      physical network control mechanisms (e.g., GMPLS, OpenFlow, PCE,
      NMS, etc.)

      Reference: [KLEE], [LOPEZ], [DHODY], [CHENG].



     2. Requirement 2: Multi-Domain & Multi-layer Coordination

      Ability to coordinate multi-domain and multi-layer path
      computation and path setup operation

        - End-to-end path computation across multi-domain networks
           (based on abstract topology from each domain)
        - Domain sequence determination
        - Request for path signaling to each domain controller
        - Alternative path computation if any of the domain
           controllers cannot find its domain path

      Reference: [CHENG], [DHODY], [KLEE], [LOPEZ], [SHIN], [SUZUKI].



     3. Requirement 3: End-to-End Path Restoration

      Ability to perform end-to-end Path Restoration Operations

        - Intra-domain recovery
        - Cross-domain recovery

      Reference: [CHENG], [KLEE], [DHODY], [LOPEZ], [SHIN].


Lee, et, al.             Expires July 3, 2017                  [Page 7]

Internet-Draft            ACTN Requirements                January 2017




     4. Requirement 4: Dynamicity of network control operations

      The ACTN interfaces should support dynamic network control
      operations. This includes, but is not limited to, the following:

        - Real-time VN control (e.g., fast recovery/reroute upon
           network failure).
        - Fast convergence of abstracted topologies upon changes due
           to failure or reconfiguration across the network domain
           view, the multi-domain network view and the customer view.
        - Large-scale VN operation (e.g., the ability to query tens of
           thousands of nodes, and to examine tens of thousands of
           connectivity requests) for time-sensitive applications.

      Reference: [SHIN], [XU], [XU2], [KLEE], [KUMAKI], [SUZUKI].

     5. Requirement 5: Dynamic VN Control

      Dynamic/On-demand VN Modification/Confirmation with feedback loop
      to the customer

        - Traffic monitoring and control policies sent to the network
        - Network states based traffic optimization policies
        - Utilization Monitoring (including frequency of reporting)
        - Abstraction of Resource Topology reflecting service-related
           parameters

      Reference: [XU], [XU2], [DHODY], [CHENG]






3. ACTN Interfaces Requirements

   This section provides detailed ACTN interface requirements for the
   two interfaces that are within the ACTN scope based on [ACTN-Frame]
   and the use-cases referenced in this document.

   The ACTN architecture described in [ACTN-Frame] comprises three
   functional components:


        - CNC: Customer Network Controller


Lee, et, al.             Expires July 3, 2017                  [Page 8]

Internet-Draft            ACTN Requirements                January 2017


        - MDSC: Multi Domain Service Coordinator
        - PNC: Physical Network Controller

   The architecture gives rise to two interfaces between components:

        - CMI: CNC-MDSC Interface
        - MPI: MDSC-PNC Interface

 3.1. CMI Requirements

     1. Security/Policy Negotiation ("Who are you?") between CNC and
        MDSC

        - Trust domain verification (External Entity versus Internal
           Service Department)
        - Push/Pull support (for policy)

     2. VN Topology Query ("Can you give me VN?") from CNC to MDSC

        - VN end-points (CE end)
        - VN Topology Service-specific Multi-Cost Objective Function
           o Latency Map
           o Available Bandwidth Map
           o Latency Map and Available Bandwidth Map together
           o Other types
        - VN Topology diversity
           o Node/Link disjoint from other VNs
           o VN Topology level diversity (e.g., VN1 and VN2 must be
             disjoint)
        - VN Topology type
           o Path vector (tunnel)
           o Node/Links (graph)

     3. VN Topology Query Response from MDSC to CNC: "Here's the VN
        Topology that can be given to you if you request it"

        - For VN Topology,
           o This is what can be reserved for you
           o This is what is available beyond what you asked for
             (potential)

     4. Basic VN Instantiation Request/Confirmation between CNC and
        MDSC: "I need a VN for my service, please instantiate my VN"


Lee, et, al.             Expires July 3, 2017                  [Page 9]

Internet-Draft            ACTN Requirements                January 2017



        - VN instance ID
        - VN end-points
        - VN service requirement
           o Latency only
           o B/W guarantee
           o Latency and B/W guarantee together
        - VN diversity
           o Node/Link disjoint from other VNs
        - VN level diversity (e.g., VN1 and VN2 must be disjoint)
        - VN type
           o Path vector (tunnel)
           o Node/Links (graph)
        - VN instance ID per service (unique id to identify VNs)
        - If failed to instantiate the requested VN, say why


     5. Dynamic/On-demand VN Instantiation/Modification and
        Confirmation with feedback loop (This is to be differentiated
        from Basic VN Instantiation)

        - Performance/Fault Monitoring
        - Utilization Monitoring (Frequency of report)
        - Abstraction of Resource Topology reflecting these service-
          related parameters
        - Dynamic Policy enforcement

     6. VN lifecycle management/operation

        - Create (same as VN instantiate Request)
        - Delete
        - Modify
        - Update (VN level OAM Monitoring) under policy agreement

     7. Coordination of multi-destination service requirement/policy
        to support dynamic applications such as VM migration,
        disaster recovery, load balancing, etc.

        - Service-policy primitives and its parameters




Lee, et, al.             Expires July 3, 2017                 [Page 10]

Internet-Draft            ACTN Requirements                January 2017




3.2. MPI Requirements

     1. Security/Policy negotiation ("Who are you?")


        - Exchange of key, etc.
        - Domain preference + local policy exchange
        - Push/Pull support
        - Preferred peering points
        - Preferred route
        - Reroute policy
        - End-point mobility (for multi-destination)

     2. Topology Query /Response (Pull Model from MDSC to PNC: "Please
        give me your domain topology")

        - TED Abstraction level negotiation
        - Abstract topology (per policy)
           o Node/Link metrics
           o Node/Link Type (Border/Gateway, etc.)
           o All TE metrics (SRLG, etc.)
           o Topology Metrics (latency, B/W available, etc.)

     3. Topology Update (Push Model from PNC to MDSC: "The topology
        has been updated")

        - Under policy agreement, topology changes to be pushed to
           MDSC from PNC

     4. VN Path Computation Request (From MDSC to PNC: "Please give me
        a path in your domain")

        - VN Instance ID (Note: this is passed from CNC to MDSC)
        - End-point information
        - CE ends
        - Border points (if applicable)
        - All other PCE request info (PCEP)

     5. VN Path Computation Reply ("Here's the path info per your
        Request")


Lee, et, al.             Expires July 3, 2017                 [Page 11]

Internet-Draft            ACTN Requirements                January 2017



        - Path level abstraction
        - LSP DB
        - LSP ID
        - VN ID

     6. Coordination of multi-domain Centralized Signaling Path Setup
        Operation (From MDSC to PNC: "Please give me your domain path
        if you can; otherwise, let me know if that is not possible."

        - MSDC computes E2E path across multi-domain (based on abstract
          topology from each PNC)
        - MDSC determines the domain sequence
        - MDSC request path signaling to each PNC (domain)
        - MDSC finds alternative path if any of the PNCs cannot find
          its domain path
           o PNC will crankback to MDSC if it cannot find its domain
             path
           o PNC will confirm to MDSC if it finds its domain path

     7. Path Restoration Operation after an E2E path is setup
        successfully, some domain had a failure that cannot be restored
        by the PNC domain (From PNC to MDSC: "My domain path failed and
        I cannot restore it."; From MDSC to PNC: "OK. Please set up a
        new domain path with this ingress/egress nodes."

        - The problem PNC will send this notification with changed
          abstract topology (computed after resource changes due to
          failure/other factors)
        - MDSC will find an alternate E2E path based on the changes
          reported from PNC. It will need to update the E2E abstract
          topology and the affected CN's VN topology in real-time (This
          refers to dynamic synchronization of topology from Physical
          topology to abstract topology to VN topology)
        - MDSC will perform the path restoration signaling to the
          affected PNCs.

     8. Coordination of Multi-destination service restoration
        operation: the CNC may have, for example, multiple endpoints
        where the source can send its data to either one of the
        endpoints. (From PNC to MDSC, "I lost my connectivity to the


Lee, et, al.             Expires July 3, 2017                 [Page 12]

Internet-Draft            ACTN Requirements                January 2017


        endpoint. Please help to find alternative endpoint."; From MDSC
        to PNC, "Please use this alternative endpoint.")

        - When PNC reports domain problem that cannot be resolved at
           PNC level because of there is no network restoration path to
           a given destination, then MDSC has customers' profile in
           which to find the customer has "multi-destination"
           application.
        - Under policy A, MDSC will be allowed to reroute the customer
           traffic to one of the pre-negotiated destinations and
           proceed with restoration of this particular customer's
           traffic.
        - Under policy B, CNC may reroute on its VN topology level and
           push this to MDSC and MDSC maps this into its abstract
           topology and proceed with restoration of this customer's
           traffic.
        - In either case, the MDSC will proceed its restoration
           operation (as explained in Req. 7) to the corresponding
           PNCs.

     9. MDSC-PNC policy negotiation is also needed as to how
        restoration is done across MDSC and PNCs. (From MDSC to PNC:
        "Please resolve at your domain for restoration of LSP."

     10. Generic Abstract Topology Update per changes due to new path
        setup/connection failure/degradation/restoration (From PNC to
        MDSC: "Here's an updated topology")

     11. Service-specific Abstract Topology Update per changes due
        to new path setup/connection failure/degradation/restoration
        (From PNC to MDSC: "Here's an updated service-specific
        topology")



4. References

4.1. Normative References

   [ACTN-Frame]   D. Ceccarelli, et al., "Framework for Abstraction and
             Control of Transport Networks", draft-ietf-teas-actn-
             framework, work in progress.


Lee, et, al.             Expires July 3, 2017                 [Page 13]

Internet-Draft            ACTN Requirements                January 2017




4.2. Informative References



   [CHENG] W. Cheng, et. al., "ACTN Use-cases for Packet Transport
             Networks in Mobile Backhaul Networks", draft-cheng-actn-
             ptn-requirements, work in progress.

   [DHODY] D. Dhody, et. al., "Packet Optical Integration (POI) Use
             Cases for Abstraction and Control of Transport Networks
             (ACTN)", draft-dhody-actn-poi-use-case, work in progress.

   [FANG] L. Fang, "ACTN Use Case for Multi-domain Data Center
             Interconnect", draft-fang-actn-multidomain-dci, work in
             progress.

   [KLEE] K. Lee, H. Lee, R. Vilata, V. Lopez, "ACTN Use-case for E2E
             Network Services in Multiple Vendor Domain Transport
             Networks", draft-klee-teas-actn-connectivity-multi-domain,
             work-in-progress.

   [KUMAKI] K. Kumaki, T. Miyasaka, "ACTN : Use case for Multi Tenant
             VNO", draft-kumaki-teas-actn-multitenant-vno, work in
             progress.

   [LOPEZ] D. Lopez (Ed), "ACTN Use-case for Virtual Network Operation
             for Multiple Domains in a Single Operator Network", draft-
             lopez-actn-vno-multidomains, work in progress.

   [SHIN] J. Shin, R. Hwang, J. Lee, "ACTN Use-case for Mobile Virtual
             Network Operation for Multiple Domains in a Single
             Operator Network", draft-shin-actn-mvno-multi-domain, work
             in progress.

   [XU] Y. Xu, et. al., "Use Cases and Requirements of Dynamic Service
             Control based on Performance Monitoring in ACTN
             Architecture", draft-xu-actn-perf-dynamic-service-control,
             work in progress.

   [XU2] Y. Xu, et. al., "Requirements of Abstract Alarm Report in ACTN
             architecture", draft-xu-teas-actn-abstract-alarm-report,
             work-in-progress.





Lee, et, al.             Expires July 3, 2017                 [Page 14]

Internet-Draft            ACTN Requirements                January 2017


   [SUZUKI] T. Suzuki, et. al., "Use-case and Requirements for Multi-
             domain Operation Plane Change", draft-suzuki-teas-actn-
             multidomain-opc, work-in-progress.





5. Contributors

   Kwangkook Lee
   KT
   Email: kwangkooglee@gmail.com

   Takuya Miyasaka
   KDDI
   Email: ta-miyasaka@kddi.com

   Yunbin Xu
   CATR
   Email: xuyunbin@mail.ritt.com.cn

   Toshiaki Suzuki
   Hitachi
   Email: toshiaki.suzuki.cs@hitachi.com

Authors' Addresses

   Young Lee (Editor)
   Huawei Technologies
   5340 Legacy Drive
   Plano, TX 75023, USA
   Phone: (469)277-5838
   Email: leeyoung@huawei.com

   Dhruv Dhody
   Huawei Technologies
   Email: dhruv.ietf@gmail.com

   Sergio Belotti
   Nokia
   Via Trento, 30
   Vimercate, Italy
   Email: sergio.belotti@nokia.com

   Khuzema Pithewan


Lee, et, al.             Expires July 3, 2017                 [Page 15]

Internet-Draft            ACTN Requirements                January 2017


   Infinera
   Email: kpithewan@infinera.com


   Daniele Ceccarelli
   Ericsson
   Torshamnsgatan,48
   Stockholm, Sweden
   Email: daniele.ceccarelli@ericsson.com








































Lee, et, al.             Expires July 3, 2017                 [Page 16]

