


Network Working Group                                          T. Suzuki
Internet-Draft                                             Hitachi, Ltd.
Intended status: Informational                         February 14, 2014
Expires: August 18, 2014


          Requirements for a Network Disaster Recovery System
                   draft-suzuki-ndrs-requirements-00

Abstract

   Requirements concerning a network disaster recovery system such as a
   wide area network management system based on Software Defined
   Networking (SDN) architecture are presented.  Specifically, a multi-
   layer network management system, which is composed of multiple
   network layers, layer management functions to manage each network
   layer, and integrated-layer management, is focused on.  The problems
   that need to be overcome in order to consistently manage dmake the
   system are presented.  The requirements that should be satisfied in
   order to solve these problems are presented.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on August 18, 2014.

Copyright Notice

   Copyright (c) 2014 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect



Suzuki                   Expires August 18, 2014                [Page 1]

Internet-Draft      Network Disaster Recovery System       February 2014


   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.


Table of Contents

   1.  Introduction . . . . . . . . . . . . . . . . . . . . . . . . .  3
   2.  Problem Statement  . . . . . . . . . . . . . . . . . . . . . .  4
   3.  Use Case . . . . . . . . . . . . . . . . . . . . . . . . . . .  5
     3.1.  Wide Area Network Disaster Recovery  . . . . . . . . . . .  5
     3.2.  Management System Structure (Type I) . . . . . . . . . . .  5
     3.3.  Management System Structure (Type II)  . . . . . . . . . .  6
   4.  Requirement  . . . . . . . . . . . . . . . . . . . . . . . . .  7
     4.1.  Requirement for Interface of Type-I System . . . . . . . .  7
     4.2.  Requirement for Interface of Type-II System  . . . . . . .  7
   5.  Security Considerations  . . . . . . . . . . . . . . . . . . .  8
   6.  IANA Considerations  . . . . . . . . . . . . . . . . . . . . .  9
   7.  Informative References . . . . . . . . . . . . . . . . . . . . 10
   Author's Address . . . . . . . . . . . . . . . . . . . . . . . . . 11






























Suzuki                   Expires August 18, 2014                [Page 2]

Internet-Draft      Network Disaster Recovery System       February 2014


1.  Introduction

   This draft describes the requirements that a multi-layer network
   management system for a disaster recovery should satisfy.  An example
   of the network management system is a Software Defined Networking
   (SDN) system.

   Recently, the SDN system has been attracting lots of attention.  For
   example, the SDN system has logically centralized architecture and is
   expected to make the entire network resource more efficient.  In
   addition, it is also expected to reduce operating cost by creating an
   automatic network managing function.  It is also expected to manage
   the network to provide high quality data transmission such as low
   latency and low jitter, or to provide efficient usage of network
   resource such as bandwidth and so forth.

   Under the above circumstances, the requirements concerning a network
   disaster recovery system to manage the network to become highly
   reliable are described in this draft.  The network disaster recovery
   system is created by controlling multiple network management
   functions for each network layer in a coordinated manner.
   Specifically, multi-layer network is managed on the basis of
   cooperation between the lower-layer network management functions and
   the upper-layer network management functions.  The requirements
   concerning the multi-layer network management for the network
   disaster recovery are described here while the requirements for other
   functions have been discussed in many groups including SDN [SDN]
   research group.

   In section 2, specific issues on the multi-layer network management
   for the network disaster recovery are discussed.  In section 3, use
   cases for a multi-layer network management system are described.  In
   section 4, requirements that the system should satisfy are
   prescribed.

















Suzuki                   Expires August 18, 2014                [Page 3]

Internet-Draft      Network Disaster Recovery System       February 2014


2.  Problem Statement

   One way to create a network disaster recovery system for a network
   composed of multiple layers is to create a large management function
   that can control multiple network layers.  However, if there is only
   one network management function or server to manage a large network
   composed of multiple layers and/or domains, it might become a huge
   network management object.  To avoid such issue, it is better to
   create a management function for a large scale network by combining
   multiple network management components.

   In regard to a conventional network management system, there is a
   network management function or server for each network layer or
   domain.  Therefore, if multiple network management functions execute
   their recovery procedures independently, they might be executed
   inconsistently.  For example, if the upper-layer management tries to
   recover by using routing protocol or policy routing etc. in
   accordance with an old network topology when the lower-layer
   management changes the lower-layer topology to recover from a network
   disaster, the upper-layer data will not be transmitted under the
   recovered new topology.  In this case, the upper-layer management
   should try to recover in accordance with the new network topology.

   Therefore, to create a network disaster recovery system for multi-
   layer network under the conventional conditions, the system has to be
   created by including multiple management functions for each network
   layer.  In addition, the multiple management functions should
   cooperate to recover from a network disaster.  However, a method or
   protocol for communication among multiple network management
   functions for each layer has not been defined yet.  Specifically,
   communication procedures for recovering from a network disaster have
   not been defined.



















Suzuki                   Expires August 18, 2014                [Page 4]

Internet-Draft      Network Disaster Recovery System       February 2014


3.  Use Case

3.1.  Wide Area Network Disaster Recovery

   One of use cases for the multi-layer network management system based
   on the SDN architecture is a wide area network disaster recovery.  In
   case of a network disaster, many network apparatuses are severely
   damaged and various network services also go down.  Therefore, the
   system has to recover from an out-of-service state by managing the
   remaing network resources.

3.2.  Management System Structure (Type I)

   A target network disaster recovery system is shown in Figure 1.  The
   system is composed of multiple networks such as an upper-layer
   network and a lower-layer network, and an upper-layer management
   server, a lower-layer management server, and an integrated-layer
   management server.  To execute network disaster recovery, multiple
   network management servers must interact in a coordinated manner.

   Therefore, as shown in Figure 1, two new interfaces are needed.  One
   is the interface between the integrated-layer network management
   server and the upper-layer network management server.  The other is
   the interface between the integrated-layer network management server
   and the lower-layer network management server.




   +-------------------------------------------------------------+
   |        Integrated-Layer Network Management Server           |
   +-------------+---------------------------+-------------------+
                 |(1) New I/F                |(2) New I/F
   +-------------+------------+              |
   |  Upper-Layer Network     |              |
   |  Management Server       |              |
   +-------------+------------+      +-------+-------------------+
                 |                   |  Lower-Layer Network      |
                 |                   |  Management Server        |
                 |                   +-------+-------------------+
                 |Conventional I/F           |Conventional I/F
          _______|___________________________|_____________
       _(                ____________________|__           )_
    _(                 _(                       )_           )_
   (     Upper-Layer  (        Lower-Layer        )            )
   (_    Network      (_       Network           _)           _)
     (_                 (________________________)          _)
       (____________________________________________________)



Suzuki                   Expires August 18, 2014                [Page 5]

Internet-Draft      Network Disaster Recovery System       February 2014


    Figure 1: Example of a target multi-layer network management system

3.3.  Management System Structure (Type II)

   Another target network disaster recovery system is shown in Figure 2.
   The system is composed of multiple networks such as an upper-layer
   network and a lower-layer network, and an upper-layer management
   server and a lower-layer management server.  To execute network
   disaster recovery, multiple network management servers must interact
   in a coordinated manner.

   In this case, as shown in Figure 2, a new interface is needed.  It is
   the interface between the upper-layer network management server and
   the lower-layer network management server.




   +-----------------------+            +-----------------------+
   |  Upper-Layer Network  |(3) New I/F |  Lower-Layer Network  |
   |  Management Server    |------------|  Management Server    |
   +-------------+---------+            +----+------------------+
                 |                           |
                 |                           |
                 |                           |
                 |Conventional I/F           |Conventional I/F
          _______|___________________________|_____________
       _(                ____________________|__           )_
    _(                 _(                       )_           )_
   (     Upper-Layer  (        Lower-Layer        )            )
   (_    Network      (_       Network           _)           _)
     (_                 (________________________)          _)
       (____________________________________________________)



   Figure 2: Another example of a target multi-layer network management
                                  system













Suzuki                   Expires August 18, 2014                [Page 6]

Internet-Draft      Network Disaster Recovery System       February 2014


4.  Requirement

   The interfaces shown in Figure 1 and Figure 2 are needed to create
   the network disaster recovery system based on the schemes described
   in the previous section.  The requirements for each interface are
   briefly described below.

4.1.  Requirement for Interface of Type-I System

   (1)Interface between Integrated-layer and Upper-Layer:
         The first interface is used by the integrated-layer network
         management server to control the upper-layer network.  For
         example, the integrated-layer network management server
         controls timing to execute the upper-layer network disaster
         recovery procedures against the lower-layer network disaster
         recovery procedures.  In addition, the integrated-layer network
         management server uses the interface to gather information of
         the lower-layer network conditions such as a topology and
         provides it to the upper-layer network management server.

   (2)Interface between Integrated-layer and Lower-Layer:
         The second interface is used by the integrated-layer network
         management server to control the lower-layer network.  For
         example, the integrated-layer network management server
         controls timing to execute the lower-layer network disaster
         recovery procedures against the upper-layer network disaster
         recovery procedures.  In addition, the integrated-layer network
         management server uses the interface to gather information of
         the upper-layer network conditions such as a topology and
         provides it to the lower-layer network management server.

4.2.  Requirement for Interface of Type-II System

   (3) Interface between Upper-layer and Lower-layer:
         The third interface is used by the upper-layer network
         management server and the lower-layer network management
         server.  For example, the lower-layer network management server
         requests the upper-layer network management server not to start
         the network disaster recovery procedures while the lower-layer
         disaster recovery procedures are executed.











Suzuki                   Expires August 18, 2014                [Page 7]

Internet-Draft      Network Disaster Recovery System       February 2014


5.  Security Considerations

   This document describes problems and requirements for a network
   disaster recovery system.  The system might be composed of multiple
   management functions to manage each network layer and each management
   function might be implemented in a different computational equipment.
   To achieve network disaster recovery in a coordinated manner by using
   multiple management functions, it is necessary to exchange
   information between them.  It is therefore necessary to use a secure
   communication channel between the management functions.









































Suzuki                   Expires August 18, 2014                [Page 8]

Internet-Draft      Network Disaster Recovery System       February 2014


6.  IANA Considerations

   This document includes no request for IANA.
















































Suzuki                   Expires August 18, 2014                [Page 9]

Internet-Draft      Network Disaster Recovery System       February 2014


 7.   Informative References

    [SDN]   "SDN Research Group".

          <http://irtf.org/sdnrg>














































Suzuki                   Expires August 18, 2014               [Page 10]

Internet-Draft      Network Disaster Recovery System       February 2014


Author's Address

   Toshiaki Suzuki
   Central Research Laboratory, Hitachi, Ltd.
   292 Yoshida-cho
   Totsuka-ku, Yokohama, Kanagawa  244-0817
   Japan

   Phone: +81-50-3135-3066
   Email: toshiaki.suzuki.cs@hitachi.com









































Suzuki                   Expires August 18, 2014               [Page 11]

