


Network Working Group                                        D. Schwartz
Internet-Draft                                  XConnect Global Networks
Intended status: Informational                             D. Besprosvan
Expires: May 15, 2008                                         Mailvision
                                                       November 12, 2007


  Requirements for domain marking for the purpose of Upstream Traffic
                            Characterization
       draft-schwartz-sipping-domain-marking-requirements-00.txt

Status of this Memo

   By submitting this Internet-Draft, each author represents that any
   applicable patent or other IPR claims of which he or she is aware
   have been or will be disclosed, and any of which he or she becomes
   aware will be disclosed, in accordance with Section 6 of BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt.

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html.

   This Internet-Draft will expire on May 15, 2008.

Copyright Notice

   Copyright (C) The IETF Trust (2007).

Abstract

   SIP as defined in RFC 3261 [1] defines a Via header as a construct to
   be used for upstream response routing and for downstream assistance
   in loop detection.  There is an increasing need on downstream
   administrative domains (ADs) to gain visibility into all the ADs in
   its upstream path.  The information needed is not IP based as
   internal architectures at upstream ADs is of no consequence to



Schwartz & Besprosvan     Expires May 15, 2008                  [Page 1]

Internet-Draft         Domain Marking Requirments          November 2007


   downstream ADs.  Logical domain marking, however, is desperately
   needed for any traffic analysis to occur at the receiving side.
   Gathering AD information from Via headers is non obvious and in many
   instances nearly impossible.  This documents identifies the
   requirements for addressing this issue.


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   2.  Terminology . . . . . . . . . . . . . . . . . . . . . . . . . . 3
   3.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   4.  Open Issues . . . . . . . . . . . . . . . . . . . . . . . . . . 4
   5.  Security Considerations . . . . . . . . . . . . . . . . . . . . 4
   6.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 4
   7.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . . . 4
   8.  Normative References  . . . . . . . . . . . . . . . . . . . . . 4
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . . . 5
   Intellectual Property and Copyright Statements  . . . . . . . . . . 6
































Schwartz & Besprosvan     Expires May 15, 2008                  [Page 2]

Internet-Draft         Domain Marking Requirments          November 2007


1.  Introduction

   When receiving a SIP request from an upstream Administrative Domain
   (AD) there is no easy way of identifying administrative domains
   traversed by the SIP request prior to arrival at the current AD.
   While Via information may be available (depending on presence of
   upstream B2BUA), its presence alone may not necessarily shed light
   onto the path traversed in terms of which ADs were hit as there is no
   assurance that a domain name appears in any of the Vias.

   A downstream AD may wish to characterize traffic entering his domain
   for reasons such as SPIT detection or simply to gain visibility into
   the traffic patterns arriving at his servers.

   This document identifies requirements for a new header that can be
   used to pass Administrative Domain Identities downstream in a SIP
   request.


2.  Terminology

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [2].  In
   addition to the above, Terminology in this document makes use of the
   following terminology:

      Administrative Domain (AD):       A collection of SIP entities, 
                                        managed by single administrative 
                                        authority

      Ingress Border SIP Entity (IBSE): The first SIP entity within AD
                                        to process an incoming SIP 
                                        request from an upstream node

      AD Unique Identifier (ADUI):      An identifier that is unique 
                                        only within the context of an 
                                        Administrative Domain

3.  Requirements

      Req 1: It MUST be possible for the first SIP element in an
      Administrative Domain (AD) or the IBSE to uniquely identify the
      source of an incoming SIP request.

      Req 2: It MUST be possible for the IBSE to associate a unique
      identifier (ADUI) to a source and to maintain this ADUI for all
      future requests received from this source.



Schwartz & Besprosvan     Expires May 15, 2008                  [Page 3]

Internet-Draft         Domain Marking Requirments          November 2007


      Req 3: It MUST not be possible for downstream ADs to gain any
      information about upstream ADs from the ADUI list other than their
      uniqueness.

      Req 4: It MUST be possible for the ADUI to be appended to a list
      of ADUIs added by ADs traversed prior to current AD.


4.  Open Issues

      Should this mechanism be extended to SIP responses as well?

      Should there be any requirements on the strength of uniqueness of
      the ADUI?

      Do we want to allow for sub markings within an AD?


5.  Security Considerations

   This document describes the requirements for a new header to assist
   in downstream traffic characterization.  The security concerns are
   related to the ability of certain entities to create/modify/delete
   the unique ID described above.  Any implementation of this document
   will have to address these issues at greater depth.


6.  IANA Considerations

   This document does not require actions by IANA.


7.  Acknowledgements

   Many Thanks to Brocha Strous of Kayote Networks and Jeremy Barkan of
   DigitalShtick for their insightful comments leading to the
   publication of this document.


8.   Normative References

   [1]  Rosenberg, J., Schulzrinne, H., Camarillo, G., Johnston, A.,
        Peterson, J., Sparks, R., Handley, M., and E. Schooler, "SIP:
        Session Initiation Protocol", RFC 3261, June 2002.

   [2]  Bradner, S., "Key words for use in RFCs to Indicate Requirement
        Levels", RFC 2119, March 1997.




Schwartz & Besprosvan     Expires May 15, 2008                  [Page 4]

Internet-Draft         Domain Marking Requirments          November 2007


Authors' Addresses

   David Schwartz
   XConnect Global Networks
   Malcha Technology Park
   Building # 1
   Jerusalem  90961
   Israel

   Phone: +972 52 347 4656
   Email: dschwartz@xconnect.net
   URI:   www.xconnect.net


   Diego Besprosvan
   Mailvision
   10a Haganim Street
   P.O.B. 8460
   Haifa  31084
   Israel

   Phone: +972-4-850-0505 ext 102
   Email: diegob@mailvision.com
   URI:   www.mailvision.com



























Schwartz & Besprosvan     Expires May 15, 2008                  [Page 5]

Internet-Draft         Domain Marking Requirments          November 2007


Full Copyright Statement

   Copyright (C) The IETF Trust (2007).

   This document is subject to the rights, licenses and restrictions
   contained in BCP 78, and except as set forth therein, the authors
   retain all their rights.

   This document and the information contained herein are provided on an
   "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS
   OR IS SPONSORED BY (IF ANY), THE INTERNET SOCIETY, THE IETF TRUST AND
   THE INTERNET ENGINEERING TASK FORCE DISCLAIM ALL WARRANTIES, EXPRESS
   OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF
   THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
   WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.


Intellectual Property

   The IETF takes no position regarding the validity or scope of any
   Intellectual Property Rights or other rights that might be claimed to
   pertain to the implementation or use of the technology described in
   this document or the extent to which any license under such rights
   might or might not be available; nor does it represent that it has
   made any independent effort to identify any such rights.  Information
   on the procedures with respect to rights in RFC documents can be
   found in BCP 78 and BCP 79.

   Copies of IPR disclosures made to the IETF Secretariat and any
   assurances of licenses to be made available, or the result of an
   attempt made to obtain a general license or permission for the use of
   such proprietary rights by implementers or users of this
   specification can be obtained from the IETF on-line IPR repository at
   http://www.ietf.org/ipr.

   The IETF invites any interested party to bring to its attention any
   copyrights, patents or patent applications, or other proprietary
   rights that may cover technology that may be required to implement
   this standard.  Please address the information to the IETF at
   ietf-ipr@ietf.org.


Acknowledgment

   Funding for the RFC Editor function is provided by the IETF
   Administrative Support Activity (IASA).





Schwartz & Besprosvan     Expires May 15, 2008                  [Page 6]

