



RTGWG                                                           Q. Xiong
Internet-Draft                                           ZTE Corporation
Intended status: Standards Track                                  P. Liu
Expires: May 5, 2021                                        China Mobile
                                                        November 1, 2020


           The Requirements for Precise Transport Networking
              draft-xiong-rtgwg-precise-tn-requirements-01

Abstract

   The future networks not only need to offer the Service Level
   Agreements (SLA) guarantees such as low lantency and jitter, low
   packet loss and high reliability, but also need to support the
   precise services such as flexible resource allocation and service
   isolation.  This document proposes a set of performance requirements
   and precise properties for Precise Transport Networking in various
   industries such as 5G networks.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on May 5, 2021.

Copyright Notice

   Copyright (c) 2020 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (https://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must



Xiong & Liu                Expires May 5, 2021                  [Page 1]

Internet-DraftThe Requirements for Precise Transport NetworNovember 2020


   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
   2.  Conventions used in this document . . . . . . . . . . . . . .   3
     2.1.  Terminology . . . . . . . . . . . . . . . . . . . . . . .   3
     2.2.  Requirements Language . . . . . . . . . . . . . . . . . .   3
   3.  Terms of Precise Transport Networking . . . . . . . . . . . .   3
   4.  Requirements of Precise Transport Networking  . . . . . . . .   4
     4.1.  Precise Latency, Jitter, and Packet Loss  . . . . . . . .   4
     4.2.  Precise SLA Guarantees for Converged Networks . . . . . .   4
     4.3.  Precise Resource Allocation . . . . . . . . . . . . . . .   4
     4.4.  Precise Service Isolation . . . . . . . . . . . . . . . .   5
     4.5.  Precise OAM . . . . . . . . . . . . . . . . . . . . . . .   5
   5.  Security Considerations . . . . . . . . . . . . . . . . . . .   5
   6.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .   5
   7.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   5
   8.  Normative References  . . . . . . . . . . . . . . . . . . . .   6
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   6

1.  Introduction

   5G network is oriented to the internet of everything.  In addition to
   the Enhanced Mobile Broadband (eMBB) and Massive Machine Type
   Communications(mMTC) services, it also supports the Ultra-reliable
   Low Latency Communications (uRLLC) services.  The uRLLC services
   cover the industries such as intelligent electrical network,
   intelligent factory, internet of vehicles, industry automation and
   other industrial internet scenarios, which is the key demand of
   digital transformation of vertical domains.  These uRLLC services
   demand SLA guarantees such as low latency and high reliability and
   other deterministic and precise properties.

   For the intelligent electrical network, there are deterministic
   requirements for communication delay, jitter and packet loss rate.
   For example, in the electrical current difference model, a delay of
   3~10ms and a jitter variation is no more than 100us are required.
   The isolation requirement is also important.  For example, the
   automatic operation, control of a process, isochronous data and low
   priority service need to meet the requirements of hard isolation.  In
   addition to the requirements of delay and jitter, the differential
   protection (DP) service needs to be isolated from other services.

   The industrial internet is the key infrastructure that coordinate
   various units of work over various system components, e.g. people,



Xiong & Liu                Expires May 5, 2021                  [Page 2]

Internet-DraftThe Requirements for Precise Transport NetworNovember 2020


   machines and things in the industrial environment including big data,
   cloud computing, Internet of Things (IOT), Augment Reality (AR),
   industrial robots, Artificial Intelligence (AI) and other basic
   technologies.  For example, automation control is one of the basic
   application and the the core is closed-loop control system.  The
   control process cycle is as low as millisecond level, so the system
   communication delay needs to reach millisecond level or even lower to
   ensure the realization of precise control.  There are three levels of
   real-time requirements for industrial interconnection: factory level
   is about 1s, and process level is 10~100ms, and the highest real-time
   requirement is motion control, which requires less than 1ms.

   The future networks not only need to offer the Service Level
   Agreements (SLA) guarantees such as low latency and jitter, low
   packet loss and high reliability, but also need to support the
   precise services such as flexible resource allocation and service
   isolation.  This document proposes a set of performance requirements
   and precise properties for Precise Transport Networking in various
   industries such as 5G networks.

2.  Conventions used in this document

2.1.  Terminology

   The terminology is defined as [RFC8655].

2.2.  Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in BCP
   14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.

3.  Terms of Precise Transport Networking

   IEEE 802.1 Time-Sensitive Networking (TSN) has been proposed to
   provide bounded latency and jitter in L2 LAN networks.  According to
   [RFC8655], Deterministic Networking (DetNet) operates at the IP layer
   and delivers service with extremely low data loss rates and bounded
   latency.

   However, under the existing IP network architecture with statistical
   multiplexing characteristics, the existing deterministic technologies
   are facing long-distance transmission, queue scheduling, dynamic
   flows and other controversial issues as described in [xiong-rtgwg-
   precise-tn-problem-statement].  And besides precise latency, jitter,
   and packet loss, more other precise and deterministic properties and



Xiong & Liu                Expires May 5, 2021                  [Page 3]

Internet-DraftThe Requirements for Precise Transport NetworNovember 2020


   performances should be provided such as flexible resource allocation
   and service isolation and so on.

   Precise Transport Networking is defined to provide precise SLA
   guarantees such as latency, jitter, packet loss rate, reliability,
   and precise control such as flexible resource allocation and service
   isolation and more other precise services intelligently and
   dynamically.  The purpose of the Precise Transport Networking is
   based on the hierarchical structure of the transport network, taking
   advantage of the existing technologies including the flexible precise
   tunnels technology and the deterministic mechanisms, to support the
   end-to-end precise service through the characteristics of slicing
   pieces, hard isolation and preemption characteristics, so as to
   achieve the high-precision of the future networks.

4.  Requirements of Precise Transport Networking

4.1.  Precise Latency, Jitter, and Packet Loss

   It is required to provide precise Latency, jitter and packet loss
   dynamically and flexibly in all scenarios for each characterizd flow.

   The precise requirements of latency includes bounded latency and low
   latency.  The precise requirements of jitter includes bounded jitter
   and low jitter.  So the precise requirements of latency and jitter
   may be the combination of latency and jitter, typically including
   bounded latency and low jitter, low latency and bounded latency, and
   so on.

4.2.  Precise SLA Guarantees for Converged Networks

   It is required to provide precise SLA guarantees for converged
   networks including computing and network convergence, lossless and
   network convergence, etc.

   In some scenarios, such as MEC, it is required to provide precise
   computing for Controlized CFN/APN.  Other resources such as computing
   resources, energy consumption should be considered.  And the
   utilization and optimization of network resources are extremely
   important.

4.3.  Precise Resource Allocation

   As described in [RFC8655], the primary means by which DetNet achieves
   its QoS assurances is to reduce, or even completely eliminate, packet
   loss by the provision of sufficient buffer storage at each node.  But
   it can not be achieved by not sufficient resource which can be




Xiong & Liu                Expires May 5, 2021                  [Page 4]

Internet-DraftThe Requirements for Precise Transport NetworNovember 2020


   allocated due to practical and cost reason.  The existing solutions
   can not achieve the precise resource allocation.

   Precise resource allocation is required along with the explicit path
   with more SLA guarantee parameters like bandwidth, latency, packet
   loss and so on.  The existing technologies such as FlexE and SR
   tunnels should be taken into consideration.

4.4.  Precise Service Isolation

   It is required to provide precise service isolation for every flow.
   In some scenarios, such as intelligent electrical network, the
   isolation requirements are very important.  For example, the
   automatic operation or control of a process or isochronous data and
   service with different priorities need to meet the requirements of
   hard isolation.  In addition to the requirements of delay and jitter,
   the differential protection (DP) service needs to be isolated from
   other services and hard isolated tunnel is required.

4.5.  Precise OAM

   It is required to consider precise service performance detection and
   perception, service support and recovery mechanisms, such as
   millisecond level service monitoring, 0.0001% packet loss awareness,
   etc.  The existing solutions also do not consider the statistics,
   analysis and reporting of service performance.

   Precise OAM is required including service monitoring, perception,
   performance statistics, precise service support and recovery
   mechanism, etc.  The OAM mechanisms should be taken into
   consideration such as In-band OAM, iOAM and so on.

5.  Security Considerations

   TBA

6.  Acknowledgements

   TBA

7.  IANA Considerations

   TBA








Xiong & Liu                Expires May 5, 2021                  [Page 5]

Internet-DraftThe Requirements for Precise Transport NetworNovember 2020


8.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/info/rfc8174>.

   [RFC8655]  Finn, N., Thubert, P., Varga, B., and J. Farkas,
              "Deterministic Networking Architecture", RFC 8655,
              DOI 10.17487/RFC8655, October 2019,
              <https://www.rfc-editor.org/info/rfc8655>.

Authors' Addresses

   Quan Xiong
   ZTE Corporation
   No.6 Huashi Park Rd
   Wuhan, Hubei  430223
   China

   Email: xiong.quan@zte.com.cn


   Peng Liu
   China Mobile
   Beijing  100053
   China

   Email: liupengyjy@chinamobile.com


















Xiong & Liu                Expires May 5, 2021                  [Page 6]
