




Internet Engineering Task Force                           James M. Polk
Internet Draft                                            Cisco Systems
Expiration: Dec 23rd, 2003                                
File: draft-polk-sipping-location-requirements-00.txt     






           Session Initiation Protocol Location Requirements

                           June 23rd, 2003 





Status of this Memo 

   This document is an Internet-Draft and is in full conformance 
   with all provisions of Section 10 of RFC2026. 

   Internet-Drafts are working documents of the Internet Engineering 
   Task Force (IETF), its areas, and its working groups. Note that 
   other groups may also distribute working documents as Internet-
   Drafts. 

   Internet-Drafts are draft documents valid for a maximum of six 
   months and may be updated, replaced, or obsoleted by other 
   documents at any time. It is inappropriate to use Internet-Drafts 
   as reference material or to cite them other than as "work in 
   progress." 

   The list of current Internet-Drafts can be accessed at 
   http://www.ietf.org/ietf/1id-abstracts.txt 

   The list of Internet-Draft Shadow Directories can be accessed 
   at http://www.ietf.org/shadow.html. 


Abstract 

   This document presents the requirements for an extension to the 
   Session Initiation Protocol (SIP) [1] for conveyance of user 
   location information from one Session Initiation Protocol (SIP) 
   User Agent to another SIP User Agent. The idea that in some cases 
   the UAC's location could affect proper routing of the SIP message 
   is explored as well.


Polk                                                           [Page 1]

Internet Draft              SIP Location Reqs           June 23rd, 2003


Table of Contents 
     
   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .  2
       1.1 Conventions . . . . . . . . . . . . . . . . . . . . . . .  3
   2.  In the Body or in a Header  . . . . . . . . . . . . . . . . .  3
   3.  Scope of Location in a Message Body . . . . . . . . . . . . .  4
   4.  Scope of Location in a Message Header . . . . . . . . . . . .  4
       4.1 Location in a Single Header . . . . . . . . . . . . . . .  4
       4.2 Location in Separate Message Headers  . . . . . . . . . .  5
   5.  Requirements for UA-to-UA Location Conveyance . . . . . . . .  5
   6.  Requirements for Proxy-Routed Location Conveyance . . . . . .  6
   7.  Security Considerations . . . . . . . . . . . . . . . . . . .  7
   8.  IANA Considerations   . . . . . . . . . . . . . . . . . . . .  7
   9.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .  8
   10. References  . . . . . . . . . . . . . . . . . . . . . . . . .  8
   11. Author Information  . . . . . . . . . . . . . . . . . . . . .  8
   12. Full Copyright Statement  . . . . . . . . . . . . . . . . . .  8


1.  Introduction

   This document presents the requirements for an extension to the 
   Session Initiation Protocol (SIP) [1] for conveyance of user 
   location information from one Session Initiation Protocol (SIP) 
   User Agent to another SIP User Agent.

   While reasonable people will initially lean strongly towards 
   having any location conveyance in the message body only (where 
   location confidentiality can be maintained), this document 
   examines usage cases where intermediaries must act on the 
   location information in order to determine where the session gets 
   routed. One such example of this is US e911-type emergency 
   sessions (voice or instant messaging). With this in mind, both 
   instances will be looked at here to determine if the requirements 
   are in fact different enough to necessitate two or more 
   solutions.

   To be clear, the two cases that need to be looked at are the 
   following: 

     1. one involving a user of a User Agent wanting to transmit 
        his/her location to another user of a user agent for 
        whatever reason (I want to tell you where I am); and

     2. a second case involving the UAC including its location in 
        order to allow an appropriate Emergency Response Center 
        (ERC) to be contacted, such as a US e911 Public Safety 
        Answering Point (because that User Agent has signaled for 
        help);



Polk                                                           [Page 2]

Internet Draft              SIP Location Reqs           June 23rd, 2003

   This document does not discuss how the UAC discovers or is 
   configured with its Location (either coordinate based or civil 
   based). That work is being accomplished in the Geopriv Working 
   Group.


1.1  Conventions used in this document

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL 
   NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and 
   "OPTIONAL" in this document are to be interpreted as described 
   in [2].


2.  In the Body or in a Header

   When one user agent wants to inform another user agent where they 
   are, it seems reasonable to have this accomplished by placing the 
   location information (coordinate or civil) in an S/Mime registered 
   and encoded message body, and sending it as part of a SIP request or
   response. No routing of the request based on the location 
   information is required in this case; therefore no SIP Proxies 
   between these two UAs need to view the location information 
   contained in the SIP messages.

   However, it may be infeasible to place the location information in 
   the message body of requests where/when message routing is of 
   particular importance for proper session establishment with the 
   intended party or parties (i.e. calling an ERC).

   SIP message bodies are not viewed by Proxy Servers [per 1] in order 
   to do proper call routing. The current proposal in front of the 
   SIPPING WG is to use the mechanism described in [3] to universally 
   signal for help. This "sos@example.com" URI is proposed to describe 
   many, if not all ERCs in a region or country - regardless of the 
   original home domain that UA is from. This poses a particular 
   problem when a User Agent is signaling via a Proxy that is not 
   within the civil boundaries of the appropriate PSAP for that user. 
   For example, a large enterprise has a campus that spans more than 
   one PSAP jurisdiction, a UA initiates a session containing the To 
   header "sos@example.com". Where will that Proxy route the SIP 
   Request to? The problem is compounded if a managed domain only has 
   Proxies in one location of a multi site infrastructure - including 
   the possibility of traversing state or country boundaries in cases 
   in which the UA is mobile.

   Routing a session set-up or instant message, such as SIP MESSAGE 
   from [4], becomes an Achilles Heel for SIP if the user agent is 
   unaware of the correct ERC routing and expects the correct ERC to be
   selected by the SIP proxy routing machinery.. 



Polk                                                           [Page 3]

Internet Draft              SIP Location Reqs           June 23rd, 2003

   This document does not address the behavior or configuration of SIP 
   Proxy Servers in these cases in order to accomplish location-
   sensitive routing. That is out of scope, and left for further 
   (complementary) efforts.


3.  Scope of Location in a Message Body

   If the location information is to be contained within a message 
   body, the rules stated in section 7 of [1] regarding multipart MIME
   bodies MUST be followed. The format and privacy/security rules of 
   the location information SHOULD be defined within the Geopriv WG.


4.  Scope of Location in a Message Header

   If the location information of the UAC is to be contained within the
   SIP message header (verses a message body as stated above), one 
   design issue is whether location field(s) are contained within a 
   single header, or multiple headers. The following 2 subsections 
   cover both of these choices for discussion.


4.1 Location in a Single Header

   Placing location information within a single header of a SIP message
   has some big advantages: 

    - it is easier to specify the semantics when there are missing 
      fields

    - it makes readability much easier when reviewing all the location 
      fields contained within the SIP message header ordered as if in a
      list

    - an order of the location fields can be specified within this 
      single header (ex: Datum, then Latitude, then Longitude, then 
      Altitude, then... or country, then state/province, then 
      county/region, then city, then district/borough...)

   This might be important if section 7.3.1 of [1] is still true 
   expedited parsing in Proxies and at the destination.

   There exist two documents on Location Configuration Information 
   within the Geopriv Working Group, one for Coordinate based location 
   representation (Lat, Long, Alt, Datum, etc) in [5] and one for Civil
   based Location representation (country, State/province, city, etc) 
   in [6]. Each of these documents should be looked to as a basis for 
   consistency in fields present as well as scope of the fields.

   If a field is missing, it probably was left out intentionally by the


Polk                                                           [Page 4]

Internet Draft              SIP Location Reqs           June 23rd, 2003

   UAC (either because that device didn't know what to populate a 
   particular field with, or a policy prevented it from being included 
   within that SIP message).

   Any location privacy policy of a user agent within a particular 
   domain should allow the most precise location available be presented
   as an S/MIME body in the SIP Request or response message once a 
   verifiable ERC is determined to be the intended destination of that 
   session.


4.2 Location in Separate Message Headers

   Creating separate SIP headers for each location field type 
   (latitude, longitude, country, city, etc) does make each header 
   clean and concise. A grouping of these location headers should occur
   for readability when viewing the location headers within a SIP 
   message header. And since expediting the processing of emergency 
   calls is important, the header placement considerations of section 
   7.3.1 of [1] apply to these headers when making emergency calls

   Each of the message headers should be unique in name within a 
   location conveyance type. 

   In providing location information, the UAC should provide as much 
   information as possible within a certain type of location field 
   group (coordinate or civil), and not mix between groups. In other 
   words, a Latitude header should be used if a coordinate location is 
   being provided by the UAC, but is not by itself realistically 
   valuable information if a complete set civil location headers is 
   also present.

   There exist two documents on Location Configuration Information 
   within the Geopriv Working Group, one for Coordinate based location 
   representation (Lat, Long, Alt, Datum, etc) in [5] and one for Civil
   based Location representation (country, State/province, city, etc) 
   in [6]. Each of these documents should be looked to as a basis for 
   consistency in fields present as well as scope of the fields.

   If a desire of the SIP working group is to limit the number of 
   headers that require IANA registration (and coding for), then 
   fulfilling this requirements document will add as little as 2 to 
   that process (1 for coordinate location and 1 for civil location), 
   or as many as 30+ if each location field requires a unique header.


5.  Requirements for UA-to-UA Location Conveyance

   The following are the requirements for UA-to-UA Location Conveyance 
   situations:



Polk                                                           [Page 5]

Internet Draft              SIP Location Reqs           June 23rd, 2003

    REQ UU1 - MUST work with dialog-initiating SIP Requests and 
              responses, as well as the SIP MESSAGE method[4]

    REQ UU2 - the precision of resolution of the location given by the 
              UAC is determined by the UAC, and SHOULD be based on who 
              the UAC is sending this location information to (most 
              likely via local policy)

    REQ UU3 - UAC Location information SHOULD remain confidential in 
              route to the destination UA

    REQ UU4 - The privacy and security rules established within the 
              Geopriv Working Group which would categorize SIP as a 
              'using protocol' MUST be followed [7]

    REQ UU5 - The first sub-field must be what type of location 
              information it is (coordinate, civil, GPS, other)


6.  Requirements for Proxy-Routed Location Conveyance

   The following are the requirements for Proxy-Routed Location 
   Conveyance situations:
   
    REQ PR1  - MUST work with dialog-initiating SIP Requests and 
               responses, as well as the SIP MESSAGE method[4]

    REQ PR2  - a mechanism SHOULD be in place to hide this location 
               header from unwanted observation while in transit to, 
               form, and among SIP intermediaries; but MUST NOT be 
               mandatory for successful conveyance of location (don't 
               want the SIP Request to fail without this mechanism used
               during emergencies)

    REQ PR3  - any mechanism used to prevent unwanted observation of 
               this Location Header(s) CANNOT fail the SIP Request if 
               not understood by intermediary SIP entities or the 
               destination UAS

    REQ PR4  - There SHOULD be a mechanism for the ERC to request the 
               UAC's location information (perhaps more precise 
               location information) after the original SIP Request has
               been received without failing the original SIP Request 
               (which is the most important aspect of this document: 
               that the session is received by the proper ERC)

        It is possible for a Proxy to determine the proper ERC to route
        the SIP Request to (based on the included location information 
        within supplied by the UAC), yet create the situation where the
        ERC does not know enough location information for personnel 
        response to the emergency.


Polk                                                           [Page 6]

Internet Draft              SIP Location Reqs           June 23rd, 2003


    REQ PR5  - A SIP location Header field (probably the first if there
               is an order established to the headers) MUST be what 
               type of location information type it is (coordinate, 
               civil, GPS, other)

    REQ PR6  - SHOULD have the complete location (coordinate or civil) 
               contained within a single header

    REQ PR7  - the most precise resolution (defined in [5])SHOULD be 
               given by the UAC when sending its location to an ERC (or
               equivalent facility)

    REQ PR8  - proxies SHOULD NOT partially remove location 
               information, but MAY remove it in its entirety when 
               crossing a trust boundary to preserve privacy

    REQ PR9  - proxies MAY add location information unknown to the UAC 
               if known to the proxy

    REQ PR10 - if section 7.3.1 of [1] needs to be followed, the 
               Location Header SHOULD be near the top of the SIP 
               message header for rapid parsing purposes

    REQ PR11 - mixed or additional location fields CAN be present 
               providing more precise location information, but MUST be
               uniquely identifiable and SHOULD be relevant

        An example of this might be using the coordinate location 
        header and adding an identifiable cube or office number field
        at the end of the coordinate header.


7.  Security Considerations

   Conveyance of geo-location of a UAC is problematic for many reasons.
   This document calls for that conveyance to normally be accomplished 
   through secure message body means (like S/MIME). In cases where a 
   session set-up is routed based on the location of the UAC initiating
   the session or SIP MESSAGE, containing the location in a message 
   body does no good. At the same time, securing the location in a 
   header might fail in certain times that is detrimental to that 
   session (user). These times are those of emergency sessions (like to
   a US e911-like service). 

   Although not advocated, this document therefore requires that 
   location conveyance in deterministic times of emergency not be bound
   to being confidential universally, as that process might fail and 
   could cost lives.




Polk                                                           [Page 7]

Internet Draft              SIP Location Reqs           June 23rd, 2003

8.  IANA Considerations

   There are no IANA considerations within this document at this 
   time.


9.  Acknowledgements

   To Dave Oran for helping to shape this idea


10. References - Normative

 [1] J. Rosenberg, H. Schulzrinne, G. Camarillo, A. Johnston, J. 
     Peterson, R. Sparks, M. Handley, E. Schooler, "SIP: Session 
     Initiation Protocol ", RFC 3261, June 2002

 [2] S. Bradner, "Key words for use in RFCs to indicate requirement
     levels," RFC 2119, Mar. 1997.

 [3] H. Schulzrinne, "draft-schulzrinne-sipping-sos-04.txt", Internet
     Draft, Jan 03, Work in progress

 [4] B. Campbell, Ed., J. Rosenberg, H. Schulzrinne, C. Huitema, D. 
     Gurle, "Session Initiation Protocol (SIP) Extension for Instant 
     Messaging" , RFC 3428, December 2002

 [5] J. Polk, J. Schnizlein, M. Linsner, " draft-ietf-geopriv-dhcp-lci-
     option-01.txt", Internet Draft, June 2003, Work in progress

 [6] H. Schulzrinne, "draft-schulzrinne-geopriv-dhcp-civil-01.txt", 
     Internet Draft, Feb 03, Work in progress

 [7] J. Cuellar, J. Morris, D. Mulligan, J. Peterson. J. Polk, "draft-
     ietf-geopriv-reqs-03.txt", Internet Draft, Mar 03, Work in 
     progress


11. Author Information

   James M. Polk
   Cisco Systems
   2200 East President George Bush Turnpike
   Richardson, Texas 75082 USA
   jmpolk@cisco.com








Polk                                                           [Page 8]

Internet Draft              SIP Location Reqs           June 23rd, 2003

12. Full Copyright Statement


   "Copyright (C) The Internet Society (February 23rd, 2001). 
   All Rights Reserved.

   This document and translations of it may be copied and furnished to 
   others, and derivative works that comment on or otherwise explain it
   or assist in its implementation may be prepared, copied, published 
   and distributed, in whole or in part, without restriction of any 
   kind, provided that the above copyright notice and this paragraph 
   are included on all such copies and derivative works.  However, this
   document itself may not be modified in any way, such as by removing 
   the copyright notice or references to the Internet Society or other 
   Internet organizations, except as needed for the purpose of 
   developing Internet standards in which case the procedures for 
   copyrights defined in the Internet Standards process must be 
   followed, or as required to translate it into languages other than 
   English.

   The limited permissions granted above are perpetual and will not be 
   revoked by the Internet Society or its successors or assigns.

   This document and the information contained herein is provided on an
   "AS IS" basis and THE INTERNET SOCIETY AND THE INTERNET ENGINEERING 
   TASK FORCE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING 
   BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION 
   HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF 
   MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE."




The Expiration date for this Internet Draft is:

Dec 23rd, 2003















Polk                                                           [Page 9]

