



Network Working Group                                         M. McBride
Internet-Draft                                                 Futurewei
Intended status: Informational                                    J. Xie
Expires: April 1, 2021                                           X. Geng
                                                             S. Dhanaraj
                                                                  Huawei
                                                                R. Asati
                                                                   Cisco
                                                                  Y. Zhu
                                                           China Telecom
                                                               G. Mishra
                                                            Verizon Inc.
                                                                Z. Zhang
                                                                 Juniper
                                                      September 28, 2020


                         BIER IPv6 Requirements
                  draft-ietf-bier-ipv6-requirements-09

Abstract

   There have been several proposed solutions with BIER being used in
   IPv6.  But there hasn't been a document which describes the problem
   and lists the requirements.  The goal of this document is to describe
   the general BIER IPv6 encapsulation problem and detail solution
   requirements, thereby assisting the working group in the development
   of acceptable solutions.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on April 1, 2021.






McBride, et al.           Expires April 1, 2021                 [Page 1]

Internet-Draft           BIER IPv6 Requirements           September 2020


Copyright Notice

   Copyright (c) 2020 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (https://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
     1.1.  Requirements Language . . . . . . . . . . . . . . . . . .   3
     1.2.  Terminology . . . . . . . . . . . . . . . . . . . . . . .   3
   2.  Problem Statement . . . . . . . . . . . . . . . . . . . . . .   3
   3.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . .   4
     3.1.  Mandatory Requirements  . . . . . . . . . . . . . . . . .   4
       3.1.1.  Support various L2 link types . . . . . . . . . . . .   4
       3.1.2.  Support BIER architecture . . . . . . . . . . . . . .   4
       3.1.3.  Support deployment with Non-BFR routers . . . . . . .   4
       3.1.4.  Support OAM . . . . . . . . . . . . . . . . . . . . .   5
     3.2.  Optional Requirements . . . . . . . . . . . . . . . . . .   5
       3.2.1.  Support Fragmentation . . . . . . . . . . . . . . . .   5
       3.2.2.  Support IPSEC ESP . . . . . . . . . . . . . . . . . .   5
   4.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   5
   5.  Security Considerations . . . . . . . . . . . . . . . . . . .   6
   6.  Acknowledgement . . . . . . . . . . . . . . . . . . . . . . .   6
   7.  Normative References  . . . . . . . . . . . . . . . . . . . .   6
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   7

1.  Introduction

   Bit Index Explicit Replication (BIER) [RFC8279] is an architecture
   that provides optimal multicast forwarding, without requiring
   intermediate routers to maintain per-flow state, through the use of a
   multicast-specific BIER header.  [RFC8296] defines two types of BIER
   encapsulation: one is BIER MPLS encapsulation for MPLS environments,
   the other is non-MPLS BIER encapsulation to run without MPLS.  This
   document describes non-MPLS BIER encapsulation in IPv6 environments.
   We explain the requirements of transporting multicast flow overlay
   payload through an IPv6 network underlay using BIER.  The solutions




McBride, et al.           Expires April 1, 2021                 [Page 2]

Internet-Draft           BIER IPv6 Requirements           September 2020


   may use IPv6 forwarding plane and may include IPv6 encapsulation and/
   or generic IPv6 tunnelling.

1.1.  Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

1.2.  Terminology

   o  BIER: Bit Index Explicit Replication.  Provides optimal multicast
      forwarding through adding a BIER header and removing state in
      intermediate routers.

2.  Problem Statement

   The problem is how to transport multicast packets, with non-MPLS BIER
   encapsulation, in an IPv6 environment.  We need to determine where to
   put the BIER header in this IPv6 environment.  With IPv6
   encapsulation being increasingly used for unicast services, such as
   VPN or L2VPN, it may be desirable to have IPv6 encapsulation also
   used in BIER deployments for multicast services such as MVPN.  It may
   also be desirable to not use IPv6 encapsulation except when IPv6
   tunneling (native or GRE/UDP-like) is used to transport BIER packets
   over BIER-incapable routers.

   Below is a simple scenario that needs BIER IPv6-based forwarding:

         +--------------------------------------------+
         |                                            |
         |                                         +------+
         |                                         | BFER |
     +------+       +-------+       +-----+        +------+
     | BFIR |       |Non-BFR|       | BFR |           |
     +------+       +-------+       +-----+        +------+
         |                                         | BFER |
         |                IPv6 Network             +------+
         |                                            |
         +--------------------------------------------+

   This scenario depicts the need to replicate BIER packets from a BFIR
   to BFERs across an IPv6 Service Provider core.  Inside the IPv6
   network, the BIER header is used to direct the packet from one BFR to
   the next BFRs, and either a IPv6 header or an L2/tunnel header is
   used to provide reachability between BFRs.  The IPv6 environment may
   include a variety of link types, may be entirely IPv6, or may be dual
   stack.  There may be cases where not all routers are BFR capable in



McBride, et al.           Expires April 1, 2021                 [Page 3]

Internet-Draft           BIER IPv6 Requirements           September 2020


   the IPv6 environment but still want to deploy BIER.  Regardless of
   the environment, the problem is to deploy BIER, with non-MPLS BIER
   encapsulation, in an IPv6 network.

3.  Requirements

   There are several suggested requirements for BIER IPv6 solutions.

   In this document, the requirements are divided into two levels:
   Mandatory and Optional.  The requirement levels are determined based
   on the following factors:

      If the requirement is required for a feature that is likely to be
      a potential deployment, the requirement level will be considered
      mandatory.

      If the impact of not implementing the requirement may block BIER
      from been deployed, the requirement level will be considered
      mandatory.

3.1.  Mandatory Requirements

   Considering that these mandatory requirements are all well-known to
   the working group, and practical in normal deployment, they will be
   listed without a detailed description.

3.1.1.  Support various L2 link types

   The solution should support various kinds of L2 data link types.

3.1.2.  Support BIER architecture

   The solution must support the BIER architecture.

   Supporting different multicast flow overlays, multiple sub-domains,
   multi-topologies, multiple sets, multiple Bit String Lengths, and
   deterministic ECMP are considered essential functions of BIER and
   need to be supported.

3.1.3.  Support deployment with Non-BFR routers

   The solution must support deployments with BIER-incapable routers.
   This is beneficial to the deployment of BIER, especially in early
   deployments when some routers do not support BIER forwarding but
   support IPv6 forwarding.






McBride, et al.           Expires April 1, 2021                 [Page 4]

Internet-Draft           BIER IPv6 Requirements           September 2020


3.1.4.  Support OAM

   BIER OAM tools like [I-D.ietf-bier-ping] and [I-D.ietf-bier-pmmm-oam]
   should be supported, either directly using existing methods, or by
   specifying a new method for the same functionality.  They are likely
   to be needed in normal BIER deployment for diagnostics.

3.2.  Optional Requirements

   The requirements in this section are listed as optional, and each
   requirement is explained with a detailed scenario.  Note that
   fragmentation and IPSEC ESP are not BIER functions, they are provided
   by the upper IP layer.

3.2.1.  Support Fragmentation

   There are some cases where the Fragmentation/Assembly function is
   needed for BIER to work in an IPv6 network.

   For example, a customer IPv6 multicast packet may be 1280 bytes and
   is required to be transported through an IPv6 network using BIER.
   Every link of the IPv6 network is no less than the requisite 1280
   bytes [RFC8200], but the size of the payload that can be encapsulated
   in BIER (BIER-MTU) is less than 1280 bytes.  In this case, it is not
   the appropriate action for a BFIR to drop the packet and advertise an
   MTU to the source [RFC8296].  Instead, some transport mechanism needs
   to provide the fragmentation and assembly function.

3.2.2.  Support IPSEC ESP

   There are some cases where the IPSEC ESP function may be needed to
   transport c-multicast packets through an IPv6 network with
   confidentiality using BIER technology.

   A service provider may want to provide additional security SLA to its
   customer to ensure that the unencrypted c-multicast packet is not
   altered in the service provider's network.  In this case, if the BIER
   technology is preferred for the multicast service, BIER with IPSEC
   ESP support may be a candidate solution.  On the other hand, the
   traffic protection may be better provided via IPSEC or MACSEC at
   multicast flow overlay over and beyond the BIER domain.

4.  IANA Considerations

   Some BIER IPv6 encapsulation proposals do not require any action from
   IANA while other proposals require new IPv6 Option codepoints from
   IPv6 sub-registries, new "Next header" values, or require new IP




McBride, et al.           Expires April 1, 2021                 [Page 5]

Internet-Draft           BIER IPv6 Requirements           September 2020


   Protocol codes.  This document, however, does not require anything
   from IANA.

5.  Security Considerations

   There are no security issues introduced by this draft.

6.  Acknowledgement

   Thanks to Eric Rosen for his listed set of initial requirements on
   the BIER WG mailing list.

7.  Normative References

   [I-D.ietf-bier-ping]
              Nainar, N., Pignataro, C., Akiya, N., Zheng, L., Chen, M.,
              and G. Mirsky, "BIER Ping and Trace", draft-ietf-bier-
              ping-07 (work in progress), May 2020.

   [I-D.ietf-bier-pmmm-oam]
              Mirsky, G., Zheng, L., Chen, M., and G. Fioccola,
              "Performance Measurement (PM) with Marking Method in Bit
              Index Explicit Replication (BIER) Layer", draft-ietf-bier-
              pmmm-oam-08 (work in progress), May 2020.

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.

   [RFC8200]  Deering, S. and R. Hinden, "Internet Protocol, Version 6
              (IPv6) Specification", STD 86, RFC 8200,
              DOI 10.17487/RFC8200, July 2017,
              <https://www.rfc-editor.org/info/rfc8200>.

   [RFC8279]  Wijnands, IJ., Ed., Rosen, E., Ed., Dolganow, A.,
              Przygienda, T., and S. Aldrin, "Multicast Using Bit Index
              Explicit Replication (BIER)", RFC 8279,
              DOI 10.17487/RFC8279, November 2017,
              <https://www.rfc-editor.org/info/rfc8279>.

   [RFC8296]  Wijnands, IJ., Ed., Rosen, E., Ed., Dolganow, A.,
              Tantsura, J., Aldrin, S., and I. Meilik, "Encapsulation
              for Bit Index Explicit Replication (BIER) in MPLS and Non-
              MPLS Networks", RFC 8296, DOI 10.17487/RFC8296, January
              2018, <https://www.rfc-editor.org/info/rfc8296>.





McBride, et al.           Expires April 1, 2021                 [Page 6]

Internet-Draft           BIER IPv6 Requirements           September 2020


Authors' Addresses

   Mike McBride
   Futurewei

   Email: michael.mcbride@futurewei.com


   Jingrong Xie
   Huawei

   Email: xiejingrong@huawei.com


   Xuesong Geng
   Huawei

   Email: gengxuesong@huawei.com


   Senthil Dhanaraj
   Huawei

   Email: senthil.dhanaraj@huawei.com


   Rajiv Asati
   Cisco

   Email: rajiva@cisco.com


   Yongqing Zhu
   China Telecom

   Email: zhuyq8@chinatelecom.cn


   Gyan Mishra
   Verizon Inc.

   Email: gyan.s.mishra@verizon.com


   Zhaohui Zhang
   Juniper

   Email: zzhang@juniper.net



McBride, et al.           Expires April 1, 2021                 [Page 7]
